<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Tukar Kata Laluan</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-lock text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <button
            class="btn btn-default text-white btn-icon btn-3"
            (click)="changeNewPassword()"
            [disabled]="!passwordFormGroup.valid"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-user-edit"></i
            ></span>
            <span class="btn-inner--text">Tukar kata laluan</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0 text-white">Tukar Kata Laluan</h3>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <form [formGroup]="passwordFormGroup">
                <div class="form-group">
                  <label class="form-control-label">Nama Penuh</label>
                  <input
                    class="form-control"
                    formControlName="full_name"
                    placeholder="Nama Penuh"
                    type="text"
                    readonly
                  />
                </div>
                <div class="form-group">
                  <label class="form-control-label">Emel</label>
                  <input
                    class="form-control"
                    formControlName="email"
                    placeholder="Emel"
                    type="email"
                    readonly
                  />
                </div>
                <div class="form-group">
                  <label class="form-control-label">Kata Laluan Baru</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-primary">
                        <i class="fas fa-lock text-white"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Kata Laluan Baru"
                      [type]="password1 ? 'text' : 'password'"
                      formControlName="password1"
                    />
                    <div
                      class="input-group-append"
                      (click)="changePassword1Icon()"
                    >
                      <span class="input-group-text"
                        ><i
                          *ngIf="!password1"
                          class="fas fa-eye-slash fa-lg"
                          style="color: gainsboro"
                        ></i>
                        <i
                          *ngIf="password1"
                          class="fas fa-eye fa-lg"
                          style="color: black"
                        ></i
                      ></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-control-label"
                    >Ulang Kata Laluan Baru</label
                  >
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-primary">
                        <i class="fas fa-lock text-white"></i>
                      </span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Ulang Kata Laluan Baru"
                      [type]="password2 ? 'text' : 'password'"
                      formControlName="password2"
                    />
                    <div
                      class="input-group-append"
                      (click)="changePassword2Icon()"
                    >
                      <span class="input-group-text"
                        ><i
                          *ngIf="!password2"
                          class="fas fa-eye-slash fa-lg"
                          style="color: gainsboro"
                        ></i>
                        <i
                          *ngIf="password2"
                          class="fas fa-eye fa-lg"
                          style="color: black"
                        ></i
                      ></span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="row">
                <div class="col">
                  <div class="alert alert-danger text-justify" role="alert">
                    Kata laluan mestilah mempunyai sekurang-kurangnya 1 huruf
                    kecil, 1 huruf besar, nombor dan simbol khas. Panjang kata
                    laluan mestilah melebihi 8 patah perkataan.
                  </div>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col">
                  <div class="card bg-white m-0">
                    <div class="card-body">
                      <p
                        style="font-size: 1rem"
                        [ngClass]="
                          passwordFormGroup.controls['password1'].hasError(
                            'required'
                          ) ||
                          passwordFormGroup.controls['password1'].hasError(
                            'minlength'
                          )
                            ? 'text-danger'
                            : 'text-success'
                        "
                      >
                        <i
                          [ngClass]="
                            passwordFormGroup.controls['password1'].hasError(
                              'required'
                            ) ||
                            passwordFormGroup.controls['password1'].hasError(
                              'minlength'
                            )
                              ? 'fas fa-times-circle'
                              : 'fas fa-check-circle'
                          "
                        ></i>
                        Panjang 8 aksara atau lebih
                      </p>

                      <p
                        style="font-size: 1rem"
                        [ngClass]="
                          passwordFormGroup.controls['password1'].hasError(
                            'required'
                          ) ||
                          passwordFormGroup.controls['password1'].hasError(
                            'hasCapitalCase'
                          )
                            ? 'text-danger'
                            : 'text-success'
                        "
                      >
                        <i
                          [ngClass]="
                            passwordFormGroup.controls['password1'].hasError(
                              'required'
                            ) ||
                            passwordFormGroup.controls['password1'].hasError(
                              'hasCapitalCase'
                            )
                              ? 'fas fa-times-circle'
                              : 'fas fa-check-circle'
                          "
                        ></i>
                        Sekurang-kurangnya 1 huruf besar (A-Z)
                      </p>

                      <p
                        style="font-size: 1rem"
                        [ngClass]="
                          passwordFormGroup.controls['password1'].hasError(
                            'required'
                          ) ||
                          passwordFormGroup.controls['password1'].hasError(
                            'hasSmallCase'
                          )
                            ? 'text-danger'
                            : 'text-success'
                        "
                      >
                        <i
                          [ngClass]="
                            passwordFormGroup.controls['password1'].hasError(
                              'required'
                            ) ||
                            passwordFormGroup.controls['password1'].hasError(
                              'hasSmallCase'
                            )
                              ? 'fas fa-times-circle'
                              : 'fas fa-check-circle'
                          "
                        ></i>
                        Sekurang-kurangnya 1 huruf kecil (a-z)
                      </p>

                      <p
                        style="font-size: 1rem"
                        [ngClass]="
                          passwordFormGroup.controls['password1'].hasError(
                            'required'
                          ) ||
                          passwordFormGroup.controls['password1'].hasError(
                            'hasNumber'
                          )
                            ? 'text-danger'
                            : 'text-success'
                        "
                      >
                        <i
                          [ngClass]="
                            passwordFormGroup.controls['password1'].hasError(
                              'required'
                            ) ||
                            passwordFormGroup.controls['password1'].hasError(
                              'hasNumber'
                            )
                              ? 'fas fa-times-circle'
                              : 'fas fa-check-circle'
                          "
                        ></i>
                        Sekurang-kurangnya 1 nombor (0-9)
                      </p>

                      <p
                        style="font-size: 1rem"
                        [ngClass]="
                          passwordFormGroup.controls['password1'].hasError(
                            'required'
                          ) ||
                          passwordFormGroup.controls['password1'].hasError(
                            'hasSpecialCharacters'
                          )
                            ? 'text-danger'
                            : 'text-success'
                        "
                      >
                        <i
                          [ngClass]="
                            passwordFormGroup.controls['password1'].hasError(
                              'required'
                            ) ||
                            passwordFormGroup.controls['password1'].hasError(
                              'hasSpecialCharacters'
                            )
                              ? 'fas fa-times-circle'
                              : 'fas fa-check-circle'
                          "
                        ></i>
                        Mengandungi sekurang-kurangnya 1 simbol khas (!@#$%^&*)
                      </p>

                      <p
                        style="font-size: 1rem"
                        [ngClass]="
                          passwordFormGroup.controls['password2'].hasError(
                            'required'
                          ) ||
                          passwordFormGroup.controls['password2'].hasError(
                            'NoPassswordMatch'
                          )
                            ? 'text-danger'
                            : 'text-success'
                        "
                      >
                        <i
                          [ngClass]="
                            passwordFormGroup.controls['password2'].hasError(
                              'required'
                            ) ||
                            passwordFormGroup.controls['password2'].hasError(
                              'NoPassswordMatch'
                            )
                              ? 'fas fa-times-circle'
                              : 'fas fa-check-circle'
                          "
                        ></i>
                        Ulang Kata Laluan mestilah sama dengan Kata Laluan
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
