<div class="wrapper">
    <div class="page-header header-filter contactus-3">
        <div class="page-header-image" style="background-image: url('assets/img/andre-benz.jpg');"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="title">Mempunyai soalan?</h1>
                    <h3>Kami ingin berbual mengenai apa yang diperlukan anda</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container-fluid">
            <div class="row infos mb-5">
                <div class="col-lg-3">
                    <div class="info info-hover">
                        <div class="icon icon-primary">
                            <img class="bg-blob" src="assets/img/feature-blob/primary.png" />

                            <i class="tim-icons icon-square-pin"> </i>
                        </div>
                        <h4 class="info-title">Alamat</h4>
                        <p class="description">53, Jalan Perdana, 50480 Kuala Lumpur MALAYSIA</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info info-hover">
                        <div class="icon icon-info">
                            <img class="bg-blob" src="assets/img/feature-blob/info.png" />

                            <i class="tim-icons icon-email-85"> </i>
                        </div>
                        <h4 class="info-title">Emel</h4>
                        <p class="description">info@planet.gov.my</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info info-hover">
                        <div class="icon icon-warning">
                            <img class="bg-blob" src="assets/img/feature-blob/warning.png" />

                            <i class="tim-icons icon-mobile"> </i>
                        </div>
                        <h4 class="info-title">Tel</h4>
                        <p class="description">+603-2273 4303</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="info info-hover">
                        <div class="icon icon-success">
                            <img class="bg-blob" src="assets/img/feature-blob/success.png" />

                            <i class="tim-icons icon-paper"> </i>
                        </div>
                        <h4 class="info-title">Fax</h4>
                        <p class="description">+603-2273 5488</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-4 pt-5">
                <div class="col-md-8 ml-auto mr-auto text-center mt-5">
                    <span class="badge badge-info"> Tinggalkan pesanan </span>
                    <h4 class="desc">
                        Jika anda mempunyai soalan ataupun cadangan, sila hubungi kami.
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <form class="p-3" id="contact-form" method="post" role="form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label> Nama penuh </label>
                                    <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="tim-icons icon-single-02"> </i>
                                            </span>
                                        </div>
                                        <input aria-label="Nama penuh..." class="form-control"
                                            placeholder="Nama penuh..." type="text" (blur)="focus = false"
                                            (focus)="focus = true" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> No. tel </label>
                                        <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="tim-icons icon-book-bookmark"> </i>
                                                </span>
                                            </div>
                                            <input aria-label="No. tel..." class="form-control"
                                                placeholder="No. tel..." type="text" (blur)="focus1 = false"
                                                (focus)="focus1 = true" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Alamat emel </label>
                                <div class="input-group" [ngClass]="{ 'input-group-focus': focus2 === true }">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="tim-icons icon-email-85"> </i>
                                        </span>
                                    </div>
                                    <input class="form-control" placeholder="Emel anda..." type="text"
                                        (blur)="focus2 = false" (focus)="focus2 = true" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Pesanan anda </label>
                                <textarea class="form-control" id="message" name="message" rows="6"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6 ml-auto">
                                    <button class="btn btn-default btn-round pull-right" type="submit">
                                        Hantar pesanan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div 
        class="map-leaflet"
        leaflet 
        [leafletOptions]="options">
    </div>
</div>