.brand-img {
  max-height: 3.5rem !important;
  margin-right: 0.2rem !important;
}

.dropdown-item {
  color: black;
  font-size: .9rem;
}

.required-field::after {
  content: " *";
  color: red;
}

.navbar {
  // background: rgba(53, 70, 117, 0.5);
  background: rgba(32, 34, 81, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-link {
  cursor: pointer;
}
