<div class="wrapper">
    <div class="page-header page-header-small header-filter">
        <div class="page-header-image rellax" data-parallax="true"
            style="background-image: url('assets/img/publication/publication.jpeg');"></div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h1 class="title">
                        Perpustakaan Maya
                    </h1>
                    <h2 class="description">Alami perpustakaan secara maya.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="cd-section" id="testimonials">
        <div class="testimonials-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">Perpustakaan Maya</h2>
                    </div>
                </div>
                <carousel [showIndicators]="false" class="carousel-team">
                    <slide>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 mr-auto">
                                    <div class="space-100"></div>
                                    <h3 class="card-title">Learner Six Sigma</h3>
                                    <h3 class="text-warning">• • •</h3>
                                    <h4 class="description">
                                    </h4>
                                    <a class="btn btn-warning" arget="_blank" href="assets/img/virtual/pdf-learner.pdf">
                                       Baca
                                    </a>
                                </div>
                                <div class="col-md-6 ml-auto">
                                    <img alt="Second slide" class="d-block" src="assets/img/virtual/img-learner.png" />
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 mr-auto">
                                    <div class="space-100"></div>
                                    <h3 class="card-title">Math Makers</h3>
                                    <h3 class="text-warning">• • •</h3>
                                    <h4 class="description">
                                    </h4>
                                    <a class="btn btn-warning" arget="_blank" href="assets/img/virtual/pdf-math.pdf">
                                       Baca
                                    </a>
                                </div>
                                <div class="col-md-6 ml-auto">
                                    <img alt="Second slide" class="d-block" src="assets/img/virtual/img-math.png" />
                                </div>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 mr-auto">
                                    <div class="space-100"></div>
                                    <h3 class="card-title">Mental Health Disorders</h3>
                                    <h3 class="text-warning">• • •</h3>
                                    <h4 class="description">
                                    </h4>
                                    <a class="btn btn-warning" arget="_blank" href="assets/img/virtual/pdf-mental.pdf">
                                       Baca
                                    </a>
                                </div>
                                <div class="col-md-6 ml-auto">
                                    <img alt="Second slide" class="d-block" src="assets/img/virtual/img-mental.png" />
                                </div>
                            </div>
                        </div>
                    </slide>

                    <slide>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 mr-auto">
                                    <div class="space-100"></div>
                                    <h3 class="card-title">Outer Space and Culture</h3>
                                    <h3 class="text-warning">• • •</h3>
                                    <h4 class="description">
                                    </h4>
                                    <a class="btn btn-warning" arget="_blank" href="assets/img/virtual/pdf-outer.pdf">
                                       Baca
                                    </a>
                                </div>
                                <div class="col-md-6 ml-auto">
                                    <img alt="Second slide" class="d-block" src="assets/img/virtual/img-outer.png" />
                                </div>
                            </div>
                        </div>
                    </slide>

                    <slide>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 mr-auto">
                                    <div class="space-100"></div>
                                    <h3 class="card-title">Statistics, Data Mining & Machine Learning in Astronomy</h3>
                                    <h3 class="text-warning">• • •</h3>
                                    <h4 class="description">
                                    </h4>
                                    <a class="btn btn-warning" arget="_blank" href="assets/img/virtual/pdf-statistics.pdf">
                                       Baca
                                    </a>
                                </div>
                                <div class="col-md-6 ml-auto">
                                    <img alt="Second slide" class="d-block" src="assets/img/virtual/img-statistics.png" />
                                </div>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>