<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/publication/publication.jpeg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Perpustakaan Maya</h1>
          <h2 class="description">Alami perpustakaan secara maya.</h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img src="../../../assets/img/show/show-1.jpg" alt="second slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../assets/img/show/show-2.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../assets/img/show/show-3.jpg" alt="first slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
  </div>
  <div class="cd-section bg-white" id="testimonials">
    <div class="testimonials-1">
      <div class="container">
        <h2 class="title text-center text-dark">Senarai Perpustakaan Maya</h2>
        <div class="row pb-3">
          <carousel [showIndicators]="true" class="carousel-team">
            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-5 mr-auto">
                    <div class="space-100"></div>
                    <h3 class="card-title text-dark">Learner Six Sigma</h3>
                    <p class="description text-dark text-justify">
                      Six Sigma was developed by Motorola in 1981, to reduce
                      defects. During the 1980s, it spread to recognized
                      companies including General Electric and AlliedSignal. Six
                      Sigma incorporated Total Quality Management (TQM) as well
                      as Statistical Process Control (SPC) and expanded from a
                      manufacturing focus to other industries and processes.
                      Motorola documented more than $16 billion in savings. This
                      is when many other companies decided to adopt the
                      methodology. Naturally, the Six Sigma methodology has
                      evolved over time. A core belief is that manufacturing and
                      business processes share characteristics that can be
                      measured, analyzed, improved and controlled.
                    </p>
                    <a
                      class="btn btn-info"
                      target="_blank"
                      href="assets/img/virtual/pdf-learner.pdf"
                    >
                      Baca
                    </a>
                  </div>
                  <div class="col-md-6 ml-auto">
                    <img
                      alt="Second slide"
                      class="d-block"
                      src="assets/img/virtual/img-learner.png"
                    />
                  </div>
                </div>
              </div>
            </slide>
            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-5 mr-auto">
                    <div class="space-100"></div>
                    <h3 class="card-title text-dark">Math Makers</h3>
                    <p class="description text-dark text-justify">
                      It is unfortunate that in our culture, mathematics, in
                      general, is viewed un- favorably by a majority of
                      well-educated people. Oftentimes they are proud to admit
                      that they were not good students of mathematics in their
                      school days. Admitting this weakness is almost like a
                      badge of honor, which is rarely attributed to any other
                      school subject. Despite its negative reputation,
                      mathematics has contributed immensely to humanity’s shared
                      knowledge of how the world works, and to the technological
                      progress, which provides our lives with previously
                      unforeseen advantages. Galileo Galilei stated that the
                      book of nature is written in the language of mathematics,
                      and, indeed, our understanding of nature through physics
                      and other natural sciences is largely dependent on
                      mathematics.
                    </p>
                    <a
                      class="btn btn-info"
                      target="_blank"
                      href="assets/img/virtual/pdf-math.pdf"
                    >
                      Baca
                    </a>
                  </div>
                  <div class="col-md-6 ml-auto">
                    <img
                      alt="Second slide"
                      class="d-block"
                      src="assets/img/virtual/img-math.png"
                    />
                  </div>
                </div>
              </div>
            </slide>
            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-5 mr-auto">
                    <div class="space-100"></div>
                    <h3 class="card-title text-dark">
                      Mental Health Disorders
                    </h3>
                    <p class="description text-dark text-justify">
                      Mental health encompasses thoughts, actions, and feelings.
                      Men- tally healthy individuals are able to cope with
                      life’s challenges, handle stressful situations, deal with
                      anger, maintain meaningful relationships with others, and
                      enjoy life. Despite the benefits, maintaining a healthy
                      mind is not always possible, and mental disorders are
                      common. Mental illnesses are common in the United States.
                      Nearly one in five U.S. adults suffer from mental illness,
                      which is estimated to be 44.7 million in 2016. Mental
                      illnesses include many different conditions that vary in
                      degree of severity, ranging from mild to moderate to
                      severe and estimates suggest that only half of people with
                      mental illnesses receive treatment.
                    </p>
                    <a
                      class="btn btn-info"
                      target="_blank"
                      href="assets/img/virtual/pdf-mental.pdf"
                    >
                      Baca
                    </a>
                  </div>
                  <div class="col-md-6 ml-auto">
                    <img
                      alt="Second slide"
                      class="d-block"
                      src="assets/img/virtual/img-mental.png"
                    />
                  </div>
                </div>
              </div>
            </slide>

            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-5 mr-auto">
                    <div class="space-100"></div>
                    <h3 class="card-title text-dark">
                      Outer Space and Culture
                    </h3>
                    <p class="description text-dark text-justify">
                      This article explores how the two world superpowers during
                      the Cold War, the United States of America and the Union
                      of Soviet Socialist Republics, used mass media as a tool
                      to rally support and invoke nationalistic pride for their
                      respective space programmes. Five specific examples of
                      mass media, including magazine articles, films and
                      posters, are analysed in this context. It also discusses
                      the unique socio-economic setting of the Space Race and
                      how the need for space superiority led to the
                      unprecedented investment, development and breakthroughs in
                      space technologies.
                    </p>
                    <a
                      class="btn btn-info"
                      target="_blank"
                      href="assets/img/virtual/pdf-outer.pdf"
                    >
                      Baca
                    </a>
                  </div>
                  <div class="col-md-6 ml-auto">
                    <img
                      alt="Second slide"
                      class="d-block"
                      src="assets/img/virtual/img-outer.png"
                    />
                  </div>
                </div>
              </div>
            </slide>

            <slide>
              <div class="container">
                <div class="row">
                  <div class="col-md-5 mr-auto">
                    <div class="space-100"></div>
                    <h3 class="card-title text-dark">
                      Statistics, Data Mining & Machine Learning in Astronomy
                    </h3>
                    <p class="description text-dark text-justify">
                      This book provides the interface between astronomical data
                      analysis problems and modern statistical methods. It is
                      aimed at physical and data scientists who have an under-
                      standing of the science drivers for analyzing large data
                      sets but may not be aware of developments in statistical
                      techniques over the last decade. The book targets
                      researchers who want to use existing methods for analysis
                      of large data sets, rather than those interested in the
                      development of new methods. Theoretical discussions are
                      limited to the minimum required to understand the
                      algorithms. Nevertheless, extensive and detailed
                      references to relevant specialist literature are
                      interspersed throughout the book.
                    </p>
                    <a
                      class="btn btn-info"
                      target="_blank"
                      href="assets/img/virtual/pdf-statistics.pdf"
                    >
                      Baca
                    </a>
                  </div>
                  <div class="col-md-6 ml-auto">
                    <img
                      alt="Second slide"
                      class="d-block"
                      src="assets/img/virtual/img-statistics.png"
                    />
                  </div>
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>
