<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/show/nasa.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Kembara Simulasi</h1>
          <h2 class="description">
            Alamilah pengalaman sebagai Angkasawan di dalam Space Pod menuju ke
            ISS.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img src="../../../assets/img/show/show-1.jpg" alt="second slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../assets/img/show/show-2.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../assets/img/show/show-3.jpg" alt="first slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container pb-3">
        <h2 class="title text-center text-dark">Kembara Simulasi</h2>
        <div class="row">
          <div class="col">
            <p class="text-dark text-justify" style="font-size: 1rem">
              Kemudahan terkini di ruang pameran Planetarium Negara yang
              merupakan simulator yang dapat memberikan pengalaman penerokaan
              dan penerbangan ke angkasa lepas menggunakan simulasi komputer dan
              dalam masa yang sama pengunjung akan merasai pengalaman pergerakan
              tiga dimensi dengan kebebasan pergerakan 360 darjah.
            </p>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-md-6 col-sm-12">
            <div class="card card-blog card-background" data-animation="true">
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/space-pod/SPACEPOD.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <h4 class="card-category">Space Pod</h4>
                  <a href="javascript:void(0)"
                    ><h3 class="card-title">
                      Rasai pengalaman berada di angkasa
                    </h3></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="card card-blog card-background" data-animation="true">
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/space-pod/SPACEPOD 2.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <h4 class="card-category">Space Pod</h4>
                  <a href="javascript:void(0)"
                    ><h3 class="card-title">
                      Rasai pengalaman berada di angkasa
                    </h3></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button
              class="btn btn-default btn-round"
              data-target="#myModal"
              (click)="clickBook()"
            >
              <h2 class="m-0 title">Tempah</h2>
            </button>
          </div>
        </div>
        <h2 class="title text-center text-dark">
          Maklum Balas Kembara Simulasi
        </h2>
        <div class="row pb-3">
          <div class="col-md-12">
            <carousel>
              <slide>
                <div class="text-center py-5 bg-white text-dark">
                  <h2 class="text-dark">Ahmad Hussin</h2>
                  <div>
                    <h3 class="text-dark">Sangat menarik</h3>
                    <p class="text-dark">
                      Best sangat dapat tengok angkasa depan mata.
                    </p>
                  </div>
                </div>
              </slide>
              <slide>
                <div class="text-center py-5 bg-white text-dark">
                  <h2 class="text-dark">Siti Sarah</h2>
                  <div>
                    <h3 class="text-dark">Pengalaman yang mendebarkan</h3>
                    <p class="text-dark">
                      First time tengok angkasa tanpa pergi angkasa. Hahaha.
                    </p>
                  </div>
                </div>
              </slide>
              <slide>
                <div class="text-center py-5 bg-white text-dark">
                  <h2 class="text-dark">K. Muthusamy</h2>
                  <div>
                    <h3 class="text-dark">5 Bintang</h3>
                    <p class="text-dark">
                      Bila pergi planetarium negara, mesti pergi sini dulu.
                    </p>
                  </div>
                </div>
              </slide>
            </carousel>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-lg-12">
            <section class="center glide-simulator">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                  <li class="glide__slide">
                    <div class="card p-2">
                      <div class="card-image">
                        <img
                          class="img img-raised rounded"
                          src="assets/img/space-pod/SPACEPOD.jpg"
                        />
                      </div>
                    </div>
                  </li>

                  <li class="glide__slide">
                    <div class="card p-2">
                      <div class="card-image">
                        <img
                          class="img img-raised rounded"
                          src="assets/img/space-pod/SPACEPOD 2.jpg"
                        />
                      </div>
                    </div>
                  </li>
                </ul>

                <div class="text-center pb-3">
                  <div data-glide-el="controls">
                    <button
                      class="btn btn-round btn-icon btn-primary btn-simple slick-prev slick-arrow"
                      data-glide-dir="<"
                      aria-label="Previous"
                      type="button"
                    >
                      <i class="tim-icons icon-minimal-left"></i>
                    </button>
                    <button
                      class="btn btn-round btn-icon btn-primary btn-simple slick-next slick-arrow"
                      data-glide-dir=">"
                      aria-label="Next"
                      type="button"
                    >
                      <i class="tim-icons icon-minimal-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>

<div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade"
  #myModal="bs-modal"
  id="myModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button
          aria-hidden="true"
          class="close"
          data-dismiss="modal"
          type="button"
          (click)="myModal.hide()"
        >
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <h4 class="title title-up">Tempahan Tiket</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Jenis Tiket</th>
                <th scope="col" class="text-right">Kuantiti</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Dewasa</th>
                <td class="text-right">
                  <ngx-number-spinner
                    [value]="0"
                    (change)="changeAdultQuantity($event)"
                    [min]="0"
                  >
                  </ngx-number-spinner>
                </td>
              </tr>
              <tr>
                <th scope="row">Kanak-kanak bawah 12 tahun</th>
                <td class="text-right">
                  <ngx-number-spinner
                    [value]="0"
                    (change)="changeChildrenQuantity($event)"
                    [min]="0"
                  >
                  </ngx-number-spinner>
                </td>
              </tr>
              <tr>
                <th scope="row">Warga emas</th>
                <td class="text-right">
                  <ngx-number-spinner
                    [value]="0"
                    (change)="changeSeniorQuantity($event)"
                    [min]="0"
                  >
                  </ngx-number-spinner>
                </td>
              </tr>
              <tr>
                <th scope="row">Jumlah</th>
                <td class="text-right">RM25.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-danger"
          data-dismiss="modal"
          type="button"
          (click)="myModal.hide()"
        >
          Batal
        </button>
        <button
          class="btn btn-default"
          type="button"
          [routerLink]="['/payment']"
        >
          Tempah
        </button>
      </div>
    </div>
  </div>
</div>
