.section {
  padding: 1px 0;
}

.required-field::after {
  content: " *";
  color: red;
}

.form-control[readonly] {
  background-color: #e9ecef !important;
}

.modal-content .modal-body form .form-check .form-check-label {
  padding-left: 0px;
}

.form-check-radio .form-check-inline .form-check-label {
  margin-right: 0px;
}