<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/visit/nasa.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Lawatan</h1>
          <h2 class="description">
            Anda boleh membuat tempahan awal lawatan berkumpulan/berpandu dalam
            talian.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Lawatan Planetarium</h2>
        <div class="row pb-3">
          <div class="col">
            <p class="text-dark text-justify" style="font-size: 1rem">
              Sebagai pusat pendidikan astronomi negara pengunjung dapat
              mempelajari dan memahami astronomi melalui medium penyampaian yang
              interaktif dan menarik. Planetarium Negara menyediakan info dan
              maklumat melalui bahan pameran, tayangan angkasa, kembara simulasi
              dan kemudahan fasiliti yang mampu menjadikan lawatan ke
              Planetarium Negara sesuatu yang bermakna kepada pengunjung.<br />
            </p>
            <h4 class="title text-center text-dark">
              Tempahlah lawatan anda ke Planetarium Negara hari ini!
            </h4>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col">
            <carousel>
              <slide *ngFor="let visit of visits">
                <img
                  [src]="visit.image_link"
                  style="display: block; width: 100%"
                />
              </slide>
              <!-- <slide>
                <img
                  src="../../../assets/img/visit/visit-1.jpg"
                  style="display: block; width: 100%; height: 500px"
                />
              </slide>
              <slide>
                <img
                  src="../../../assets/img/visit/visit-2.jpg"
                  style="display: block; width: 100%; height: 500px"
                />
              </slide>
              <slide>
                <img
                  src="../../../assets/img/visit/visit-3.jpg"
                  style="display: block; width: 100%; height: 500px"
                />
              </slide> -->
            </carousel>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col text-center">
            <button
              class="btn btn-default btn-round"
              (click)="openDefaultModal(modalDefault)"
            >
              <h3 class="m-0 title">Tempah</h3>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDefault>
  <div class="modal-header justify-content-center">
    <button
      aria-hidden="true"
      class="close"
      data-dismiss="modal"
      (click)="defaultModal.hide()"
      type="button"
    >
      <i class="tim-icons icon-simple-remove text-dark"> </i>
    </button>
    <div class="text-dark text-center ml-auto mr-auto">
      <h3 class="title mb-0">Tempahan</h3>
    </div>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <form class="js-validate" [formGroup]="visitapplicationFormGroup">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <label class="labels required-field"> Nama penuh </label>
                <input
                  class="form-control text-dark"
                  placeholder=""
                  readonly="true"
                  type="text"
                  formControlName="full_name"
                />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Alamat emel </label>
                  <input
                    class="form-control text-dark"
                    placeholder=""
                    readonly="true"
                    type="email"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels"> Nombor Telefon </label>
                  <input
                    class="form-control text-dark"
                    placeholder=""
                    readonly="true"
                    type="tel"
                    formControlName="phone"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Tarikh </label>
                  <input
                    class="form-control text-dark"
                    type="text"
                    formControlName="visit_date"
                    bsDatepicker
                    placeholder="Sila pilih tarikh"
                    [bsConfig]="{
                      isAnimated: true,
                      containerClass: 'theme-dark-blue',
                      dateInputFormat: 'YYYY-MM-DD'
                    }"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Waktu</label>
                  <input
                    class="form-control text-dark"
                    placeholder="Sila pilih waktu"
                    type="time"
                    formControlName="visit_time"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    Kategori Organisasi
                  </label>
                  <select
                    aria-label="Kategori Organisasi"
                    class="form-control custom-select text-dark"
                    formControlName="organisation_category"
                  >
                    <option selected hidden value="">Sila pilih</option>
                    <option
                      *ngFor="
                        let organisationcategory of organisationcategories
                      "
                      [value]="organisationcategory.value"
                    >
                      {{ organisationcategory.display_name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Nama Organisasi</label>
                  <input
                    aria-label="Nama Organisasi"
                    class="form-control text-dark"
                    placeholder="Nama Organisasi"
                    type="text"
                    formControlName="organisation_name"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Bilangan orang </label>
                  <input
                    aria-label="Bilangan orang"
                    class="form-control text-dark"
                    placeholder="Bilangan orang"
                    required=""
                    type="number"
                    formControlName="total_participant"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    Lawatan berpandu (min 10 orang) </label
                  ><br />
                  <div
                    class="form-check form-check-radio form-check-inline pl-0"
                  >
                    <label class="form-check-label text-dark">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="tour_guide"
                        formControlName="tour_guide"
                        value="true"
                      />
                      Ya
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <div
                    class="form-check form-check-radio form-check-inline pl-0"
                  >
                    <label class="form-check-label text-dark">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="tour_guide"
                        formControlName="tour_guide"
                        value="false"
                      />
                      Tidak
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                  <!-- <select
                    aria-label="Lawatan berpandu"
                    class="form-control custom-select text-dark"
                    formControlName="pic_id"
                  >
                    <option selected hidden value="">Sila pilih</option>
                    <option *ngFor="let user of users" [value]="user.id">
                      {{ user.full_name }}
                    </option>
                  </select> -->
                </div>
              </div>
              <br />
            </div>

            <div class="row">
              <div class="col-md-12">
                <label class="labels"> Lain-lain aktiviti </label>
                <input
                  class="form-control text-dark"
                  placeholder="contoh: Meneropong bintang pada waktu malam"
                  type="text"
                  formControlName="other_activities"
                />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-12">
                <label class="labels">
                  Dokumen berkaitan
                  <small class="text-danger"
                    >* hanya fail jenis docx sahaja diterima</small
                  ></label
                ><br />
                <input
                  class="text-dark"
                  type="file"
                  name="document_link"
                  (change)="onChange($event)"
                />
              </div>
            </div>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="button"
      (click)="openAfterBooking()"
      [disabled]="!visitapplicationFormGroup.valid"
    >
      Buat tempahan
    </button>

    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>
