<div class="header bg-default pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-white"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <h6 class="h4 text-white mb-0">
            Data setakat hari ini ({{ today | date: "mediumDate" }})
          </h6>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-md-4">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Jumlah Jualan Tiket Kembara Simulasi
                  </h5>

                  <span class="h1 font-weight-bold mb-0"> RM 420.00 </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                  >
                    <i class="fas fa-money-bill-alt"> </i>
                  </div>
                </div>
              </div>
              <p class="mb-0 text-sm">
                <span class="text-nowrap"> RM </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-4">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Jumlah Jualan Tiket Kembara Simulasi
                  </h5>

                  <span class="h1 font-weight-bold mb-0"> 200 </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                  >
                    <i class="fas fa-desktop"> </i>
                  </div>
                </div>
              </div>
              <p class="mb-0 text-sm">
                <span class="text-nowrap"> Online </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-4">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Jumlah Jualan Tiket Kembara Simulasi
                  </h5>

                  <span class="h1 font-weight-bold mb-0"> 47 </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow"
                  >
                    <i class="fas fa-users"> </i>
                  </div>
                </div>
              </div>
              <p class="mb-0 text-sm">
                <span class="text-nowrap"> Kaunter </span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-md-4">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Jumlah Jualan Tiket Tayangan
                  </h5>

                  <span class="h1 font-weight-bold mb-0">RM 780.00 </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-yellow text-white rounded-circle shadow"
                  >
                    <i class="fas fa-money-bill-wave-alt"> </i>
                  </div>
                </div>
              </div>
              <p class="mb-0 text-sm">
                <span class="text-nowrap"> RM </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-4">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Jumlah Jualan Tiket Tayangan
                  </h5>

                  <span class="h1 font-weight-bold mb-0"> 20 </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-info text-white rounded-circle shadow"
                  >
                    <i class="fas fa-desktop"> </i>
                  </div>
                </div>
              </div>
              <p class="mb-0 text-sm">
                <span class="text-nowrap"> Online </span>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-4">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Jumlah Jualan Tiket Tayangan
                  </h5>

                  <span class="h1 font-weight-bold mb-0"> 87 </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-gradient-default text-white rounded-circle shadow"
                  >
                    <i class="fas fa-users"> </i>
                  </div>
                </div>
              </div>
              <p class="mb-0 text-sm">
                <span class="text-nowrap"> Kaunter </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Kutipan Jualan Harian
              </h5>

              <span class="h1 font-weight-bold mb-0">RM 780.00 </span>
            </div>

            <div class="col-auto">
              <div
                class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
              >
                <i class="fas fa-coins"> </i>
              </div>
            </div>
          </div>
          <p class="mb-0 text-sm">
            <span class="text-nowrap"> Tayangan (RM) </span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Kutipan Jualan Harian
              </h5>

              <span class="h1 font-weight-bold mb-0"> RM 20 </span>
            </div>

            <div class="col-auto">
              <div
                class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
              >
                <i class="fas fa-coins"> </i>
              </div>
            </div>
          </div>
          <p class="mb-0 text-sm">
            <span class="text-nowrap"> Kembara Simulasi (RM) </span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Kutipan Jualan Harian
              </h5>

              <span class="h1 font-weight-bold mb-0"> RM 100 </span>
            </div>

            <div class="col-auto">
              <div
                class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
              >
                <i class="fas fa-coins"> </i>
              </div>
            </div>
          </div>
          <p class="mb-0 text-sm">
            <span class="text-nowrap"> Fasiliti (RM) </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-md-3">
      <div class="card card-stats">
        <div class="card-body text-center">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bilangan Muat-Turun (PDF) Penerbitan
              </h5>

              <span class="h1 font-weight-bold mb-0"> 132 </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-3">
      <div class="card card-stats">
        <div class="card-body text-center">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bilangan Muat-Turun (PDF) Kutubkhanah Mini
              </h5>

              <span class="h1 font-weight-bold mb-0"> 210 </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-3">
      <div class="card card-stats">
        <div class="card-body text-center">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bilangan Pengunjung (Head Count)
              </h5>

              <span class="h1 font-weight-bold mb-0"> 45 </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-3">
      <div class="card card-stats">
        <div class="card-body text-center">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bilangan Pengunjung (Website)
              </h5>

              <span class="h1 font-weight-bold mb-0"> 33 </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body text-center">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bilangan Tempahan Fasiliti (Terima)
              </h5>

              <span class="h1 font-weight-bold mb-0">
                {{ facilitynew.length }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body text-center">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bilangan Tempahan Fasiliti (Lulus)
              </h5>

              <span class="h1 font-weight-bold mb-0">
                {{ facilityaccept.length }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-4">
      <div class="card card-stats">
        <div class="card-body text-center">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bilangan Tempahan Fasiliti (Gagal)
              </h5>

              <span class="h1 font-weight-bold mb-0">
                {{ facilityreject.length }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6">
      <div class="card card-stats">
        <div class="card-body text-center">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bilangan Peserta Program Pendidikan (Daftar)
              </h5>

              <span class="h1 font-weight-bold mb-0">
                {{ eduprogramsignup.length }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6">
      <div class="card card-stats">
        <div class="card-body text-center">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Bilangan Peserta Program Pendidikan (Hadir)
              </h5>

              <span class="h1 font-weight-bold mb-0">
                {{ eduprogramattend.length }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
