<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/show/nasa.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Tayangan</h1>
          <h2 class="description">
            Tontoni tayangan khas daripada Planetarium kepada anda secara dalam
            talian.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Tayangan Planetarium</h2>
        <div class="row">
          <div class="col">
            <p class="text-dark text-justify" style="font-size: 1rem">
              Teater Angkasa menyerupai sebuah panggung wayang yang menjadi
              penanda aras sesebuah Planetarium. Ia boleh dilihat dari segi
              skala saiz yang mampu memuatkan sehingga 200 orang penonton dalam
              satu masa dan infrastruktur teknologi bagi membantu mensimulasikan
              pergerakan dan keunikan objek yang berbeza dalam galaksi. Ia
              mempunyai kubah aluminium hemisfera yang dilengkapi system bunyi
              sekelliling digital 6-saluran. Dua projektor full dome immersive
              system memberikan tayangan astronomi dan simulasi langit malam
              menyerupai sebuah balai cerap.
            </p>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-lg-12">
            <div class="row">
              <div
                class="col-lg-4 col-md-6 col-sm-12"
                *ngFor="let showing of showings"
              >
                <div class="card card-blog card-plain">
                  <div class="card-image">
                    <img class="img rounded" [src]="showing.poster_link" />
                  </div>
                  <div class="card-body">
                    <!-- <h6 class="category text-primary">Features</h6> -->
                    <h4 class="card-title text-info">
                      {{ showing.title }}
                    </h4>
                    <p class="card-description text-dark" style="height: 150px">
                      {{ showing.description }}
                    </p>
                    <div class="card-footer">
                      <div class="author">
                        <button
                          class="btn btn-default btn-sm"
                          (click)="makeBooking(showing.id, showing.title)"
                        >
                          Tempah
                        </button>
                        <button
                          class="btn btn-danger btn-sm"
                          (click)="openModal(modalVideo, showing)"
                          [lightbox]
                          *ngIf="showing.trailer_link"
                        >
                          Lihat
                        </button>
                      </div>
                      <div class="stats stats-right">
                        <i class="fas fa-clock"></i>
                        {{ showing.duration_hours }} jam
                        {{ showing.duration_minutes }} minit
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  aria-hidden="true"
  aria-labelledby="myModalLabel"
  bsModal
  class="modal fade"
  #myModal="bs-modal"
  id="myModal"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button
          aria-hidden="true"
          class="close"
          data-dismiss="modal"
          type="button"
          (click)="myModal.hide()"
        >
          <i class="tim-icons icon-simple-remove"> </i>
        </button>
        <h4 class="title title-up">Tempahan Tiket</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" class="text-dark">Warganegara</th>
                <th scope="col">
                  <bSwitch
                    switch-off-text="Tidak"
                    switch-on-text="Ya"
                  ></bSwitch>
                </th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col" class="text-dark">Jenis Tiket</th>
                <th scope="col" class="text-right text-dark">Kuantiti</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-dark">
                  Dewasa<br /><small>(RM 6.00/Tiket)</small>
                </th>
                <td class="text-right text-dark">
                  <ngx-number-spinner
                    [value]="0"
                    (change)="changeAdultQuantity($event)"
                    [min]="0"
                  >
                  </ngx-number-spinner>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-dark">
                  Kanak-kanak bawah 12 tahun<br /><small>(RM 4.00/Tiket)</small>
                </th>
                <td class="text-right text-dark">
                  <ngx-number-spinner
                    [value]="0"
                    (change)="changeChildrenQuantity($event)"
                    [min]="0"
                  >
                  </ngx-number-spinner>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-dark">
                  Warga emas<br /><small>(Percuma)</small>
                </th>
                <td class="text-right text-dark">
                  <ngx-number-spinner
                    [value]="0"
                    (change)="changeSeniorQuantity($event)"
                    [min]="0"
                  >
                  </ngx-number-spinner>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-dark">
                  OKU<br /><small>(Percuma)</small>
                </th>
                <td class="text-right text-dark">
                  <ngx-number-spinner
                    [value]="0"
                    (change)="changeSeniorQuantity($event)"
                    [min]="0"
                  >
                  </ngx-number-spinner>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-dark">Jumlah</th>
                <td class="text-right text-dark">RM25.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-danger"
          data-dismiss="modal"
          type="button"
          (click)="myModal.hide()"
        >
          Batal
        </button>
        <button
          class="btn btn-default"
          type="button"
          [routerLink]="['/payment']"
        >
          Tempah
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #modalVideo>
  <div class="modal-header">
    <h2 class="modal-title pull-left">Modal</h2>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="videoModal.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/DnSmFC-JgvQ"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</ng-template>
