<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/facility/gabriel.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Program Pendidikan</h1>
          <h2 class="description">
            Program-program pendidikan yang dianjurkan oleh Planetarium.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container pb-3">
        <h2 class="title text-center text-dark">Senarai Program Pendidikan</h2>
        <div class="row">
          <div class="col">
            <p class="text-dark text-justify" style="font-size: 1rem">
              Modul Pendidikan dibangunkan untuk mempromosikan pengajaran dan
              pembelajaran astronomi secara <i>hands-on</i> dalam menarik minat
              dan meningkatkan kesedaran terhadap kepentingan sains angkasa dan
              astronomi kepada masyarakat umum terutamanya guru dan murid
              sekolah. Pelbagai modul interaktif dibangunkan dalam menyokong
              kurikulum standard sekolah rendah dan menengah melalui pendekatan
              secara “<i>informal</i>”. Melalui pendekatan ini secara tidak
              langsung memberikan pendedahan terutamanya di kalangan murid dari
              aspek pemahaman teori sains, hukum-hukum sains, pengiraan
              matematik malahan juga gabungan aspek komunikasi sains, kreativiti
              dan kemahiran berfikir aras tinggi. Pembangunan modul pendidikan
              yang berbentuk
              <i>Minds-On, Hearts-On, Hands-On Learning Engagement</i>
              memperkukuhkan dan memperkembangkan pendidikan sains angkasa dan
              astronomi dan menambah nilai (<i>add value</i>) kepada silibus
              pendidikan sedia ada.
            </p>
          </div>
        </div>
        <!-- <div class="row" *ngFor="let program of programs">
          <div class="col-md-12 ml-auto mr-auto">
            <h2 class="title ml-1 text-dark">{{ program.title }}</h2>
            <br />

            <div
              class="card card-blog card-plain blog-horizontal"
              *ngFor="let pro of program.program"
            >
              <div class="row">
                <div class="col-lg-5">
                  <ngx-gallery
                    [options]="galleryOptions"
                    [images]="pro.images"
                  ></ngx-gallery>
                </div>
                <div class="col-lg-7">
                  <div class="card-body">
                    <h3 class="card-title">
                      <a href="javascript:void(0)" class="text-dark">
                        {{ pro.name }}
                      </a>
                    </h3>
                    <p class="card-description text-justify text-dark">
                      {{ pro.desc | slice: 0:200 }} ...
                      <a
                        style="color: #ba54f5; font-weight: bold"
                        (click)="openReadMoreModal(modalReadMore, pro)"
                        >Baca selanjutnya</a
                      >
                    </p>
                    <h4 *ngIf="pro.further_detail" class="text-dark">
                      Maklumat lanjut:
                      <a [href]="pro.further_detail">{{
                        pro.further_detail
                      }}</a>
                    </h4>
                    <div>
                      <div class="row">
                        <div class="col text-right">
                          <button class="btn btn-danger" (click)="openVideoModal(modalVideo, pro)" *ngIf="pro.video_link">Lihat</button>
                          <button class="btn btn-default" (click)="openDefaultModal(modalDefault)" *ngIf="pro.registration">Daftar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row" *ngFor="let programcategory of programcategories">
          <div class="col-md-12 ml-auto mr-auto">
            <h2 class="title ml-1 text-dark">
              {{ programcategory.display_name }}
            </h2>
            <br />

            <div
              class="card card-blog card-plain blog-horizontal"
              *ngFor="
                let pro of programs
                  | programfilter: { program_category: programcategory.value }
              "
            >
              <div class="row">
                <div class="col-lg-5">
                  <ngx-gallery
                    [options]="galleryOptions"
                    [images]="pro.id | programImageFilter: programimages"
                  ></ngx-gallery>
                </div>
                <div class="col-lg-7">
                  <div class="card-body">
                    <h3 class="card-title">
                      <a href="javascript:void(0)" class="text-dark">
                        {{ pro.title }}
                      </a>
                    </h3>
                    <p class="card-description text-justify text-dark">
                      {{ pro.description | slice: 0:200 }} ...
                      <a
                        style="color: #ba54f5; font-weight: bold"
                        (click)="openReadMoreModal(modalReadMore, pro)"
                        >Baca selanjutnya</a
                      >
                    </p>
                    <h4 *ngIf="pro.website_link" class="text-dark">
                      Maklumat lanjut:
                      <a [href]="pro.website_link">{{ pro.website_link }}</a>
                    </h4>
                    <div>
                      <div class="row">
                        <div class="col text-right">
                          <button
                            class="btn btn-danger"
                            (click)="openVideoModal(modalVideo, pro)"
                            *ngIf="pro.video_link"
                          >
                            Lihat
                          </button>
                          <button
                            class="btn btn-default"
                            (click)="openDefaultModal(modalDefault, pro)"
                            *ngIf="pro.registration"
                          >
                            Daftar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDefault>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Tempahan</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <form class="js-validate" [formGroup]="eduprogramappFormGroup">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <label class="labels required-field"> Nama penuh </label>
                <input
                  class="form-control text-dark"
                  placeholder=""
                  readonly="true"
                  type="text"
                  formControlName="full_name"
                />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Alamat emel </label>
                  <input
                    class="form-control text-dark"
                    placeholder=""
                    readonly="true"
                    type="email"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels"> Nombor telefon </label>
                  <input
                    class="form-control text-dark"
                    placeholder=""
                    readonly="true"
                    type="tel"
                    formControlName="phone"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Tarikh </label>
                  <input
                    class="form-control text-dark"
                    type="text"
                    formControlName="educational_program_date_id"
                    placeholder="Sila pilih tarikh"
                    bsDatepicker
                    [datesEnabled]="enabledProgramDates"
                    [bsConfig]="{
                      isAnimated: true,
                      containerClass: 'theme-dark-blue',
                      dateInputFormat: 'YYYY-MM-DD'
                    }"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    Kategori Organisasi
                  </label>
                  <select
                    aria-label="Kategori Organisasi"
                    class="form-control custom-select text-dark"
                    formControlName="organisation_category"
                  >
                    <option selected hidden value="">Sila pilih</option>
                    <option
                      *ngFor="
                        let organisationcategory of organisationcategories
                      "
                      [value]="organisationcategory.value"
                    >
                      {{ organisationcategory.display_name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels"> Nama Organisasi </label>
                  <input
                    aria-label="Nama Organisasi"
                    class="form-control text-dark"
                    placeholder="Nama Organisasi"
                    type="text"
                    formControlName="organisation_name"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Bilangan orang </label>
                  <input
                    aria-label="Bilangan orang"
                    class="form-control text-dark"
                    placeholder="Bilangan orang"
                    required=""
                    type="number"
                    formControlName="participant"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Umur </label>
                  <input
                    aria-label="Umur"
                    class="form-control text-dark"
                    placeholder="Umur"
                    required=""
                    type="number"
                    formControlName="age"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row" *ngIf="selectedProgram.activity">
              <div class="col-md-12">
                <div class="js-form-message mb-6">
                  <label class="labels">
                    Aktiviti <span class="text-danger"> * </span>
                  </label>
                  <select
                    aria-label="Pilih aktiviti"
                    class="form-control custom-select text-dark"
                    formControlName="activity"
                  >
                    <option selected value="">Sila pilih</option>
                    <option
                      *ngFor="let programactivity of programactivities"
                      [value]="programactivity.id"
                    >
                      {{ programactivity.program_activity }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="openAfterBooking()">
      Buat tempahan
    </button>

    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>

<ng-template #modalReadMore>
  <div class="modal-header">
    <h2 class="modal-title" id="modal-title-default">
      {{ selectedProgram.title }}
    </h2>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="readmoreModal.hide()"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col">
        <p class="text-justify text-dark">{{ selectedProgram.description }}</p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="readmoreModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>

<ng-template #modalVideo>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default"></h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="videoModal.hide()"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col">
        <video width="320" height="240" controls>
          <source [src]="selectedProgram.video_link" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="videoModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>
