.datetime-edit-field {
  color: #2b3553 !important;
}

.section {
  padding: 1px 0;
}

.required-field::after {
  content: " *";
  color: red;
}

.form-control[readonly] {
  background-color: #e9ecef !important;
}

.inner-html {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: black;
    text-align: justify;
  }

  ol,
  ul {
    li {
      color: black;
    }
  }
}
