<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/facility/gabriel.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Program Pendidikan</h1>
          <h2 class="description">
            Program-program pendidikan yang dianjurkan oleh Planetarium.
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container pb-3">
        <h2 class="title text-center text-dark">Senarai Program Pendidikan</h2>
        <div class="row" *ngFor="let program of programs">
          <div class="col-md-12 ml-auto mr-auto">
            <h2 class="title ml-1 text-dark">{{ program.title }}</h2>
            <br />

            <div
              class="card card-blog card-plain blog-horizontal"
              *ngFor="let pro of program.program"
            >
              <div class="row">
                <div class="col-lg-5">
                  <!-- <div class="card-image">
                    <a href="javascript:void(0)">
                      <img
                        class="img rounded"
                        src="assets/img/mark-harrison.jpg"
                      />
                    </a>
                  </div> -->
                  <ngx-gallery
                    [options]="galleryOptions"
                    [images]="pro.images"
                  ></ngx-gallery>
                </div>
                <div class="col-lg-7">
                  <div class="card-body">
                    <h3 class="card-title">
                      <a href="javascript:void(0)" class="text-dark">
                        {{ pro.name }}
                      </a>
                    </h3>
                    <p class="card-description text-justify text-dark">
                      {{ pro.desc | slice: 0:200 }} ...
                      <a
                        style="color: #ba54f5; font-weight: bold"
                        (click)="openReadMoreModal(modalReadMore, pro)"
                        >Baca selanjutnya</a
                      >
                      <!-- <a href="javascript:void(0)"> Selanjutnya </a> -->
                    </p>
                    <h4 *ngIf="pro.further_detail" class="text-dark">
                      Maklumat lanjut:
                      <a [href]="pro.further_detail">{{
                        pro.further_detail
                      }}</a>
                    </h4>
                    <div class="author">
                      <button
                        *ngFor="let date of pro.dates"
                        type="button"
                        class="btn btn-default"
                        (click)="openDefaultModal(modalDefault)"
                      >
                        {{ date.date }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDefault>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Tempahan</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <form class="js-validate">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <label class="labels">
                  Nama penuh <span class="text-danger"> * </span>
                </label>
                <input
                  aria-label="Nurul Aiman"
                  class="form-control"
                  name="firstName"
                  placeholder="Nurul Aiman"
                  required=""
                  type="text"
                />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels">
                    Alamat emel <span class="text-danger"> * </span>
                  </label>
                  <input
                    aria-label="thompson@gmail.com"
                    class="form-control"
                    name="emailAddress"
                    placeholder="thompson@gmail.com"
                    required=""
                    type="email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels"> No. tel </label>
                  <input
                    aria-label="+6017666162"
                    class="form-control"
                    placeholder="+6017666162"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels">
                    Tarikh <span class="text-danger"> * </span>
                  </label>
                  <input
                    aria-label="date"
                    class="form-control"
                    type="text"
                    bsDaterangepicker
                    placeholder="Sila pilih tarikh"
                    [bsConfig]="{
                      isAnimated: true,
                      containerClass: 'theme-red'
                    }"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels"> Waktu </label>
                  <input
                    aria-label="time"
                    class="form-control"
                    placeholder="Sila pilih waktu"
                    type="time"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels">
                    Kategori Organisasi <span class="text-danger"> * </span>
                  </label>
                  <select
                    aria-label="Kategori Organisasi"
                    class="form-control custom-select"
                  >
                    <option selected hidden>Sila pilih</option>
                    <option>Sekolah</option>
                    <option>Organisasi</option>
                    <option>Penyelidikan</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels"> Nama Organisasi </label>
                  <input
                    aria-label="Universiti Kuala Lumpur"
                    class="form-control"
                    placeholder="Universiti Kuala Lumpur"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="js-form-message mb-6">
                  <label class="labels">
                    Bilangan orang <span class="text-danger"> * </span>
                  </label>
                  <input
                    aria-label="Bilangan orang"
                    class="form-control"
                    name="streetAddress"
                    placeholder="Bilangan orang"
                    required=""
                    type="text"
                  />
                </div>
              </div>
            </div>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="openAfterBooking()">
      Buat tempahan
    </button>

    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>

<ng-template #modalReadMore>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">
      {{ selectedProgram.name }}
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="readmoreModal.hide()"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col">
        <p class="text-justify text-dark">{{ selectedProgram.desc }}</p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="readmoreModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>
