<div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <!-- <div class="overlay"></div> -->
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- <div class="page-header page-header-small header-filter">
          <div
            class="page-header-image rellax"
            data-parallax="true"
            style="background-image: url('assets/img/exhibit/minin.jpg')"
          ></div>
          <div class="content-center">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h1 class="title">Mengenai Kami</h1>
              </div>
            </div>
          </div>
        </div> -->
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Maklumat NOC</h2>
        <div class="row pb-3">
          <div class="col">
            <h4 class="text-dark font-weight-bold">
              IAU National Outreach Coordinators (NOCs)
            </h4>
            <p>
              The IAU Office for Astronomy Outreach (OAO) is a central
              coordination point for activities taking place around the world.
              To support projects at a national level, OAO is creating a network
              of IAU National Outreach Coordinators (NOC): volunteers with
              extensive experience in public outreach, acting as a single point
              of contact for a country.
            </p>

            <p>
              You can find the official list of our National Outreach
              Coordinators (NOCs)
              <a
                href="https://sites.google.com/oao.iau.org/iauoaonews/national-pages"
                >HERE</a
              >.
            </p>

            <h4 class="text-dark font-weight-bold pt-3">
              IAU National Outreach Coordinators (NOCs) Nomination Guidelines
            </h4>
            <ol>
              <li>Role</li>
              <p>
                <i>
                  The primary roles of the National Outreach Coordinators (NOCs)
                  are to (1) implement the IAU outreach initiatives at the
                  national level, (2) disseminate information nationally and (3)
                  bridge the IAU with local/national communities.
                </i>
              </p>

              <p>The National Outreach Coordinator</p>
              <ol>
                <li>
                  <p>
                    is the principal outreach national representative appointed
                    under the IAU outreach structure;
                  </p>
                </li>
                <li>
                  <p>
                    keeps the OAO informed of national outreach initiatives
                    connected with IAU;
                  </p>
                </li>
                <li>
                  <p>
                    implements or coordinates a set of annual goals provided by
                    the IAU OAO and develops plans for the outreach actions
                    associated with the IAU in the country;
                  </p>
                </li>
                <li>
                  <p>
                    can establish a National Outreach Coordination Committee
                    (NOC Committee);
                  </p>
                </li>
                <li>
                  <p>
                    can nominate Deputy/Deputies NOC or Assistant(s) NOCs when
                    necessary;
                  </p>
                </li>
                <li>
                  <p>
                    maintains a link to the national professional astronomers,
                    communities of amateur astronomers and outreach
                    professionals;
                  </p>
                </li>
              </ol>

              <li class="pt-3">Eligibility</li>
              <p>The National Outreach Coordinator</p>
              <ol>
                <li>
                  <p>
                    is expected to receive at least monthly communications from
                    the IAU OAO and respond;
                  </p>
                </li>
                <li>
                  <p>
                    shall demonstrate rich knowledge and experience in astronomy
                    outreach activities (in particular coordinating
                    national-scale activities);
                  </p>
                </li>
                <li>
                  <p>
                    shall demonstrate a strong motivation to initiate astronomy
                    activities in countries without significant astronomy
                    activities;
                  </p>
                </li>
                <li>
                  <p>
                    shall have or establish a local/national network involving
                    relevant stakeholders (e.g. professional astronomers,
                    astronomy educators, planetariums (when applicable) and
                    amateur astronomer communities.).
                  </p>
                </li>
              </ol>

              <li class="pt-3">Selection</li>
              <p>
                For <b>the IAU member countries</b>, the IAU OAO International
                Outreach Coordinator (IOC) will appoint the NOC based on the
                approval or nomination from the IAU National Committee for
                Astronomy (NCA).
              </p>
              <ol>
                <li>
                  <p>
                    If there is <b>no NCA for the country</b>, then the IOC will
                    interact with the IAU National Member (NM) for the
                    appointment of the NOC;
                  </p>
                </li>
                <li>
                  <p>
                    If there is <b>no reply from the NCA (nor the NM)</b>
                    <i>(after a non-responsive period of three weeks)</i>, the
                    NOC is appointed by the IOC and the decision communicated to
                    the GS.
                  </p>
                </li>
              </ol>
              <p>
                For <b>non-IAU member countries</b>, interested candidates shall submit
                an application to the IOC. The information provided will be
                reviewed by the IAU OAO followed by a discussion with the
                candidates and/or relevant parties.
              </p>

              <li class="pt-3">Term</li>
              <ol>
                <li>
                  <p>
                    The term of the NOC will be for a maximum of three years
                    (between two IAU General Assemblies);
                  </p>
                </li>
                <li>
                  <p>
                    The term can be renewed and the reappointment procedure will
                    take place two months before the GA, following section 2 &
                    3;
                  </p>
                </li>
                <li>
                  <p>
                    The appointment can be terminated by the IAU OAO (with
                    notification to the GS and the NCA/NM) if the NOC does
                    <i>not fulfil the role (section 1)</i> or is
                    <i
                      >continuously unresponsive (more than a 4-weeks lag in
                      replying emails)</i
                    >
                    to the IAU OAO communications.
                  </p>
                </li>
              </ol>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
