<div class="wrapper">
  <!-- <div class="page-header page-header-small header-filter"> -->
  <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/exhibit/minin.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Mengenai Kami</h1>
        </div>
      </div>
    </div> -->
  <div style="position: relative">
    <video
      autoplay="true"
      muted="true"
      loop="true"
      [width]="screenWidth"
      height="580"
    >
      <source
        src="../../../assets/video/planetarium-homepage-video.mp4"
        type="video/mp4"
      />
    </video>
    <div
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      "
    >
      <h1 class="title text-center m-0">Portal Rasmi Planetarium Negara</h1>
      <h4 class="text-center">
        Kementerian Sains, Teknologi & Inovasi (MOSTI)
      </h4>
    </div>
  </div>
  <!-- </div> -->
  <div class="container">
    <div class="row text-center">
      <p class="text-justified" style="font-size: 1.4rem">
        Planetarium Negara bermula sebagai Bahagian Planetarium di Jabatan
        Perdana Menteri pada tahun 1989. Pembinaan Negara Kompleks Planetarium
        bermula pada tahun 1990 dan siap pada tahun 1993. Pelancaran kepada umum
        bermula pada Mei 1993 dan dibuka secara rasmi oleh
        <b> Perdana Menteri Malaysia, Mahathir bin Mohamad </b>, pada 7 Februari
        1994. Pada bulan Julai 1995, Bahagian ini dipindahkan ke Kementerian
        Sains, Teknologi dan Alam Sekitar (MOSTI), yang juga merupakan pemilik
        planetarium ini hingga sekarang.
      </p>
    </div>
  </div>
</div>
