<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
        class="page-header-image rellax"
        data-parallax="true"
        style="background-image: url('assets/img/publication/publication.jpeg')"
      ></div>
      <div class="content-center">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h1 class="title">Perpustakaan Maya</h1>
            <h2 class="description">Alami perpustakaan secara maya.</h2>
          </div>
        </div>
      </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Perkhidmatan</h2>
        <div class="row pb-3">
          <div class="col-md-6 col-sm-12 ml-auto mr-auto">
            <ul>
              <li>
                <h2 class="title text-dark mb-0">
                  Perkhidmatan pinjaman untuk ahli
                </h2>
              </li>
              <li>
                <h2 class="title text-dark mb-0">
                  Perkhidmatan pertanyaan rujukan
                </h2>
              </li>
              <li><h2 class="title text-dark mb-0">Komputer akses awam</h2></li>
              <li>
                <h2 class="title text-dark mb-0">
                  Melayari majalah dan surat khabar
                </h2>
              </li>
              <li><h2 class="title text-dark mb-0">WiFi percuma</h2></li>
            </ul>

            <div class="row pt-3">
              <div class="col-md-4 col-sm-12">
                <p class="text-dark font-weight-bold">
                  *Panduan Pengguna Perpustakaan
                </p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p class="text-dark font-weight-bold">*Koleksi Perpustakaan</p>
              </div>
              <div class="col-md-4 col-sm-12">
                <p class="text-dark font-weight-bold">
                  *Bagaimana Menjadi Ahli
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
