<div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <div class="overlay"></div>
      <video autoplay="autoplay" loop="loop" muted="muted">
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- <div class="page-header page-header-small header-filter">
        <div
          class="page-header-image rellax"
          data-parallax="true"
          style="background-image: url('assets/img/exhibit/minin.jpg')"
        ></div>
        <div class="content-center">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h1 class="title">Mengenai Kami</h1>
            </div>
          </div>
        </div>
      </div> -->
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Akta Perlindungan Peribadi</h2>
        <div class="row pb-3"></div>
      </div>
    </div>
  </div>
</div>
