<!-- <div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="wrapper" [ngClass]="fontSize">
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Akta Perlindungan Peribadi</h2>
        <div class="row pb-3">
          <div class="col">
            <p>
              <span style="color: #000000"><strong>Privasi anda</strong></span
              ><br />
              <span style="color: #000000"
                >Halaman ini menerangkan dasar privasi yang merangkumi
                penggunaan dan perlindungan maklumat yang dikemukakan oleh
                pengunjung. Sekiranya anda membuat transaksi atau menghantar
                e-mel yang mengandungi maklumat peribadi, maklumat ini mungkin
                akan dikongsi bersama dengan agensi awam lain untuk membantu
                penyediaan perkhidmatan yang lebih berkesan dan efektif.
                Contohnya seperti di dalam menyelesaikan aduan yang memerlukan
                maklum balas dari agensi-agensi lain.</span
              >
            </p>
            <hr style="border-top: 1px solid black" />
            <p>
              <span style="color: #000000"
                ><strong>Maklumat Yang Dikumpul</strong></span
              ><br />
              <span style="color: #000000"
                >Tiada maklumat peribadi akan dikumpul semasa anda melayari
                laman web ini kecuali maklumat yang dikemukakan oleh anda
                melalui e-mel.</span
              >
            </p>
            <hr style="border-top: 1px solid black" />
            <p>
              <span style="color: #000000"><strong>Cookies</strong></span
              ><br />
              <span style="color: #000000"
                >Sesetengah laman web menjana ‘cookies‘, yang dikumpulkan oleh
                pelayan web untuk membolehkan laman web mengenali lawatan masa
                depan pengunjung. Portal ini hanya menggunakan ‘cookies tidak
                berterusan’ atau ‘cookies setiap sesi’ yang berfungsi sebagai
                tujuan teknikal seperti menukar bahasa Portal. Cookies ini tidak
                mencatat data secara kekal dan tidak disimpan pada pemacu keras
                komputer pengunjung. Sebaik sahaja anda menutup penyemak imbas
                anda, cookie akan dipadam.</span
              >
            </p>
            <hr style="border-top: 1px solid black" />
            <p>
              <span style="color: #000000"
                ><strong
                  >Laman web ini mempunyai pautan ke laman web lain</strong
                ></span
              ><br />
              <span style="color: #000000"
                >Dasar privasi ini hanya terpakai untuk laman web ini sahaja.
                Perlu diingatkan bahawa laman web yang terdapat dalam pautan
                mungkin mempunyai dasar privasi yang berbeza dan pengunjung
                dinasihatkan supaya meneliti dan memahami dasar privasi bagi
                setiap laman web yang dilayari.</span
              >
            </p>
            <hr style="border-top: 1px solid black" />
            <p>
              <span style="color: #000000"><strong>Pindaan Dasar</strong></span
              ><br />
              <span style="color: #000000"
                >Sekiranya dasar privasi ini dipinda, pindaan akan dikemas kini
                di halaman ini. Dengan sering melayari halaman ini, anda akan
                dikemas kini dengan maklumat yang dikumpul, cara ia digunakan
                dan dalam keadaan tertentu, bagaimana maklumat dikongsi bersama
                pihak yang lain.</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
