video {
  // filter: opacity(70%);

  h1 {
    filter: opacity(10%);
    color: black;
  }
}

.section {
  padding: 30px 0;
}

.theadstyle {
  color: white;
  background-color: #202251;
  font-weight: bold;
  text-align: center;
}

.theadcategory {
  color: black;
  background-color: #5CACEE;
  text-align: center;
}

.tbodyprice {
  color: black;
  text-align: center;
}