<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/exhibit/minin.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Pameran</h1>
          <h2 class="description">
            Pameran-pameran terbaru yang bakal menggagumkan anda.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img src="../../../assets/img/show/show-1.jpg" alt="second slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../assets/img/show/show-2.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../assets/img/show/show-3.jpg" alt="first slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section related-products">
      <div class="container">
        <h2 class="title text-dark text-center">Senarai Pameran</h2>
        <div class="row pb-3">
          <div
          class="col-md-3 col-sm-12"
          *ngFor="let exhibit of exhibits"
        >
          <div class="card" style="height: 350px">
            <img class="card-img-top" [src]="exhibit.img" />
            <div class="card-body text-center">
              <h2 class="card-title title text-uppercase font-weight-bold">
                {{ exhibit.title }}
              </h2>
              <button
                class="btn btn-sm btn-info"
                [routerLink]="['/exhibit/details']"
              >
                Info
              </button>
            </div>
          </div>
        </div>
          <!-- <div class="col-lg-3 col-md-6">
            <div class="card card-product">
              <div class="card-image">
                <a>
                  <img
                    class="img rounded"
                    src="assets/img/exhibit/exhibit-1.jpg"
                  />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-warning">Trending</h6>
                <h4 class="card-title">
                  <a class="card-link text-white"> Pameran 1 </a>
                </h4>
                <div class="card-description">
                  Informasi pameran 1 ditulis disini.
                </div>
                <div class="card-footer">
                  <button
                    class="btn btn-info btn-round pull-left btn-block btn-sm"
                    placement="left"
                    [routerLink]="['/exhibit/details']"
                  >
                    <i class="fas fa-info-circle"></i> Selanjutnya
                  </button>
                </div>
                <ul class="list-unstyled mt-5">
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-vector"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 1</h6></div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-tap-02"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 2</h6></div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 3</h6></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-product">
              <div class="card-image">
                <a>
                  <img
                    class="img rounded"
                    src="assets/img/exhibit/exhibit-2.jpg"
                  />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-warning">Popular</h6>
                <h4 class="card-title">
                  <a class="card-link text-white"> Pameran 2 </a>
                </h4>
                <div class="card-description">
                  Informasi pemeran 2 ditulis disini.
                </div>
                <div class="card-footer">
                  <button
                    class="btn btn-info btn-round pull-left btn-block btn-sm"
                    placement="left"
                    [routerLink]="['/exhibit/details']"
                  >
                    <i class="fas fa-info-circle"></i> Selanjutnya
                  </button>
                </div>
                <ul class="list-unstyled mt-5">
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-vector"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 1</h6></div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-tap-02"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 2</h6></div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 3</h6></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-product">
              <div class="card-image">
                <a>
                  <img
                    class="img rounded"
                    src="assets/img/exhibit/exhibit-3.jpg"
                  />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-warning">Popular</h6>
                <h4 class="card-title">
                  <a class="card-link text-white"> Pameran 3 </a>
                </h4>
                <div class="card-description">
                  Informasi pemeran 3 ditulis disini.
                </div>
                <div class="card-footer">
                  <button
                    class="btn btn-info btn-round pull-left btn-block btn-sm"
                    placement="left"
                    [routerLink]="['/exhibit/details']"
                  >
                    <i class="fas fa-info-circle"></i> Selanjutnya
                  </button>
                </div>
                <ul class="list-unstyled mt-5">
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-vector"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 1</h6></div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-tap-02"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 2</h6></div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 3</h6></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card card-product">
              <div class="card-image">
                <a>
                  <img
                    class="img rounded"
                    src="assets/img/exhibit/exhibit-4.jpg"
                  />
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-warning">Trending</h6>
                <h4 class="card-title">
                  <a class="card-link text-white"> Pameran 4 </a>
                </h4>
                <div class="card-description">
                  Informasi pemeran 4 ditulis disini.
                </div>
                <div class="card-footer">
                  <button
                    class="btn btn-info btn-round pull-left btn-block btn-sm"
                    placement="left"
                    [routerLink]="['/exhibit/details']"
                  >
                    <i class="fas fa-info-circle"></i> Selanjutnya
                  </button>
                </div>
                <ul class="list-unstyled mt-5">
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-vector"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 1</h6></div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-tap-02"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 2</h6></div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div class="icon icon-success mb-2">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                      <div class="ml-3"><h6>Feature 3</h6></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
