<div class="main-content auth-content d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center">
        <h1 class="text-white" style="font-size: 100px;">404</h1>
        <h1 class="display-3 text-white">Laman tidak dijumpai</h1>
        <p class="font-weight-bold text-white">&#9836; Bintang-bintang di langit, menghiasi angkasa &#9836;</p>
        <a [routerLink]="['/auth/login']" class="font-weight-bold">Klik disini untuk pergi ke halaman log masuk.</a>
      </div>
    </div>
  </div>
</div>
