<!-- <div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="wrapper">
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">
          Ketua Pegawai Maklumat (CIO)
        </h2>
        <div class="row pb-3">
          <div class="col-md-4 col-sm-12 mr-auto ml-auto">
            <img src="../../../assets/img/mosti-cio.jpg" style="width: 80%" />
            <h4 class="title text-dark mb-0">Roshana Alma Binti Mohd Ali</h4>
            <h4 class="title text-dark m-0">
              Setiausaha Bahagian Kanan (Pengurusan)
            </h4>
            <p>almaaliasmosti.gov.my</p>
            <p>03-8885 8201</p>
          </div>
          <div class="col-md-8 col-sm-12">
            <h4 class="title text-dark mt-0">
              PERANAN DAN TANGGUNGJAWAB KETUA PEGAWAI MAKLUMAT (CIO)
            </h4>

            <ol>
              <li>
                <p>
                  Mewujud dan mengetuai pasukan kerja keselamatan ICT
                  Kementerian;
                </p>
              </li>
              <li>
                <p>
                  Membantu Ketua Setiausaha dalam melaksanakan tugas-tugas yang
                  melibatkan keselamatan ICT;
                </p>
              </li>
              <li><p>Menjadi penasihat keselamatan ICT;</p></li>
              <li>
                <p>
                  Menyelaras pembangunan dan pelaksanaan pelan latihan dan
                  program kesedaran mengenai keselamatan ICT;
                </p>
              </li>
              <li>
                <p>
                  Memastikan semua pengguna memahami dan mematuhi DKICT
                  Kementerian;
                </p>
              </li>
              <li>
                <p>
                  Memastikan semua keperluan organisasi (sumber kewangan, sumber
                  pengguna dan perlindungan keselamatan) adalah mencukupi; dan
                </p>
              </li>
              <li>
                <p>
                  Memastikan penilaian risiko dan program keselamatan ICT di
                  dalam DKICT Kementerian mengikut pekeliling yang berkuatkuasa.
                </p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
