video {
  // filter: opacity(70%);

  h1 {
    filter: opacity(10%);
    color: black;
  }
}

.section {
  padding: 100px 0;
}

p {
  text-align: justify;
  color: #000000;
}

li {
  color: #000000;
}
