<div class="wrapper">
  <div>
    <!-- <img class="path path3" src="assets/img/path3.png" /> -->

    <!-- <svg class="hidden">
      <defs>
        <path
          d="M292,517.91s-15.55-56.18-82.16-38.13C144.29,497.54,155.58,363.16,162,313.12S224.89,15.59,387.71,4.49,515.3,133.38,499.28,174.22s-48.71,85.09,11,218.26S455,582.74,430.06,588.37,339.71,621.12,292,517.91Z"
          id="deco2"
        ></path>
      </defs>
    </svg> -->
    <!-- <div class="content-center m-0 p-0"> -->
    <div>
      <carousel [noPause]="false" showIndicators="false">
        <slide>
          <img
            src="assets/img/background/facility-4.jpg"
            style="display: block; width: 100%; height: 600px"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1 class="title">{{ "SelamatdatangkePlanetariumNegara" | translate }}</h1>
            <!-- <p class="font-weight-bold">Gambar, video, dan sebagainya sedia untuk dipamerkan kepada anda.</p> -->
          </div>
        </slide>
        <slide>
          <img
            src="assets/img/facility/galeri-pameran-3.jpg"
            style="display: block; width: 100%; height: 600px"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1 class="title">{{ "SelamatdatangkePlanetariumNegara" | translate }}</h1>
            <!-- <p class="font-weight-bold">Jelajah angkasa lepas dan alam semesta di sini.</p> -->
          </div>
        </slide>
        <slide>
          <img
            src="assets/img/background/facility-2.jpg"
            style="display: block; width: 100%; height: 600px"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1 class="title">{{ "SelamatdatangkePlanetariumNegara" | translate }}</h1>
            <!-- <p class="font-weight-bold">Roket, bintang, cakerawala dan sebagainya ada di sini.</p> -->
          </div>
        </slide>
      </carousel>
    </div>
    <!-- </div> -->
  </div>
  <div class="section about-pricing bg-white p-3">
    <div class="container">
      <div class="row pb-5 align-items-center">
        <div class="col-lg-12 col-md-12 col-12 ml-auto">
          <div class="row">
            <div class="col-md-4 col-sm-12" *ngFor="let module of modules">
              <div
                class="card"
                style="height: 350px"
                [routerLink]="['/' + module.module]"
                data-animation="true"
              >
                <img class="card-img-top" [src]="module.image_link" />
                <div class="card-body text-center">
                  <h2 class="card-title title text-uppercase font-weight-bold">
                    {{ module.title }}
                  </h2>
                  <!-- <button
                    class="btn btn-sm btn-info"
                    (click)="openModal(interestingModal, interesting)"
                  >
                    Info
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
