<div class="wrapper">
  <div>
    <!-- <img class="path path3" src="assets/img/path3.png" /> -->

    <!-- <svg class="hidden">
      <defs>
        <path
          d="M292,517.91s-15.55-56.18-82.16-38.13C144.29,497.54,155.58,363.16,162,313.12S224.89,15.59,387.71,4.49,515.3,133.38,499.28,174.22s-48.71,85.09,11,218.26S455,582.74,430.06,588.37,339.71,621.12,292,517.91Z"
          id="deco2"
        ></path>
      </defs>
    </svg> -->
    <!-- <div class="content-center m-0 p-0"> -->
    <div>
      <carousel [noPause]="false" showIndicators="false">
        <slide>
          <img
            src="assets/img/facility/galeri-pameran-3.jpg"
            style="display: block; width: 100%; height: 600px"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1 class="title">Selamat datang ke Planetarium Negara</h1>
            <!-- <p class="font-weight-bold">Jelajah angkasa lepas dan alam semesta di sini.</p> -->
          </div>
        </slide>
        <slide>
          <img
            src="assets/img/background/facility-2.jpg"
            style="display: block; width: 100%; height: 600px"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1 class="title">Selamat datang ke Planetarium Negara</h1>
            <!-- <p class="font-weight-bold">Roket, bintang, cakerawala dan sebagainya ada di sini.</p> -->
          </div>
        </slide>
        <slide>
          <img
            src="assets/img/background/facility-4.jpg"
            style="display: block; width: 100%; height: 600px"
          />
          <div class="carousel-caption d-none d-md-block">
            <h1 class="title">Selamat datang ke Planetarium Negara</h1>
            <!-- <p class="font-weight-bold">Gambar, video, dan sebagainya sedia untuk dipamerkan kepada anda.</p> -->
          </div>
        </slide>
      </carousel>
    </div>
    <!-- </div> -->
  </div>
  <div class="section about-pricing bg-white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 col-12 ml-auto">
          <div class="row align-items-center mx-auto justify-content-center">
            <div class="col-md-4">
              <!-- <div class="card card-pricing" [routerLink]="['/simulator-ride']">
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/simulation.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Kembara Simulasi</h2>
                </div>
              </div> -->
              <div
                class="card card-blog card-background"
                data-animation="true"
                [routerLink]="['/simulator-ride']"
              >
                <div
                  class="full-background"
                  style="
                    background-image: url('assets/home/icon/kembara-simulasi.jpeg');
                  "
                ></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h3 class="card-title">Kembara Simulasi</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <div class="card card-pricing" [routerLink]="['/shows']">
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/show.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Tayangan</h2>
                </div>
              </div> -->
              <div
                class="card card-blog card-background"
                data-animation="true"
                [routerLink]="['/shows']"
              >
                <div
                  class="full-background"
                  style="
                    background-image: url('assets/home/icon/tayangan.jpeg');
                  "
                ></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h3 class="card-title">Tayangan</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <div class="card card-pricing" [routerLink]="['/exhibit']">
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/exhibit.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Pameran</h2>
                </div>
              </div> -->
              <div
                class="card card-blog card-background"
                data-animation="true"
                [routerLink]="['/exhibit']"
              >
                <div
                  class="full-background"
                  style="background-image: url('assets/home/icon/pameran.jpeg')"
                ></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h3 class="card-title">Pameran</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center mx-auto justify-content-center">
            <div class="col-md-4">
              <!-- <div class="card card-pricing" [routerLink]="['/visit']">
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/visit.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Lawatan</h2>
                </div>
              </div> -->
              <div
                class="card card-blog card-background"
                data-animation="true"
                [routerLink]="['/visit']"
              >
                <div
                  class="full-background"
                  style="background-image: url('assets/home/icon/lawatan.jpeg')"
                ></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h3 class="card-title">Lawatan</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <div class="card card-pricing" [routerLink]="['/program']">
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/program.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Program</h2>
                </div>
              </div> -->
              <div
                class="card card-blog card-background"
                data-animation="true"
                [routerLink]="['/program']"
              >
                <div
                  class="full-background"
                  style="
                    background-image: url('assets/home/icon/program-pendidikan.jpeg');
                  "
                ></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h3 class="card-title">Program Pendidikan</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <div class="card card-pricing" [routerLink]="['/survey']">
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/survey.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Maklum Balas</h2>
                </div>
              </div> -->
              <div
                class="card card-blog card-background"
                data-animation="true"
                [routerLink]="['/survey']"
              >
                <div
                  class="full-background"
                  style="
                    background-image: url('assets/home/icon/maklum-balas.jpeg');
                  "
                ></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h3 class="card-title">Maklum Balas</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center mx-auto justify-content-center">
            <div class="col-md-4">
              <!-- <div class="card card-pricing" [routerLink]="['/facility']">
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/facility.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Fasiliti</h2>
                </div>
              </div> -->
              <div
                class="card card-blog card-background"
                data-animation="true"
                [routerLink]="['/facility']"
              >
                <div
                  class="full-background"
                  style="
                    background-image: url('assets/home/icon/fasiliti.jpeg');
                  "
                ></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h3 class="card-title">Fasiliti</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <div class="card card-pricing" [routerLink]="['/publication']">
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/publication.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Penerbitan</h2>
                </div>
              </div> -->
              <div
                class="card card-blog card-background"
                data-animation="true"
                [routerLink]="['/publication']"
              >
                <div
                  class="full-background"
                  style="
                    background-image: url('assets/home/icon/penerbitan.jpeg');
                  "
                ></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h3 class="card-title">Penerbitan</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!-- <div
                class="card card-pricing"
                [routerLink]="['/virtual-library']"
              >
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/ticket.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Perpustakaan Maya</h2>
                </div>
              </div> -->
              <div
                class="card card-blog card-background"
                data-animation="true"
                [routerLink]="['/virtual-library']"
              >
                <div
                  class="full-background"
                  style="
                    background-image: url('assets/home/icon/perpustakaan-maya.jpeg');
                  "
                ></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h3 class="card-title">Perpustakaan Maya</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
    <div class="section">
        <div class="team-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Our Awesome Team</h2>
                        <h4 class="description">
                            This is the paragraph where you can write more details about your
                            team. Keep you user engaged by providing meaningful information.
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <carousel [showIndicators]="false" class="carousel-team">
                        <slide>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h1 class="title">Charlie Watson</h1>
                                    </div>
                                    <div class="col-md-4">
                                        <img alt="First slide" class="d-block" src="assets/img/charlie.jpg" />
                                    </div>
                                    <div class="col-md-4">
                                        <div class="wrapper">
                                            <div class="category">
                                                <strong>Position:</strong> Artist <br />

                                                <strong>Experience:</strong> 5 years
                                            </div>
                                            <div class="description">
                                                Artist is a term applied to a person who engages in an
                                                activity deemed to be an art. An artist also may be
                                                defined unofficially as "a person who expresses him- or
                                                herself through a medium". He is a descriptive term
                                                applied to a person who engages in an activity deemed to
                                                be an art. An artist also may be defined unofficially as
                                                "a person who expresses him- or herself through a
                                                medium".
                                            </div>
                                            <div class="footer">
                                                <a class="btn btn-icon btn-twitter btn-round" href="javascript:void(0)">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a class="btn btn-icon btn-facebook btn-round"
                                                    href="javascript:void(0)">
                                                    <i class="fab fa-facebook-square"></i>
                                                </a>
                                                <a class="btn btn-icon btn-dribbble btn-round"
                                                    href="javascript:void(0)">
                                                    <i class="fab fa-dribbble"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slide>
                        <slide>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h1 class="title">Quavo Austen</h1>
                                    </div>
                                    <div class="col-md-4">
                                        <img alt="First slide" class="d-block" src="assets/img/tom-klein.jpg" />
                                    </div>
                                    <div class="col-md-4">
                                        <div class="wrapper">
                                            <div class="category">
                                                <strong>Position:</strong> Actor <br />

                                                <strong>Experience:</strong> 1 year
                                            </div>
                                            <div class="description">
                                                Artist is a term applied to a person who engages in an
                                                activity deemed to be an art. An artist also may be
                                                defined unofficially as "a person who expresses him- or
                                                herself through a medium". He is a descriptive term
                                                applied to a person who engages in an activity deemed to
                                                be an art. An artist also may be defined unofficially as
                                                "a person who expresses him- or herself through a
                                                medium".
                                            </div>
                                            <div class="footer">
                                                <a class="btn btn-icon btn-twitter btn-round" href="javascript:void(0)">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a class="btn btn-icon btn-facebook btn-round"
                                                    href="javascript:void(0)">
                                                    <i class="fab fa-facebook-square"></i>
                                                </a>
                                                <a class="btn btn-icon btn-dribbble btn-round"
                                                    href="javascript:void(0)">
                                                    <i class="fab fa-dribbble"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slide>
                        <slide>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h1 class="title">Lucy</h1>
                                    </div>
                                    <div class="col-md-4">
                                        <img alt="First slide" class="d-block" src="assets/img/lucy.jpg" />
                                    </div>
                                    <div class="col-md-4">
                                        <div class="wrapper">
                                            <div class="category">
                                                <strong>Position:</strong> CEO <br />

                                                <strong>Experience:</strong> 7 years
                                            </div>
                                            <div class="description">
                                                Artist is a term applied to a person who engages in an
                                                activity deemed to be an art. An artist also may be
                                                defined unofficially as "a person who expresses him- or
                                                herself through a medium". He is a descriptive term
                                                applied to a person who engages in an activity deemed to
                                                be an art. An artist also may be defined unofficially as
                                                "a person who expresses him- or herself through a
                                                medium".
                                            </div>
                                            <div class="footer">
                                                <a class="btn btn-icon btn-twitter btn-round" href="javascript:void(0)">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                                <a class="btn btn-icon btn-facebook btn-round"
                                                    href="javascript:void(0)">
                                                    <i class="fab fa-facebook-square"></i>
                                                </a>
                                                <a class="btn btn-icon btn-dribbble btn-round"
                                                    href="javascript:void(0)">
                                                    <i class="fab fa-dribbble"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
