<div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <!-- <div class="overlay"></div> -->
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- <div class="page-header page-header-small header-filter">
            <div
              class="page-header-image rellax"
              data-parallax="true"
              style="background-image: url('assets/img/exhibit/minin.jpg')"
            ></div>
            <div class="content-center">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h1 class="title">Mengenai Kami</h1>
                </div>
              </div>
            </div>
          </div> -->
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">
          Dasar Privasi dan Keselamatan
        </h2>
        <div class="row pb-3">
          <h4 class="title text-dark">Dasar Privasi</h4>

          <p class="text-dark text-justify">
            Halaman ini menerangkan dasar privasi yang merangkumi penggunaan dan
            perlindungan maklumat yang dikemukakan oleh pengunjung. Sekiranya
            anda ingin mendaftar dan membuat transaksi atau menghantar e-mel
            yang mengandungi maklumat peribadi, maklumat ini mungkin akan
            dikongsi bersama dengan agensi awam lain untuk membantu penyediaan
            perkhidmatan yang lebih berkesan dan efektif. Contohnya seperti di
            dalam menyelesaikan aduan yang memerlukan maklum balas dari
            agensi-agensi lain.
          </p>

          <h4 class="title text-dark">Perlindungan Data</h4>
          <p class="text-dark text-justify">
            Teknologi terkini termasuk penyulitan data adalah digunakan untuk
            melindungi data yang dikemukakan dan pematuhan kepada standard
            keselamatan yang ketat adalah terpakai untuk menghalang capaian yang
            tidak dibenarkan.
          </p>

          <h4 class="title text-dark">Keselamatan Storan</h4>
          <p class="text-dark text-justify">
            Semua storan elektronik dan penghantaran data peribadi akan
            dilindungi dan disimpan dengan menggunakan teknologi keselamatan
            yang sesuai.
          </p>

          <h4 class="title text-dark">Maklumat Yang Dikumpul</h4>
          <p class="text-dark text-justify">
            Tiada maklumat peribadi akan dikumpul semasa anda melayari laman web
            rasmi Planetarium Negara kecuali maklumat yang dikemukakan oleh anda
            melalui e-mel yang merupakan bahagian yang dilindungi dalam laman
            web ini.
          </p>

          <h4 class="title text-dark">Maklum Balas</h4>
          <p class="text-dark text-justify">
            Kami amat mengalu-alukan maklum balas/pertanyaan anda. Sekiranya
            maklumat yang terperinci diperlukan tidak terdapat di dalam laman
            web ini, keperluan anda akan dimajukan kepada agensi yang berkaitan.
          </p>

          <h4 class="title text-dark">
            Apa yang akan berlaku jika saya membuat pautan kepada laman web yang
            lain?
          </h4>
          <p class="text-dark text-justify">
            Laman web ini mempunyai pautan ke laman web agensi Kerajaan dan
            agensi bukan Kerajaan. Dasar privasi ini hanya terpakai untuk laman
            web ini sahaja. Perlu diingatkan bahawa laman web yang terdapat
            dalam pautan laman web ini mungkin mempunyai dasar privasi yang
            berbeza dan pengunjung dinasihatkan supaya meneliti dan memahami
            dasar privasi bagi setiap laman web yang dilayari.
          </p>

          <h4 class="title text-dark">Pindaan Dasar</h4>
          <p class="text-dark text-justify">
            Sekiranya dasar privasi ini dipinda, pindaan akan dikemas kini di
            halaman ini. Dengan sering melayari halaman ini, anda akan dikemas
            kini dengan maklumat yang dikumpul, cara ia digunakan dan dalam
            keadaan tertentu, bagaimana maklumat dikongsi bersama pihak yang
            lain.
          </p>

          <h4 class="title text-dark">Pertanyaan atau Aduan</h4>
          <p class="text-dark text-justify">
            Sekiranya anda mempunyai sebarang pertanyaan atau aduan mengenai
            dasar privasi atau laman web ini, anda boleh menghubungi kami
            melalui seksyen Hubungi Kami yang disediakan dalam laman web ini.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
