<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Analytics</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-chart-bar text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-default">
                    <h4 class="m-0 text-white">Ticket Collection</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="type"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSource"
                        >
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-default ">
                    <h4 class="m-0 text-white">Webhit Counter</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="typeTwo"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSourceTwo"
                        >
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-default ">
                    <h4 class="m-0  text-white">Cause And Effect Relationship</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="typeThree"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSourceThree"
                        >
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-default">
                    <h4 class="m-0 text-white">Return on Investment</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="typeFour"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSourceFour"
                        >
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-default">
                    <h4 class="m-0 text-white">Statistical Analysis</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="typeFive"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSourceFive"
                        >
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-default">
                    <h4 class="m-0 text-white">Network Analysis</h4>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <fusioncharts
                            [width]="width"
                            [height]="height"
                            [type]="typeSix"
                            [dataFormat]="dataFormat"
                            [dataSource]="dataSourceSix"
                        >
                        </fusioncharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>