<div class="wrapper">
    <div class="page-header page-header-small header-filter">
        <div class="page-header-image rellax" data-parallax="true"
            style="background-image: url('assets/img/publication/publication.jpeg');"></div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h1 class="title">
                        Penerbitan
                    </h1>
                    <h2 class="description">Anda boleh mengakses penerbitan di dalam modul ini.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="cd-section" id="projects">
        <div class="projects-1">
            <div class="projects-1">
                <div class="projects-4">
                    <div class="container">
                        <div class="space-50"></div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card card-background" style="background-image: url('assets/img/publication/publication_1.png')">
                                    <div class="card-body text-left">
                                        <h6 class="card-category">
                                            <i class="tim-icons icon-atom"> </i>
                                        </h6>
                                        <a href="javascript:void(0)">
                                            <h3 class="card-title">CAKERAWALA BIL. 1, 1997</h3>
                                        </a>
                                        <h6 class="desc">1997</h6>
                                        <a class="btn btn-info" (click)="openAfterDownload()">
                                            Muat Turun
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-background" style="background-image: url('assets/img/publication/publication_2.png')">
                                    <div class="card-body text-left">
                                        <h6 class="card-category">
                                            <i class="tim-icons icon-camera-18"> </i>
                                        </h6>
                                        <a href="javascript:void(0)">
                                            <h3 class="card-title">CAKERAWALA BIL. 1/1998</h3>
                                        </a>
                                        <h6 class="desc">1998</h6>
                                        <a class="btn btn-success" (click)="openAfterDownload()">
                                            Muat Turun
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-background" style="background-image: url('assets/img/publication/publication_3.png')">
                                    <div class="card-body text-left">
                                        <h6 class="card-category">
                                            <i class="tim-icons icon-html5"> </i>
                                        </h6>
                                        <a href="javascript:void(0)">
                                            <h3 class="card-title">CAKERAWALA BIL. 1/1999</h3>
                                        </a>
                                        <h6 class="desc">1999</h6>
                                        <a class="btn btn-warning" (click)="openAfterDownload()">
                                            Muat Turun
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card card-background" style="background-image: url('assets/img/publication/publication_4.png')">
                                    <div class="card-body text-left">
                                        <h6 class="card-category">
                                            <i class="tim-icons icon-atom"> </i>
                                        </h6>
                                        <a href="javascript:void(0)">
                                            <h3 class="card-title">CAKERAWALA BIL 2/1999</h3>
                                        </a>
                                        <h6 class="desc">1999</h6>
                                        <a class="btn btn-info" (click)="openAfterDownload()">
                                            Muat Turun
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-background" style="background-image: url('assets/img/publication/publication_5.png')">
                                    <div class="card-body text-left">
                                        <h6 class="card-category">
                                            <i class="tim-icons icon-camera-18"> </i>
                                        </h6>
                                        <a href="javascript:void(0)">
                                            <h3 class="card-title">CAKERAWALA BIL 3/1999 </h3>
                                        </a>
                                        <h6 class="desc">1999</h6>
                                        <a class="btn btn-success" (click)="openAfterDownload()">
                                            Muat Turun
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-background" style="background-image: url('assets/img/publication/publication_6.png')">
                                    <div class="card-body text-left">
                                        <h6 class="card-category">
                                            <i class="tim-icons icon-html5"> </i>
                                        </h6>
                                        <a href="javascript:void(0)">
                                            <h3 class="card-title">CAKERAWALA BIL: 2/2000</h3>
                                        </a>
                                        <h6 class="desc">2000</h6>
                                        <a class="btn btn-warning" (click)="openAfterDownload()">
                                            Muat Turun
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>