<div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <!-- <div class="overlay"></div> -->
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- <div class="page-header page-header-small header-filter">
            <div
              class="page-header-image rellax"
              data-parallax="true"
              style="background-image: url('assets/img/exhibit/minin.jpg')"
            ></div>
            <div class="content-center">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h1 class="title">Mengenai Kami</h1>
                </div>
              </div>
            </div>
          </div> -->
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Lokasi Kami</h2>
        <div class="row pb-3">
          <div class="col mx-auto">
            <iframe
              width="100%"
              height="450"
              frameborder="0"
              style="border: 0"
              src="https://maps.google.com/maps?q=Planetarium%20Negara%2C%20Kuala%20Lumpur&t=m&z=15&output=embed&iwloc=near"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-md-6 col-sm-12">
            <div class="card bg-transparent" style="height: 500px">
              <div class="card-body">
                <h2 class="title text-dark">CARI KAMI DI</h2>

                <h4 class="title text-dark">Planetarium Negara</h4>
                <p>
                  53, Jalan Perdana,<br />Tasik Perdana,<br />50480 Kuala
                  Lumpur,<br />Wilayah Persekutuan Kuala Lumpur
                </p>

                <p>Koordinat: 3.1396° N,101.6887° E</p>

                <h2 class="title text-dark">HUBUNGI KAMI</h2>

                <p>Nombor Telefon: +603-2273-4303</p>
                <p>Fax: +603-2273-5488</p>
                <p>Emel: info[at]planet.gov.my</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="card bg-transparent" style="height: 500px">
              <div class="card-body">
                <h2 class="title text-dark">DI MANA KAMI BERADA</h2>

                <ul>
                  <li>
                    <p>Bersebelahan dengan Taman Burung (KL Bird Park)</p>
                  </li>
                  <li><p>Muzium Polis</p></li>
                  <li><p>Memorial Tun Abdul Razak</p></li>
                  <li><p>Taman Botani Perdana</p></li>
                  <li><p>Muzium Kesenian Islam</p></li>
                  <li><p>Masjid Negara</p></li>
                  <li>
                    <p>
                      Stesen MRT Muzium Negara (akses jejantas pejalan kaki)
                    </p>
                  </li>
                  <li>
                    <p>Parkir kereta dan bas disediakan secara percuma</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <h2 class="title text-center text-dark">
          Bagaimana hendak ke Planetarium?
        </h2>

        <div class="row pb-3">
          <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent" style="height: auto">
              <div class="card-body">
                <div class="card-img text-center">
                  <img
                    src="../../../assets/icon/train.svg"
                    style="width: 30%"
                  />
                </div>
                <h4 class="title text-dark text-center">
                  Menggunakan Kereta Api
                </h4>
                <p class="text-dark text-justify">
                  Ambil kereta api dan lakukan perjalanan ke stesen MRT Muzium
                  Negara (SBK15) melalui akses jejantas pejalan kaki.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent" style="height: auto">
              <div class="card-body">
                <div class="card-img text-center">
                  <img src="../../../assets/icon/bus.svg" style="width: 30%" />
                </div>
                <h4 class="title text-dark text-center">Menggunakan Bas</h4>
                <p class="text-dark text-justify">
                  Ambil bas dari KL Sentral ke Muzium Negara - 7 Minit jalan
                  kaki ke Planetarium Negara.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent" style="height: auto">
              <div class="card-body">
                <div class="card-img text-center">
                  <img src="../../../assets/icon/grab.svg" style="height: 96px" />
                </div>
                <h4 class="title text-dark text-center">Menggunakan Grab</h4>
                <p class="text-dark text-justify">
                  Buat tempahan perjalanan e-hailing dengan Grab dengan memilih
                  untuk ambil atau turun di Planetarium Negara.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent" style="height: auto">
              <div class="card-body">
                <div class="card-img text-center">
                  <img src="../../../assets/icon/car.svg" style="width: 30%" />
                </div>
                <h4 class="title text-dark text-center">Menggunakan Kereta</h4>
                <p class="text-dark text-justify">
                  Mulakan perjalanan ke Planetarium Negara dari Jalan Bangsar
                  terus menuju ke Stesen Kereta Api KTM memalui pusingan, belok
                  ke kiri ke arah Masjid Negara.<br />
                  Mulakan perjalanan ke Planetarium Negara dari Jalan Mahameru,
                  ambil kiri ke Jalan Parlimen. Di lampu isyarat, belok kanan
                  kea rah Taman Tasik Kuala Lumpur.<br />Atau anda boleh waze
                  "Planetarium Negara".
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent" style="height: auto">
              <div class="card-body">
                <div class="card-img text-center">
                  <img src="../../../assets/icon/taxi.svg" style="width: 30%" />
                </div>
                <h4 class="title text-dark text-center">Menggunakan Teksi</h4>
                <p class="text-dark text-justify">
                  Memilih perjalanan ke Planetarium Negara dengan menggunakan
                  teksi adalah lebih mudah dengan hanya meminta untuk menurunkan
                  anda di hadapan Planetarium Negara. Sentiasa meminta pemandu
                  teksi untuk hidupkan meter tambang sebelum memulakan
                  perjalanan.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent" style="height: auto">
              <div class="card-body">
                <div class="card-img text-center">
                  <img src="../../../assets/icon/bike.svg" style="width: 30%" />
                </div>
                <h4 class="title text-dark text-center">
                  Menggunakan Motorsikal
                </h4>
                <p class="text-dark text-justify">
                  Mulakan perjalanan ke Planetarium Negara dari Jalan Bangsar
                  terus menuju ke Stesen Kereta Api KTM memalui pusingan, belok
                  ke kiri ke arah Masjid Negara.<br />Mulakan perjalanan ke
                  Planetarium Negara dari Jalan Mahameru, ambil kiri ke Jalan
                  Parlimen. Di lampu isyarat, belok kanan kea rah Taman Tasik
                  Kuala Lumpur.<br />Atau anda boleh waze “Planetarium Negara”
                </p>
              </div>
            </div>
          </div>
        </div>

        <h2 class="title text-center text-dark">
          Perkhidmatan & Kemudahan yang disediakan
        </h2>

        <div class="row pb-3">
          <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent">
              <div class="card-body">
                <h3 class="title text-dark text-center">PARKIR</h3>

                <p class="text-dark text-center">
                  Menyediakan parkir kereta dan bas secara percuma.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent">
              <div class="card-body">
                <h3 class="title text-dark text-center">TANDAS</h3>

                <p class="text-dark text-center">
                  Tandas awam disediakan untuk kegunaan pengunjung.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent">
              <div class="card-body">
                <h3 class="title text-dark text-center">SURAU</h3>

                <p class="text-dark text-center">
                  Surau disediakan untuk kegunaan pengunjung.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
