<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Senarai Bayaran Balik
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-invoice text-dark"></i>
                </a>
              </li>
            </ol>
          </nav>
        </div>

        <!-- <div class="col-lg-6 col-5 text-right">
          <a
            class="btn btn-sm btn-neutral"
            (click)="openModal(createRefund, 'create', '')"
          >
            Tambah
          </a>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Senarai Bayaran Balik</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Papar
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="tableEntries == 5">5</option>
                    <option value="10" [selected]="tableEntries == 10">
                      10
                    </option>
                    <option value="15" [selected]="tableEntries == 15">
                      15
                    </option>
                    <option value="-1" [selected]="tableEntries == -1">
                      Semua
                    </option>
                  </select>
                  rekod
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Cari rekod"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="tableTemp"
            (activate)="onActivate($event)"
            [scrollbarH]="true"
          >
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>No. Bayaran Balik</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.refund_running_no }}
              </ng-template>
            </ngx-datatable-column>

            <!-- <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Jenis Bayaran Balik</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.refund_type == 'T'">Tiket</span>
                <span *ngIf="row.refund_type == 'M'">Duit</span>
              </ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Info Tempahan</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button
                  class="btn btn-info btn-sm"
                  (click)="
                    openModal(infoShow, 'info-show', row.show_booking_id)
                  "
                  *ngIf="row.show_booking_id"
                >
                  Info Tayangan
                </button>
                <button
                  class="btn btn-info btn-sm"
                  (click)="
                    openModal(
                      infoSimulatorRide,
                      'info-simulator-ride',
                      row.simulator_ride_booking_id
                    )
                  "
                  *ngIf="row.simulator_ride_booking_id"
                >
                  Info Kembara Simulasi
                </button>

                <button
                  class="btn btn-info btn-sm"
                  (click)="
                    openModal(
                      infoFacility,
                      'info-facility',
                      row.facility_booking_id
                    )
                  "
                  *ngIf="row.facility_booking_id"
                >
                  Info Fasiliti
                </button>
              </ng-template>
            </ngx-datatable-column>

            <!-- <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Pelanggan</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.user.full_name }}
              </ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Petugas</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.incharge_id; else no_incharge_id">
                  {{ row.incharge_id.full_name }}
                </span>
                <ng-template #no_incharge_id>Tiada</ng-template>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Pengesah</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.pic_verification_id; else no_pic_verification">
                  {{ row.pic_verification_id.full_name }}
                </span>
                <ng-template #no_pic_verification>Tiada</ng-template>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span
                  *ngIf="row.status == 'RC'"
                  class="badge badge-pill badge-warning"
                  >Bayaran Balik Dibuat</span
                >
                <span
                  *ngIf="row.status == 'RA'"
                  class="badge badge-pill badge-success"
                  >Bayaran Balik Lulus</span
                >
                <span
                  *ngIf="row.status == 'RR'"
                  class="badge badge-pill badge-danger"
                  >Bayaran Balik Ditolak</span
                >
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Tindakan</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button
                  class="btn btn-sm btn-primary"
                  (click)="openModal(editRefund, 'update', row)"
                >
                  Sunting
                </button>
                <button
                  class="btn btn-sm btn-warning"
                  *ngIf="row.status == 'RC'"
                  (click)="verify(row)"
                >
                  Pengesahan
                </button>
                <button class="btn btn-sm btn-danger" (click)="delete(row)">
                  Buang
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createRefund>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Tambah
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="refundFormGroup">
      <div class="form-group">
        <label class="form-control-label">Jenis Bayaran Balik</label><br />
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioTicket"
            name="refund_type"
            formControlName="refund_type"
            class="custom-control-input"
            value="T"
          />
          <label class="custom-control-label" for="radioTicket">Tiket</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioMoney"
            name="refund_type"
            formControlName="refund_type"
            class="custom-control-input"
            value="M"
          />
          <label class="custom-control-label" for="radioMoney">Duit</label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label">Deskripsi</label>
        <textarea
          class="form-control"
          formControlName="description"
          placeholder="Deskripsi"
          rows="5"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Jumlah (RM)</label>
        <input
          type="number"
          class="form-control"
          formControlName="amount"
          placeholder="Jumlah (RM)"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Nama Bank</label>
        <select class="form-control" formControlName="bank_id">
          <option value="" selected>Sila pilih</option>
          <option *ngFor="let banklist of banklists" [value]="banklist.id">
            {{ banklist.bank_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">No. Akaun Bank</label>
        <input
          type="text"
          class="form-control"
          formControlName="acc_number"
          placeholder="No. Akaun Bank"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Nota</label>
        <textarea
          class="form-control"
          formControlName="remarks"
          placeholder="Nota"
          rows="5"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Pelanggan</label>
        <select class="form-control" formControlName="user">
          <option value="" selected>Sila pilih</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.full_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">Petugas</label>
        <select class="form-control" formControlName="incharge_id">
          <option value="" selected>Sila pilih</option>
          <option *ngFor="let incharge of incharges" [value]="incharge.id">
            {{ incharge.full_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">Pengesah</label>
        <select class="form-control" formControlName="pic_verification_id">
          <option value="" selected>Sila pilih</option>
          <option
            *ngFor="let picverification of picverifications"
            [value]="picverification.id"
          >
            {{ picverification.full_name }}
          </option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label class="form-control-label">Status</label><br />
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioStatusApprove"
            name="status"
            formControlName="status"
            class="custom-control-input"
            value="RA"
          />
          <label class="custom-control-label" for="radioStatusApprove"
            >Lulus</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioStatusReject"
            name="status"
            formControlName="status"
            class="custom-control-input"
            value="RR"
          />
          <label class="custom-control-label" for="radioStatusReject"
            >Ditolak</label
          >
        </div>
      </div> -->
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="create()">
      Simpan
    </button>

    <button
      class="btn btn-outline-primary ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Tutup
    </button>
  </div>
</ng-template>

<ng-template #editRefund>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Ubah Suai
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="refundFormGroup">
      <div class="form-group">
        <label class="form-control-label">Jenis Bayaran Balik</label><br />
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioTicket"
            name="refund_type"
            formControlName="refund_type"
            class="custom-control-input"
            value="T"
          />
          <label class="custom-control-label" for="radioTicket">Tiket</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioMoney"
            name="refund_type"
            formControlName="refund_type"
            class="custom-control-input"
            value="M"
          />
          <label class="custom-control-label" for="radioMoney">Duit</label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label">Deskripsi</label>
        <textarea
          class="form-control"
          formControlName="description"
          placeholder="Deskripsi"
          rows="5"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Jumlah (RM)</label>
        <input
          type="number"
          class="form-control"
          formControlName="amount"
          placeholder="Jumlah (RM)"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Nama Bank</label>
        <select class="form-control" formControlName="bank_id">
          <option value="" selected>Sila pilih</option>
          <option *ngFor="let banklist of banklists" [value]="banklist.id">
            {{ banklist.bank_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">No. Akaun Bank</label>
        <input
          type="text"
          class="form-control"
          formControlName="acc_number"
          placeholder="No. Akaun Bank"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Nota</label>
        <textarea
          class="form-control"
          formControlName="remarks"
          placeholder="Nota"
          rows="5"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Pelanggan</label>
        <select class="form-control" formControlName="user">
          <option value="" selected>Sila pilih</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.full_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">Petugas</label>
        <select class="form-control" formControlName="incharge_id">
          <option value="" selected>Sila pilih</option>
          <option *ngFor="let incharge of incharges" [value]="incharge.id">
            {{ incharge.full_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">Pengesah</label>
        <select class="form-control" formControlName="pic_verification_id">
          <option value="" selected>Sila pilih</option>
          <option
            *ngFor="let picverification of picverifications"
            [value]="picverification.id"
          >
            {{ picverification.full_name }}
          </option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label class="form-control-label">Status</label><br />
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioStatusApprove"
            name="status"
            formControlName="status"
            class="custom-control-input"
            value="RA"
          />
          <label class="custom-control-label" for="radioStatusApprove"
            >Lulus</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioStatusReject"
            name="status"
            formControlName="status"
            class="custom-control-input"
            value="RR"
          />
          <label class="custom-control-label" for="radioStatusReject"
            >Ditolak</label
          >
        </div>
      </div> -->
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="update()">
      Simpan
    </button>

    <button
      class="btn btn-outline-primary ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Tutup
    </button>
  </div>
</ng-template>

<ng-template #infoShow>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Info Tayangan
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <h1>No. Resit: <span class="float-right">{{ invoicereceipts[0]?.receipt_running_no }}</span></h1>
    <div class="table-responsive">
      <table style="width: 100%">
        <tbody>
          <h3>Maklumat Tempahan</h3>

          <tr>
            <td>Tarikh Tempahan</td>
            <td>:</td>
            <td>{{ infobooking[0]?.showtime_id.show_date }}</td>
          </tr>
          <tr>
            <td>Masa Tempahan</td>
            <td>:</td>
            <td>{{ infobooking[0]?.showtime_id.show_time }}</td>
          </tr>
          <tr>
            <td>Warganegara</td>
            <td>:</td>
            <td>{{ infobooking[0]?.ticket_type }}</td>
          </tr>
          <tr>
            <td>Kategori Tiket</td>
            <td>:</td>
            <td>{{ infobooking[0]?.ticket_category }}</td>
          </tr>
          <tr>
            <td>Harga (RM)</td>
            <td>:</td>
            <td>{{ infobooking[0]?.total_price }}</td>
          </tr>
          <tr>
            <td>Nombor Kerusi</td>
            <td>:</td>
            <td>{{ infobooking[0]?.ticket_seat }}</td>
          </tr>

          <tr>
            <td colspan="3"><hr /></td>
          </tr>

          <h3>Maklumat Tayangan</h3>
          <tr>
            <td>Tajuk</td>
            <td>:</td>
            <td>{{ infobooking[0]?.show_id.title_ms }}</td>
          </tr>
          <tr>
            <td>Durasi</td>
            <td>:</td>
            <td>
              {{ infobooking[0]?.show_id.duration_hours }} jam
              {{ infobooking[0]?.show_id.duration_minutes }} minit
            </td>
          </tr>

          <tr>
            <td colspan="3"><hr /></td>
          </tr>

          <h3>Maklumat Pelanggan</h3>
          <tr>
            <td>Nama Pelanggan</td>
            <td>:</td>
            <td>{{ infobooking[0]?.user_id.full_name }}</td>
          </tr>
          <tr>
            <td>No. Telefon</td>
            <td>:</td>
            <td>{{ infobooking[0]?.user_id.phone }}</td>
          </tr>
          <tr>
            <td>E-mel</td>
            <td>:</td>
            <td>{{ infobooking[0]?.user_id.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-outline-primary ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Tutup
    </button>
  </div>
</ng-template>

<ng-template #infoSimulatorRide>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Info Kembara Simulasi
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <h1>No. Resit: <span class="float-right">{{ invoicereceipts[0]?.receipt_running_no }}</span></h1>
    <div class="table-responsive">
      <table style="width: 100%">
        <tbody>
          <h3>Maklumat Tempahan</h3>

          <tr>
            <td>Tarikh Tempahan</td>
            <td>:</td>
            <td>{{ infobooking[0]?.booking_date }}</td>
          </tr>
          <tr>
            <td>Masa Tempahan</td>
            <td>:</td>
            <td>{{ infobooking[0]?.simulator_ride_time_id.time }}</td>
          </tr>
          <tr>
            <td>Warganegara</td>
            <td>:</td>
            <td>{{ infobooking[0]?.ticket_type }}</td>
          </tr>
          <tr>
            <td>Kategori Tiket</td>
            <td>:</td>
            <td>{{ infobooking[0]?.ticket_category }}</td>
          </tr>
          <tr>
            <td>Harga (RM)</td>
            <td>:</td>
            <td>{{ infobooking[0]?.total_price }}</td>
          </tr>

          <tr>
            <td colspan="3"><hr /></td>
          </tr>

          <h3>Maklumat Pelanggan</h3>
          <tr>
            <td>Nama Pelanggan</td>
            <td>:</td>
            <td>{{ infobooking[0]?.user_id.full_name }}</td>
          </tr>
          <tr>
            <td>No. Telefon</td>
            <td>:</td>
            <td>{{ infobooking[0]?.user_id.phone }}</td>
          </tr>
          <tr>
            <td>E-mel</td>
            <td>:</td>
            <td>{{ infobooking[0]?.user_id.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-outline-primary ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Tutup
    </button>
  </div>
</ng-template>

<ng-template #infoFacility>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Info Fasiliti
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <h1>No. Resit: <span class="float-right">{{ invoicereceipts[0]?.receipt_running_no }}</span></h1>
    <div class="table-responsive">
      <table style="width: 100%">
        <tbody>
          <h3>Maklumat Tempahan</h3>

          <tr>
            <td>Tarikh Tempahan</td>
            <td>:</td>
            <td>{{ infobooking[0]?.booking_date }}</td>
          </tr>
          <tr>
            <td>Masa Tempahan</td>
            <td>:</td>
            <td>{{ infobooking[0]?.booking_days }}</td>
          </tr>
          <tr>
            <td>Kategori Organisasi</td>
            <td>:</td>
            <td>{{ infobooking[0]?.organisation_category }}</td>
          </tr>
          <tr>
            <td>Nama Organisasi</td>
            <td>:</td>
            <td>{{ infobooking[0]?.organisation_name }}</td>
          </tr>
          <tr>
            <td>Peralatan</td>
            <td>:</td>
            <td>{{ infobooking[0]?.want_equipment }}</td>
          </tr>
          <tr>
            <td>Bilangan Orang</td>
            <td>:</td>
            <td>{{ infobooking[0]?.number_of_people }}</td>
          </tr>
          <tr>
            <td>Harga (RM)</td>
            <td>:</td>
            <td>{{ infobooking[0]?.total_price }}</td>
          </tr>

          <tr>
            <td colspan="3"><hr /></td>
          </tr>

          <h3>Maklumat Fasiliti</h3>
          <tr>
            <td>Nama</td>
            <td>:</td>
            <td>{{ infobooking[0]?.facility_id.name_ms }}</td>
          </tr>
          <tr>
            <td>PIC</td>
            <td>:</td>
            <td>
              {{ infobooking[0]?.facility_id.pic_id.full_name }}
            </td>
          </tr>

          <tr>
            <td colspan="3"><hr /></td>
          </tr>

          <h3>Maklumat Pelanggan</h3>
          <tr>
            <td>Nama Pelanggan</td>
            <td>:</td>
            <td>{{ infobooking[0]?.user_id.full_name }}</td>
          </tr>
          <tr>
            <td>No. Telefon</td>
            <td>:</td>
            <td>{{ infobooking[0]?.user_id.phone }}</td>
          </tr>
          <tr>
            <td>E-mel</td>
            <td>:</td>
            <td>{{ infobooking[0]?.user_id.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-outline-primary ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Tutup
    </button>
  </div>
</ng-template>
