<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Senarai Maklum Balas</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-invoice text-dark"></i>
                </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <a
            class="btn btn-sm btn-neutral"
            (click)="openModal(createFeedback, 'create', '')"
          >
            Tambah
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Senarai Maklum Balas</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Papar
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="10" [selected]="tableEntries == 5">5</option>
                    <option value="25" [selected]="tableEntries == 10">
                      10
                    </option>
                    <option value="50" [selected]="tableEntries == 15">
                      15
                    </option>
                    <option value="-1" [selected]="tableEntries == -1">
                      Semua
                    </option>
                  </select>
                  rekod
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Cari rekod"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="tableTemp"
            (activate)="onActivate($event)"
            [scrollbarH]="true"
          >
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Nama Penuh</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.user_id.full_name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Modul</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ getModule(row.module) }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Komen Pengguna</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.comment_user | slice: 0:200 }} ...
              </ng-template>
            </ngx-datatable-column>

            <!-- <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Komen Pentadbir</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.comment_admin | slice: 0:200 }} ...
              </ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Papar?</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.display" class="badge badge-pill badge-success"
                  >Ya</span
                >
                <span *ngIf="!row.display" class="badge badge-pill badge-danger"
                  >Tidak</span
                >
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row.status" class="badge badge-pill badge-success"
                  >Sudah Dibalas</span
                >
                <span *ngIf="!row.status" class="badge badge-pill badge-danger"
                  >Belum Dibalas</span
                >
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Tindakan</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button
                  class="btn btn-sm btn-success"
                  (click)="reply(row)"
                  *ngIf="!row.status"
                >
                  Balas
                </button>
                <button
                  class="btn btn-sm btn-primary"
                  (click)="openModal(editFeedback, 'update', row)"
                >
                  Sunting
                </button>
                <button class="btn btn-sm btn-danger" (click)="delete(row)">
                  Buang
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createFeedback>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Tambah
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="feedbackFormGroup">
      <div class="form-group">
        <label class="form-control-label">Nama Penuh</label>
        <select
          class="form-control"
          formControlName="user_id"
          placeholder="Sila pilih"
        >
          <option value="">Sila pilih</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.full_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">Modul</label>
        <select
          class="form-control"
          formControlName="module"
          placeholder="Sila pilih"
        >
          <option value="">Sila pilih</option>
          <option *ngFor="let module of modules" [value]="module.value">
            {{ module.display_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">Komen Pengguna</label>
        <textarea
          rows="5"
          class="form-control"
          formControlName="comment_user"
          placeholder="Komen Pengguna"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Komen Pentadbir</label>
        <textarea
          rows="5"
          class="form-control"
          formControlName="comment_admin"
          placeholder="Komen Pentadbir"
        ></textarea>
      </div>
      <!-- <div class="form-group">
            <label class="form-control-label">Status</label>
            <select
              class="form-control"
              formControlName="status"
              placeholder="Sila pilih"
            >
              <option value="AV">Aktif</option>
              <option value="NA">Tidak aktif</option>
            </select>
          </div> -->
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="create()">
      Simpan
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Batal
    </button>
  </div>
</ng-template>

<ng-template #editFeedback>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Ubah Suai
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="feedbackFormGroup">
      <div class="form-group">
        <label class="form-control-label">Nama Penuh</label>
        <select
          class="form-control"
          formControlName="user_id"
          placeholder="Sila pilih"
        >
          <option value="">Sila pilih</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.full_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">Modul</label>
        <select
          class="form-control"
          formControlName="module"
          placeholder="Sila pilih"
          disabled
        >
          <option value="">Sila pilih</option>
          <option *ngFor="let module of modules" [value]="module.value">
            {{ module.display_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">Komen Pengguna</label>
        <textarea
          rows="5"
          class="form-control"
          formControlName="comment_user"
          placeholder="Komen Pengguna"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Komen Pentadbir</label>
        <textarea
          rows="5"
          class="form-control"
          formControlName="comment_admin"
          placeholder="Komen Pentadbir"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Papar?</label><br />
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioDisplayTrue"
            name="status"
            formControlName="display"
            class="custom-control-input"
            value="true"
          />
          <label class="custom-control-label" for="radioDisplayTrue"
            >Ya</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioDisplayFalse"
            name="status"
            formControlName="display"
            class="custom-control-input"
            value="false"
          />
          <label class="custom-control-label" for="radioDisplayFalse"
            >Tidak</label
          >
        </div>
      </div>
      <!-- <div class="form-group">
            <label class="form-control-label">Status</label>
            <select
              class="form-control"
              formControlName="status"
              placeholder="Sila pilih"
            >
              <option value="AV">Aktif</option>
              <option value="NA">Tidak aktif</option>
            </select>
          </div> -->
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="update()">
      Simpan
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Batal
    </button>
  </div>
</ng-template>
