<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Ticketing</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-ticket-alt text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="chart">
                        <div id="chartdiv" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="chart">
                        <div id="chartdiv1" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-default">
                    <h4 class="m-0 text-white">Ticket Stock</h4>
                </div>
                <div class="responsive-table">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Total Tickets</th>
                                <th scope="col">Total Sales</th>
                                <th scope="col">Daily Sales</th>
                                <th scope="col">Monthly Sales</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">Show 1</th>
                                <td>20000</td>
                                <td>RM280000</td>
                                <td>RM5000</td>
                                <td>RM14500</td>
                            </tr>
                            <tr>
                                <th scope="row">Show 2</th>
                                <td>20000</td>
                                <td>RM280000</td>
                                <td>RM5000</td>
                                <td>RM14500</td>
                            </tr>
                            <tr>
                                <th scope="row">Show 3</th>
                                <td>20000</td>
                                <td>RM280000</td>
                                <td>RM5000</td>
                                <td>RM14500</td>
                            </tr>
                            <tr>
                                <th scope="row">Show 4</th>
                                <td>20000</td>
                                <td>RM280000</td>
                                <td>RM5000</td>
                                <td>RM14500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>