<div class="wrapper" [ngClass]="fontSize">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/survey/survey.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Maklum Balas</h1>
          <h2 class="description">
            Soal selidik ini bertujuan untuk mendapatkan maklumbalas dari
            pelanggan / pengunjung agar kualiti program dan layanan petugas
            Planetarium Negara (PN) dapat dipertingkatkan. Segala maklumat yang
            diberikan akan dirahsiakan.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="row">
        <div class="col-10 mx-auto">
          <div class="p-5" *ngIf="typeQuestion == ''">
            <h2 class="text-center text-dark font-weight-bold">
              Sila pilih <share-button button="facebook"></share-button
              ><share-button button="twitter"></share-button
              ><share-button button="whatsapp"></share-button>
            </h2>
            <div class="row align-items-center">
              <div class="col-md-6 text-right">
                <!-- <button class="btn btn-default" (click)="chooseQuestion('soalselidik')">
            Soal Selidik
          </button> -->
                <div
                  class="card card-pricing"
                  (click)="chooseQuestion('soalselidik', 'Tayangan', 'M01')"
                >
                  <!--(click)="chooseQuestion('soalselidik')"-->
                  <div class="card-header bg-white">
                    <img
                      src="../../../assets/icon/survey.jpeg"
                      style="max-width: 150px; margin-bottom: 1rem"
                    />
                  </div>
                  <div class="card-body">
                    <h2 class="title m-0">Soal Selidik</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-6 text-left">
                <!-- <button class="btn btn-default" (click)="chooseQuestion('maklumbalas')">
            Maklum Balas
          </button> -->
                <div
                  class="card card-pricing"
                  (click)="chooseQuestion('maklumbalas', '')"
                >
                  <div class="card-header bg-white">
                    <img
                      src="../../../assets/icon/feedback.jpeg"
                      style="max-width: 150px; margin-bottom: 1rem"
                    />
                  </div>
                  <div class="card-body">
                    <h2 class="title m-0">Maklum Balas / Aduan</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section" *ngIf="typeQuestion == 'soalselidik'">
            <h1 class="font-weight-bold text-center text-dark pt-5">
              Soal Selidik ({{ module }})
            </h1>
            <form [formGroup]="surveyFormGroup">
              <tabset>
                <tab
                  *ngFor="let module of modules"
                  [heading]="module.display_name"
                  (selectTab)="changeTab($event)"
                >
                  <div class="row">
                    <div class="col-md-8 col-sm-12 mx-auto">
                      <table class="table">
                        <tbody>
                          <tr
                            *ngFor="
                              let surveyquestion of surveyquestions
                                | surveyquestionfilter
                                  : { questionnaire_module: module.value };
                              let i = index
                            "
                          >
                            <td
                              class="d-flex align-self-top justify-content-center text-dark font-weight-bold"
                            >
                              {{ i + 1 }}
                            </td>
                            <td>
                              <div class="form-group">
                                <div class="form-label">
                                  <p class="text-dark">{{ surveyquestion.questionnaire_question }}</p>
                                </div>
                                <div
                                  class="row pt-3"
                                  *ngIf="
                                    surveyquestion.questionnaire_type == 'SL'
                                  "
                                >
                                  <div class="col">
                                    <div class="form-group">
                                      <select
                                        class="form-control text-dark"
                                        [formControlName]="
                                          surveyquestion.questionnaire_fieldname
                                        "
                                      >
                                        <option value="">Sila pilih</option>
                                        <option
                                          class="text-dark"
                                          *ngFor="
                                            let answer of surveyquestion.questionnaire_answer;
                                            let i = index
                                          "
                                          [value]="answer"
                                        >
                                          {{ answer }}
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="row pt-3"
                                  *ngIf="
                                    surveyquestion.questionnaire_type == 'RB'
                                  "
                                >
                                  <div
                                    class="col"
                                    *ngFor="
                                      let answer of surveyquestion.questionnaire_answer;
                                      let i = index
                                    "
                                  >
                                    <div
                                      class="form-check form-check-radio form-check-inline"
                                    >
                                      <label class="form-check-label text-dark">
                                        <input
                                          class="form-check-input"
                                          type="radio"
                                          [id]="
                                            surveyquestion.questionnaire_fieldname +
                                            i
                                          "
                                          [name]="
                                            surveyquestion.questionnaire_fieldname
                                          "
                                          [value]="answer"
                                          [formControlName]="
                                            surveyquestion.questionnaire_fieldname
                                          "
                                        />
                                        {{ answer }}
                                        <span class="form-check-sign"></span>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="row pt-3"
                                  *ngIf="
                                    surveyquestion.questionnaire_type == 'CB'
                                  "
                                >
                                  <div
                                    class="col"
                                    *ngFor="
                                      let answer of surveyFormGroup.controls[
                                        surveyquestion.questionnaire_fieldname
                                      ].controls;
                                      let i = index
                                    "
                                  >
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label text-dark">
                                        <input
                                          class="form-check-input"
                                          type="checkbox"
                                          [formControl]="answer"
                                        />
                                        {{
                                          surveyquestion.questionnaire_answer[i]
                                        }}
                                        <span class="form-check-sign"></span>
                                      </label>
                                    </div>
                                  </div>
                                  <!-- <div
                                  class="col"
                                  *ngFor="
                                    let answer of surveyquestion.questionnaire_answer;
                                    let i = index
                                  "
                                >
                                  <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                      <input
                                        class="form-check-input"
                                        type="checkbox"
                                        [name]="
                                          surveyquestion.questionnaire_fieldname
                                        "
                                        [value]="answer"
                                        [formControlName]="
                                          surveyquestion.questionnaire_fieldname
                                        "
                                        (change)="
                                          changeCheckbox(
                                            $event,
                                            surveyquestion.questionnaire_fieldname
                                          )
                                        "
                                      />
                                      {{ answer }}
                                      <span class="form-check-sign"></span>
                                    </label>
                                  </div>
                                </div> -->
                                </div>
                                <div
                                  class="row pt-3"
                                  *ngIf="
                                    surveyquestion.questionnaire_type == 'TB'
                                  "
                                >
                                  <div class="col">
                                    <input
                                      [formControlName]="
                                        surveyquestion.questionnaire_fieldname
                                      "
                                      type="text"
                                      class="form-control text-dark"
                                      placeholder="Sila isi di ruangan yang disediakan"
                                    />
                                  </div>
                                </div>
                                <div
                                  class="row pt-3"
                                  *ngIf="
                                    surveyquestion.questionnaire_type == 'RT'
                                  "
                                >
                                  <div class="col">
                                    <rating
                                      [formControlName]="
                                        surveyquestion.questionnaire_fieldname
                                      "
                                      [max]="5"
                                    ></rating>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
              </tabset>
            </form>
            <div class="text-center p-3">
              <button
                type="button"
                class="btn btn-default"
                (click)="submitSurvey()"
              >
                Hantar
              </button>
              <button type="button" class="btn btn-neutral" (click)="back()">
                Kembali
              </button>
            </div>
          </div>
          <div
            class="section p-3 mx-auto"
            *ngIf="typeQuestion == 'maklumbalas'"
          >
            <form [formGroup]="feedbackFormGroup">
              <h1 class="font-weight-bold text-center text-dark">
                Maklum Balas / Aduan
              </h1>
              <div class="p-3">
                <div class="row" style="display: flex; align-items: center">
                  <div class="col-3"></div>
                  <div class="col-2">
                    <label class="form-control-label text-dark font-weight-bold"
                      >Nama</label
                    >
                  </div>
                  <div class="col-4">
                    <input
                      type="text"
                      formControlName="full_name"
                      class="form-control bg-white text-dark"
                    />
                  </div>
                  <div class="col-3"></div>
                </div>
                <div class="row pt-3">
                  <div class="col-3"></div>
                  <div class="col-2">
                    <label class="form-control-label text-dark font-weight-bold"
                      >Emel</label
                    >
                  </div>
                  <div class="col-4">
                    <input
                      type="email"
                      formControlName="email"
                      class="form-control bg-white text-dark"
                    />
                  </div>
                  <div class="col-3"></div>
                </div>
                <div class="row pt-3">
                  <div class="col-3"></div>
                  <div class="col-2">
                    <label class="form-control-label text-dark font-weight-bold"
                      >Komen</label
                    >
                  </div>
                  <div class="col-4">
                    <textarea
                      class="form-control bg-white text-dark"
                      formControlName="comment_user"
                      rows="7"
                    ></textarea>
                  </div>
                  <div class="col-3"></div>
                </div>
              </div>
              <div class="text-center p-3">
                <!-- <button
                type="button"
                class="btn btn-default"
                (click)="submitFeedback()"
              >
                Inbox
              </button> -->
                <button
                  type="button"
                  class="btn btn-default"
                  (click)="submitFeedback()"
                >
                  Hantar
                </button>
                <button type="button" class="btn btn-neutral" (click)="back()">
                  Kembali
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDefault>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Sila Pilih Modul</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row align-items-center mx-auto justify-content-center">
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Fasiliti', 'M08')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/facility.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Fasiliti</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Tayangan', 'M01')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/show.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Tayangan</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Pameran', 'M02')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/exhibit.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Pameran</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3 align-items-center mx-auto justify-content-center">
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Lawatan', 'M06')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/visit.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Lawatan</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Program Pendidikan', 'M03')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/program.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Program</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Penerbitan', 'M07')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/publication.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Penerbitan</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3 align-items-center mx-auto justify-content-center">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Kembara Simulasi', 'M05')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/simulation.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Kembara Simulasi</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Kutubkhanah Mini', 'M04')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/ticket.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Kutubkhanah Mini</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>
