<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/survey/survey.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Maklum Balas</h1>
          <h2 class="description">
            Soal selidik ini bertujuan untuk mendapatkan maklumbalas dari
            pelanggan / pengunjung agar kualiti program dan layanan petugas
            Planetarium Negara (PN) dapat dipertingkatkan. Segala maklumat yang
            diberikan akan dirahsiakan.
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <div class="p-5" *ngIf="typeQuestion == ''">
          <h1 class="text-center text-dark font-weight-bold">Sila pilih</h1>
          <div class="row align-items-center">
            <div class="col-md-6 text-right">
              <!-- <button class="btn btn-default" (click)="chooseQuestion('soalselidik')">
            Soal Selidik
          </button> -->
              <div
                class="card card-pricing"
                (click)="openDefaultModal(modalDefault)"
              >
                <!--(click)="chooseQuestion('soalselidik')"-->
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/survey.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Soal Selidik</h2>
                </div>
              </div>
            </div>
            <div class="col-md-6 text-left">
              <!-- <button class="btn btn-default" (click)="chooseQuestion('maklumbalas')">
            Maklum Balas
          </button> -->
              <div
                class="card card-pricing"
                (click)="chooseQuestion('maklumbalas', '')"
              >
                <div class="card-header bg-default">
                  <img
                    src="/assets/icon/survey.svg"
                    style="max-width: 150px; margin-bottom: 1rem"
                  />
                </div>
                <div class="card-body">
                  <h2 class="m-0">Maklum Balas/Tinjauan</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section p-3" *ngIf="typeQuestion == 'soalselidik'">
          <h1 class="font-weight-bold text-center text-dark">
            Soal Selidik ({{ module }})
          </h1>
          <table class="table">
            <!-- <thead>
          <tr class="text-center">
            <th></th>
          </tr>
        </thead> -->
            <tbody>
              <tr>
                <td class="text-center text-dark">1</td>
                <td>
                  <div class="form-group">
                    <div class="form-label">
                      Bagaimana tahap layanan/sambutan yang diberikan oleh
                      petugas PN?
                    </div>
                    <div class="row pt-3">
                      <div class="col-3">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio1"
                              value="option1"
                            />
                            Tidak mesra
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>

                      <div class="col-3">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio2"
                              value="option2"
                            />
                            Mesra
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>

                      <div class="col-3">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio3"
                              value="option3"
                            />
                            Sederhana
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>

                      <div class="col-3">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio4"
                              value="option4"
                            />
                            Sangat mesra
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-center text-dark">2</td>
                <td>
                  <div clas="form-group">
                    <div class="form-label">
                      Kekerapan anda turut serta dalam program PN?
                    </div>
                    <div class="row pt-3">
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio1"
                              value="option1"
                            />
                            Pertama kali
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>

                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio2"
                              value="option2"
                            />
                            5 - 9 kali setahun
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>

                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio3"
                              value="option3"
                            />
                            2 - 4 kali setahun
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-center text-dark">3</td>
                <td>
                  <div class="form-group">
                    <div class="form-label">
                      Tahap pengetahuan anda dalam program dan perkhidmatan yang
                      disediakan oleh PN?
                    </div>
                    <div class="row pt-3">
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio1"
                              value="option1"
                            />
                            Tidak tahu
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio2"
                              value="option2"
                            />
                            Sederhana tahu
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio3"
                              value="option3"
                            />
                            Sangat tahu
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-center text-dark">4</td>
                <td>
                  <div class="form-group">
                    <div class="form-label">
                      Penerangan dan penjelasan oleh petugas PN kepada anda?
                    </div>
                    <div class="row pt-3">
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio1"
                              value="option1"
                            />
                            Kurang jelas
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio2"
                              value="option2"
                            />
                            Sederhana jelas
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio3"
                              value="option3"
                            />
                            Jelas dan mudah difahami
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-center text-dark">5</td>
                <td>
                  <div class="form-group">
                    <div class="form-label">
                      Anda bakal menyaksikan fenomena gerhana ________?
                    </div>
                    <div class="row pt-3">
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio1"
                              value="option1"
                            />
                            Matahari
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio2"
                              value="option2"
                            />
                            Bintang
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio3"
                              value="option3"
                            />
                            Bulan
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="text-center text-dark">6</td>
                <td>
                  <div class="form-group">
                    <div class="form-label">
                      Tahap kepuasan perkhidmatan penyampaian maklumat yang
                      disediakan selepas diberi penerangan petugas PN?
                    </div>
                    <div class="row pt-3">
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio1"
                              value="option1"
                            />
                            Tidak berpuas hati
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio2"
                              value="option2"
                            />
                            Berpuas hati
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col">
                        <div
                          class="form-check form-check-radio form-check-inline"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="inlineRadioOptions"
                              id="inlineRadio3"
                              value="option3"
                            />
                            Sangat berpuas hati
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button
              type="button"
              class="btn btn-default"
              (click)="hantarSoalSelidik()"
            >
              Hantar
            </button>
            <button type="button" class="btn btn-light" (click)="back()">
              Kembali
            </button>
          </div>
        </div>
        <div class="section p-3 mx-auto" *ngIf="typeQuestion == 'maklumbalas'">
          <h1 class="font-weight-bold text-center text-dark">
            Maklum Balas/Tinjauan
          </h1>
          <div class="p-3">
            <div class="row" style="display: flex; align-items: center">
              <div class="col-3"></div>
              <div class="col-2">
                <label class="form-control-label text-dark font-weight-bold"
                  >Nama</label
                >
              </div>
              <div class="col-4">
                <input type="text" class="form-control bg-white text-dark" />
              </div>
              <div class="col-3"></div>
            </div>
            <div class="row pt-3">
              <div class="col-3"></div>
              <div class="col-2">
                <label class="form-control-label text-dark font-weight-bold"
                  >Emel</label
                >
              </div>
              <div class="col-4">
                <input type="email" class="form-control bg-white text-dark" />
              </div>
              <div class="col-3"></div>
            </div>
            <div class="row pt-3">
              <div class="col-3"></div>
              <div class="col-2">
                <label class="form-control-label text-dark font-weight-bold"
                  >Komen</label
                >
              </div>
              <div class="col-4">
                <textarea
                  class="form-control bg-white text-dark"
                  rows="7"
                ></textarea>
              </div>
              <div class="col-3"></div>
            </div>
          </div>
          <div class="text-right">
            <button
              type="button"
              class="btn btn-default"
              (click)="hantarMaklumBalas()"
            >
              Inbox
            </button>
            <button
              type="button"
              class="btn btn-default"
              (click)="hantarMaklumBalas()"
            >
              Hantar
            </button>
            <button type="button" class="btn btn-light" (click)="back()">
              Kembali
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDefault>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Sila Pilih Modul</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row align-items-center mx-auto justify-content-center">
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Fasiliti')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/facility.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Fasiliti</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Tayangan')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/show.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Tayangan</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Pameran')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/exhibit.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Pameran</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3 align-items-center mx-auto justify-content-center">
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Lawatan')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/visit.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Lawatan</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Program')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/program.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Program</h6>
            <!-- <a class="btn btn-info mt-4" [routerLink]="['/program']">
                                  Info
                              </a> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Penerbitan')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/publication.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Penerbitan</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3 align-items-center mx-auto justify-content-center">
      <div class="col-md-2"></div>
      <!-- <div class="col-md-4">
        <div class="card card-pricing" (click)="chooseQuestion('soalselidik', 'Maklum Balas')">
          <div class="card-header bg-default">
            <img
              src="/assets/icon/survey.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Maklum Balas</h6>
          </div>
        </div>
      </div> -->

      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Kembara Simulasi')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/simulation.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Kembara Simulasi</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div
          class="card card-pricing"
          (click)="chooseQuestion('soalselidik', 'Perpustakaan Maya')"
        >
          <div class="card-header bg-default">
            <img
              src="/assets/icon/ticket.svg"
              style="max-width: 80px; margin-bottom: 1rem"
            />
          </div>
          <div class="card-body">
            <h6 class="m-0">Perpustakaan Maya</h6>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>
