<div class="wrapper">
    <div class="page-header page-header-small header-filter">
        <div class="page-header-image rellax" data-parallax="true"
            style="background-image: url('assets/img/exhibit/nasa.jpg');"></div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h1 class="title">
                        Pameran Angkasawan Negara
                    </h1>

                </div>
            </div>
        </div>
    </div>
    <div class="section related-products">
        <div class="container">
            <div class="col-md-12 text-center">
                <h2 class="description">
                    Pameran ini berkisarkan kehidupan Sheikh Muszaphar Shukor sebagai Angkasawan Negara. Dato' Dr.
                    Sheikh Muszaphar Shukor Al Masrie bin Sheikh Mustapha dilahirkan pada 27 Julai 1973, merupakan
                    doktor bedah ortopedik Malaysia dan angkasawan Malaysia yang pertama ke angkasa lepas setelah
                    diumumkan oleh Dato' Seri Abdullah bin Haji Ahmad Badawi pada 25 September 2007 (Selasa) tepat jam
                    12.00 tengah hari.
                </h2>
            </div>
        </div>
        <!--<div class="subscribe-line">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-10 ml-auto mr-auto">
                        <div class="text-center">
                            <h4 class="title">Langgani berita kami</h4>
                            <p class="description">
                                Sertai berita kami dan menerima berita dalam peti masuk emel anda setiap bulan!
                            </p>
                        </div>
                        <div class="card card-raised card-form-horizontal">
                            <div class="card-body">
                                <form action="" method="">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="input-group"
                                                [ngClass]="{ 'input-group-focus': focus === true }">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="tim-icons icon-email-85"> </i>
                                                    </span>
                                                </div>
                                                <input class="form-control" placeholder="Emel anda..." type="email"
                                                    (blur)="focus = false" (focus)="focus = true" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <button class="btn btn-danger btn-block" type="button">
                                                Langgan
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <section class="section section-lg">
        <section class="section">
            <img class="path" src="assets/img/path4.png" />

            <div class="container">
                <div class="row row-grid justify-content-between">
                    <div class="col-md-4">
                        <div class="card-image">
                            <a>
                                <img class="img rounded" src="assets/img/exhibit/rocket.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pl-md-1">
                            <p class="my-auto">
                                Sekumpulan penyelidik, jurutera aeroangkasa dari sebuah syarikat teknologi
                                tinggi aeroangkasa yang bertapak di Kuala Lumpur, Independence-X Aerospace Sdn. Bhd.
                                (IDXA) telah mencipta roket untuk dihantar ke angkasa lepas. Roket tersebut dinamakan
                                sebagai Dedicated Nano Launch Vehicle (DNLV) yang akan siap sedia dikomersialkan pada
                                tahun 2023. Jadinya ia akan berlepas dan mendarat ke angkasa lepas dalam tempoh 3 tahun
                                lagi.
                            </p>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card card-product bg-white" (click)="openDefaultModal(modalDefault)">
                            <div class="card-image">
                                <a>
                                    <img alt="..." src="assets/img/exhibit/qr-code.png" />
                                </a>
                            </div>
                            <!--<div class="card-body">
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-4">
                <div class="row row-grid justify-content-between">
                    <div class="col-md-2">
                        <div class="card card-product bg-white" (click)="openDefaultModal(modalDefault)">
                            <div class="card-image">
                                <a>
                                    <img alt="..." src="assets/img/exhibit/qr-code.png" />
                                </a>
                            </div>
                            <!--<div class="card-body">
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pl-md-1">
                            <p class="my-auto">
                                Dibiayai sebagaiannya oleh Yayasan Sains Kebangsaan, InTelMed mempunyai 
                                matlamat untuk mencipta teknologi sensor yang boleh dipakai biofeedback 
                                yang terkawal dan keupayaan pengauditan data penjagaan kesihatan, 
                                dipasangkan dengan analisis data pintar berasaskan awan, untuk mewujudkan 
                                sistem autonomi yang boleh memantau status kesihatan individu secara bebas 
                                penyedia penjagaan kesihatan.
                            </p>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-image">
                            <a>
                                <img class="img rounded" src="assets/img/exhibit/ray.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-4">
                <div class="row row-grid justify-content-between">
                    <div class="col-md-4">
                        <div class="card-image">
                            <a href="javascript:void(0)">
                                <img class="img rounded" src="assets/img/exhibit/astronaut.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="my-auto">
                            <p class="align-middle">
                                Membangunkan sistem pulangan automatik itu tidak menjadi tugas mudah.
                                Rintangan terbesar adalah untuk mewujudkan sistem navigasi untuk space suit, 
                                yang tidak wujud pada masa ini. Itulah rumit kerana sukar untuk menentukan 
                                dengan tepat di mana seseorang berada di angkasa.
                            </p>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card card-product bg-white" (click)="openDefaultModal(modalDefault)">
                            <div class="card-image">
                                <a>
                                    <img alt="..." src="assets/img/exhibit/qr-code.png" />
                                </a>
                            </div>
                            <!--<div class="card-body">
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<ng-template #modalDefault>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-title-default">
            AR
        </h6>

        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <img alt="..." class="mx-auto" style="max-width: 100% !important;" src="assets/img/exhibit/example-ar.gif" />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            Tutup
        </button>
    </div>
</ng-template>