<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Educational Program</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-book-reader text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-neutral" (click)="openModal(modalAdd)"> New </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-default">
                    <h4 class="m-0 text-white">Application List</h4>
                </div>
                <div class="card-body p-0">
                    <div class="dataTables_wrapper py-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="datatable_length">
                                    <label>
                                        Show
                                        <select name="datatable_length" aria-controls="datatable"
                                            class="form-control form-control-sm" (change)="entriesChange($event)">
                                            <option value="10" [selected]="entries == 10">10</option>
                                            <option value="25" [selected]="entries == 25">25</option>
                                            <option value="50" [selected]="entries == 50">50</option>
                                            <option value="-1" [selected]="entries == -1">All</option>
                                        </select>
                                        entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="datatable_filter" class="dataTables_filter">
                                    <label>
                                        <input type="search" class="form-control form-control-sm"
                                            placeholder="Search records" aria-controls="datatable"
                                            (keyup)="filterTable($event)" />
                                    </label>
                                </div>
                            </div>
                        </div>

                        <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined"
                            [rows]="temp" (activate)="onActivate($event)">
                            <ngx-datatable-column name="Title"></ngx-datatable-column>
                            <ngx-datatable-column name="Genre"></ngx-datatable-column>
                            <ngx-datatable-column name="Description"></ngx-datatable-column>
                            <ngx-datatable-column name="Duration"></ngx-datatable-column>
                            <ngx-datatable-column name="Date"></ngx-datatable-column>
                            <ngx-datatable-column name="Price"></ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalAdd>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white" id="modal-title-default">
            Add New Educational Program
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="programForm">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Title</label>
                        <input class="form-control form-control-sm" placeholder="Enter title" formControlName="title">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Person in Charge</label>
                        <select class="form-control form-control-sm custom-select custom-select-sm" formControlName="coordinator_id">
                            <option hidden selected>Please select coordinator</option>
                            <option *ngFor="let coordinator of coordinators" value="coordinator.id">{{coordinator.full_name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label">Description</label>
                <textarea class="form-control" placeholder="Enter description" formControlName="description"></textarea>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Program Type</label>
                        <select class="form-control form-control-sm custom-select custom-select-sm" formControlName="program_type">
                            <option hidden selected>Please select program type</option>
                            <option *ngFor="let program of programTypes" value="program.value">{{program.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Minimum Participant</label>
                        <input class="form-control form-control-sm" placeholder="Enter minimum participant" formControlName="min_participant" type="number">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Maximum Participant</label>
                        <input class="form-control form-control-sm" placeholder="Enter maximum participant" formControlName="max_participant" type="number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Start Date</label>
                        <input class="form-control form-control-sm" placeholder="" type="date" formControlName="start_datetime">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">End Date</label>
                        <input class="form-control form-control-sm" placeholder="" type="date" formControlName="end_datetime">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Location</label>
                        <input class="form-control form-control-sm" placeholder="Enter location">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                        <label class="custom-file-label" for="customFileLang">Select poster</label>
                      </div>
                </div>
                <div class="col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLang1" lang="en">
                        <label class="custom-file-label" for="customFileLang1">Select paper work</label>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLang2" lang="en">
                        <label class="custom-file-label" for="customFileLang2">Select promotional video</label>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class=" btn btn-primary" type="button" (click)="add()">
            Add new
        </button>

        <button class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="closeModal()">
            Close
        </button>
    </div>
</ng-template>