<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/show/nasa.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Tayangan</h1>
          <h2 class="description">
            Tontoni tayangan khas daripada Planetarium kepada anda secara dalam
            talian.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised">
    <div class="section team-4">
      <div>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <mat-horizontal-stepper [linear]="true" #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Pilih Tarikh & Masa</ng-template>
                <form [formGroup]="firstFormGroup">
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <label>Tarikh</label>
                      <input
                        type="text"
                        placeholder="Tarikh"
                        class="form-control"
                        formControlName="date"
                        bsDatepicker
                        [datesEnabled]="enabledShowingDates"
                        [bsConfig]="{
                          isAnimated: true,
                          containerClass: 'theme-dark-blue',
                          dateInputFormat: 'YYYY-MM-DD'
                        }"
                        (bsValueChange)="getShowtime($event)"
                      />
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <label>Masa</label><br />
                      <h3 class="text-dark" *ngIf="!firstFormGroup.value.date">
                        Sila pilih tarikh
                      </h3>
                      <div *ngIf="firstFormGroup.value.date">
                        <div
                          class="form-check form-check-radio form-check-inline"
                          *ngFor="let showtime of showtimes"
                        >
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="time"
                              [value]="showtime.show_time + '_' + showtime.id"
                              formControlName="time"
                            />
                            {{ showtime.show_time }}
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="p-3 text-center">
                    <button
                      type="button"
                      class="btn btn-default"
                      matStepperNext
                      [disabled]="!firstFormGroup.valid"
                    >
                      Seterusnya
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Tempahan Tiket</ng-template>
                <form [formGroup]="secondFormGroup">
                  <div class="table-responsive">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col" class="text-dark">Warganegara</th>
                          <th scope="col">
                            <bSwitch
                              switch-off-text="Tidak"
                              switch-on-text="Ya"
                              formControlName="citizen"
                              (changeState)="citizenChange()"
                            ></bSwitch>
                          </th>
                        </tr>
                      </thead>
                      <thead>
                        <tr>
                          <th scope="col" class="text-dark">Jenis Tiket</th>
                          <th scope="col" class="text-dark">Kuantiti</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" class="text-dark">
                            Dewasa<br /><small
                              *ngIf="secondFormGroup.value.citizen"
                              >(RM 6.00/Tiket)</small
                            ><small *ngIf="!secondFormGroup.value.citizen"
                              >(RM 12.00/Tiket)</small
                            >
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="adult"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row" class="text-dark">
                            Kanak-kanak bawah 12 tahun<br /><small
                              *ngIf="secondFormGroup.value.citizen"
                              >(RM 4.00/Tiket)</small
                            ><small *ngIf="!secondFormGroup.value.citizen"
                              >(RM 8.00/Tiket)</small
                            >
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="children"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row" class="text-dark">
                            30 orang pelajar berumur bawah 18 tahun yang
                            berpakaian seragam sekolah<br /><small
                              *ngIf="secondFormGroup.value.citizen"
                              >(RM 4.00/Tiket)</small
                            ><small *ngIf="!secondFormGroup.value.citizen"
                              >(RM 8.00/Tiket)</small
                            >
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="school"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row" class="text-dark">
                            Warga emas<br /><small>(Percuma)</small>
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="senior"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row" class="text-dark">
                            OKU<br /><small>(Percuma)</small>
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="oku"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row" class="text-dark">Jumlah</th>
                          <td class="text-dark">
                            RM {{ secondFormGroup.value.total | number }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <alert
                    class="alert-with-icon"
                    [type]="'default alert-with-icon'"
                  >
                    <span class="fas fa-wheelchair" data-notify="icon"> </span>
                    <span>
                      <b> Penafian : </b>
                      Cadangan tempat duduk untuk warga emas dan OKU ialah D56
                      sehingga D63 dan F56 sehingga F63.
                    </span>
                  </alert>
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-warning"
                      matStepperPrevious
                    >
                      Kembali
                    </button>
                    <button
                      type="button"
                      class="btn btn-default"
                      matStepperNext
                      [disabled]="!secondFormGroup.valid"
                    >
                      Seterusnya
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Pilih Tempat Duduk</ng-template>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <!-- <tr *ngFor="let row of arrayOne(row); let i = index">
                      <td
                        *ngFor="let column of arrayOne(column); let j = index"
                      >
                        <div
                          *ngFor="let seat of seats; let k = index"
                        >
                          <div
                            *ngIf="seat.column == j && seat.row == i"
                            class="text-center"
                          >
                            <i class="fas fa-chair text-center"></i>
                            <small>{{ seat.name }}</small>
                          </div>
                        </div>
                      </td>
                    </tr> -->
                    <tr>
                      <td colspan="5"></td>
                      <td
                        colspan="22"
                        style="background-color: purple; padding: 10px"
                      >
                        <h6 class="title text-center text-white m-0">Screen</h6>
                      </td>
                      <td colspan="5"></td>
                    </tr>
                    <br />
                    <tr *ngFor="let row of arrayOne(row); let i = index">
                      <td
                        *ngFor="let column of arrayOne(column); let j = index"
                        (click)="selectSeat(i, j)"
                      >
                        <!-- [ngStyle]="getSelectedSeat(i, j)" -->
                        <button
                          *ngIf="getSeat(i, j)"
                          class="btn btn-fab btn-icon"
                          [ngClass]="getSelectedSeat(i, j)"
                        >
                          <small>{{ getSeat(i, j) }}</small>
                        </button>
                        <!-- <div *ngIf="getSeat(i, j)" class="text-center">
                          <i class="fas fa-chair fa-2x"></i>
                          <small>{{ getSeat(i, j) }}</small>
                        </div> -->
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="text-center">
                  <button
                    type="button"
                    class="btn btn-warning"
                    matStepperPrevious
                  >
                    Kembali
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="emptySeats()"
                  >
                    Set semula kerusi
                  </button>
                  <button type="button" class="btn btn-default" matStepperNext>
                    Seterusnya
                  </button>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Pengesahan</ng-template>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <th scope="row" class="text-dark">Tarikh</th>
                        <td class="text-dark text-right">
                          {{ firstFormGroup.value.date | date }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-dark">Masa</th>
                        <td class="text-dark text-right">
                          {{ firstFormGroup.value.time.split("_", 1) }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-dark">Jumlah Tiket</th>
                        <td class="text-dark text-right">
                          {{
                            secondFormGroup.value.adult +
                              secondFormGroup.value.children +
                              secondFormGroup.value.senior +
                              secondFormGroup.value.oku +
                              secondFormGroup.value.school
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-dark">
                          Jumlah Harga Tiket
                        </th>
                        <td class="text-dark text-right">
                          RM {{ secondFormGroup.value.total }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-dark">Nombor Kerusi</th>
                        <td class="text-dark text-right">
                          <span *ngFor="let selectedSeat of selectedSeats">
                            {{ selectedSeat.name }}
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="text-center">
                  <button
                    type="button"
                    class="btn btn-warning"
                    matStepperPrevious
                  >
                    Kembali
                  </button>
                  <button
                    type="button"
                    class="btn btn-default"
                    (click)="makePayment()"
                  >
                    Buat Bayaran
                  </button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
