<div class="wrapper">
  <div class="section about-description">
    <img class="path path4" src="assets/img/path4.png" />

    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">{{ facility.name }}</h2>
          <h4 class="description">
            Tempah {{ facility.name }} untuk pelbagai kegunaan!
          </h4>
        </div>
      </div>
      <div class="row" *ngIf="facility.images">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <!-- <img alt="First slide" class="d-block" src="assets/img/background/facility-2.jpg" /> -->
          <ngx-gallery
            [options]="galleryOptions"
            [images]="facility.images"
          ></ngx-gallery>
        </div>
        <div class="col-md-4">
          <h1 class="title">{{ facility.name }}</h1>
          <p class="description text-justify">{{ facility.desc }}</p>
          <p class="description">• Kapasiti: {{ facility.capacity }}</p>
          <p class="description">• Keluasan: {{ facility.area }}</p>
          <div class="row">
            <div class="col-md-12 col-sm-8 mb-3">
              <a
                class="btn btn-info btn-round text-white"
                (click)="openDefaultModal(modalDefault)"
              >
                Tempah sekarang
              </a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="facility.places">
        <div class="row pb-5" *ngFor="let place of facility.places">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <!-- <img alt="First slide" class="d-block" src="assets/img/background/facility-2.jpg" /> -->
            <ngx-gallery
              [options]="galleryOptions"
              [images]="place.images"
            ></ngx-gallery>
          </div>
          <div class="col-md-4">
            <h1 class="title">{{ place.name }}</h1>
            <p class="description text-justify">{{ place.desc }}</p>
            <p class="description">• Kapasiti: {{ place.capacity }}</p>
            <p class="description">• Keluasan: {{ place.area }}</p>
            <div class="row">
              <div class="col-md-12 col-sm-8 mb-3">
                <a
                  class="btn btn-info btn-round text-white"
                  (click)="openDefaultModal(modalDefault)"
                >
                  Tempah sekarang
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="section about-pricing pt-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-10 col-12 mx-auto">
          <h1 class="title">Maklumat Fasiliti</h1>
          <p class="description">• Kapasiti maksima 80 orang</p>
          <p class="description">• Aktiviti pelajar sekolah</p>
          <p class="description">• Sambutan majlis</p>
          <div class="row">
            <div class="col-md-12 col-sm-8 mb-3">
              <a
                class="btn btn-info btn-round text-white"
                (click)="openDefaultModal(modalDefault)"
              >
                Tempah sekarang
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 ml-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-pricing">
                <img
                  class="d-block"
                  src="assets/img/background/facility-3.jpg"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="card card-pricing">
                <img
                  class="d-block"
                  src="assets/img/background/facility-4.jpg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

<ng-template #modalDefault>
  <div class="modal-header justify-content-center">
    <button
      aria-hidden="true"
      class="close"
      data-dismiss="modal"
      (click)="defaultModal.hide()"
      type="button"
    >
      <i class="tim-icons icon-simple-remove text-dark"> </i>
    </button>
    <div class="text-dark text-center ml-auto mr-auto">
      <h3 class="title mb-0">Tempahan</h3>
    </div>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <form class="js-validate" [formGroup]="facilitybookingFormGroup">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <label class="labels required-field"> Nama penuh </label>
                <input
                  class="form-control text-dark"
                  placeholder=""
                  readonly=""
                  type="text"
                  formControlName="full_name"
                />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Alamat emel </label>
                  <input
                    class="form-control text-dark"
                    placeholder=""
                    readonly=""
                    type="email"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels"> Nombor telefon </label>
                  <input
                    class="form-control text-dark"
                    placeholder=""
                    readonly="true"
                    type="tel"
                    formControlName="phone"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Bilangan orang </label>
                  <input
                    aria-label="Bilangan orang"
                    class="form-control text-dark"
                    placeholder="Bilangan orang"
                    type="text"
                    formControlName="number_of_people"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field">
                    Kategori Organisasi
                  </label>
                  <select
                    class="form-control custom-select text-dark"
                    formControlName="organisation_category"
                  >
                    <option selected value="">Sila pilih</option>
                    <option
                      *ngFor="
                        let organisationcategory of organisationcategories
                      "
                      [value]="organisationcategory.value"
                    >
                      {{ organisationcategory.display_name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Nama Organisasi </label>
                  <input
                    aria-label="Nama organisasi"
                    class="form-control text-dark"
                    placeholder="Nama organisasi"
                    type="text"
                    formControlName="organisation_name"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Tarikh </label>
                  <input
                    class="form-control text-dark"
                    required=""
                    type="date"
                    formControlName="booking_date"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels required-field"> Waktu </label>
                  <input
                    class="form-control text-dark"
                    required=""
                    type="time"
                    formControlName="booking_time"
                  />
                </div>
              </div>
            </div>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-primary"
      type="button"
      (click)="openAfterBooking()"
      [disabled]="!facilitybookingFormGroup.valid"
    >
      Buat tempahan
    </button>

    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>
