<div class="wrapper">
  <div class="section">
    <div class="container">
      <div class="row pt-5">
        <div class="col-lg-4 col-sm-12">
          <div class="card" style="background-color: #ffffff">
            <div class="card-body">
              <h3 class="title text-dark text-center">
                {{ "Tempahan" | translate }}
              </h3>
              <div class="text-center">
                <img
                  src="../../../assets/icon/tickets.svg"
                  style="width: 50%"
                />
              </div>

              <div class="row">
                <div class="col text-center">
                  <div *ngIf="showings$ | async as showings" class="media-body">
                    <h3
                      class="title text-dark mb-0 mt-3"
                      *ngIf="module == 'shows'"
                    >
                      {{ "Tayangan" | translate }}
                    </h3>
                    <h4 *ngIf="translate.currentLang == 'en'" class="title text-dark mb-1 mt-1">
                      {{ shows[0]?.title_en }}
                    </h4>
                    <h4 *ngIf="translate.currentLang == 'ms'" class="title text-dark mb-1 mt-1">
                      {{ shows[0]?.title_ms }}
                    </h4>
                    <p class="d-block text-dark">
                      {{
                        showings[0].showtime_id.show_date | date: "mediumDate"
                      }}
                      {{ showings[0].showtime_id.show_time }}
                    </p>
                    <p class="font-weight-bold text-dark">
                      <span *ngFor="let showing of showings">
                        {{ showing.ticket_seat }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col text-center">
                  <div
                    *ngIf="simulatorrides$ | async as simulatorrides"
                    class="media-body"
                  >
                    <h3
                      class="title text-dark mb-0 mt-3"
                      *ngIf="module == 'simulator-ride'"
                    >
                      {{ "KembaraSimulasi" | translate }}
                    </h3>
                    <p class="d-block text-dark">
                      {{
                        getSimulatorRideDay(
                          simulatorrides[0]?.simulator_ride_time_id.day
                        )
                      }},
                      {{ simulatorrides[0]?.booking_date | date: "mediumDate" }}
                      {{ simulatorrides[0]?.simulator_ride_time_id.time }}
                    </p>
                    <p class="font-weight-bold text-dark">
                      {{
                        getSimulatorRideRound(
                          simulatorrides[0]?.simulator_ride_time_id.round
                        )
                      }}
                    </p>
                  </div>
                </div>
              </div>

              <hr class="line-info mb-3" />

              <div *ngIf="showings$ | async as showings">
                <div *ngFor="let showing of showings" class="row">
                  <div class="col-md-6">
                    <p class="font-weight-semi-bold text-dark">
                      {{ getTicketCategory(showing.ticket_category) }} ({{
                        showing.ticket_quantity
                      }})
                    </p>
                  </div>
                  <div class="col-md-6 col-sm-12 text-right">
                    <span> RM {{ showing.total_price }} </span>
                  </div>
                </div>
              </div>

              <div *ngIf="simulatorrides$ | async as simulatorrides">
                <div *ngFor="let simulatorride of simulatorrides" class="row">
                  <div class="col-md-6">
                    <p class="font-weight-semi-bold text-dark">
                      {{ getTicketCategory(simulatorride.ticket_category) }}
                      ({{ simulatorride.ticket_quantity }})
                    </p>
                  </div>
                  <div class="col-md-6 col-sm-12 text-right">
                    <span> RM {{ simulatorride.total_price }} </span>
                  </div>
                </div>
              </div>

              <hr class="line-info mb-3" />

              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <h4 class="text-dark">{{ "Jumlah" | translate }}</h4>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                  <span class="font-weight-bold text-default">
                    RM {{ totalprice | number: "1.2-2" }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="card" style="background-color: #ffffff">
            <div class="card-body">
              <form class="js-validate" [formGroup]="paymentdetailFormGroup">
                <div class="container">
                  <h3 class="title text-dark">
                    {{ "HalamanDaftarKeluar" | translate }}
                  </h3>
                  <div class="row">
                    <div class="col-md-12">
                      <label class="labels text-dark required-field">
                        {{ "NamaPenuh" | translate }}
                      </label>
                      <input
                        class="form-control text-dark"
                        formControlName="full_name"
                        placeholder=""
                        readonly="true"
                        type="text"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="js-form-message mb-6">
                        <label class="labels text-dark required-field">
                          {{ "AlamatEmel" | translate }}
                        </label>
                        <input
                          class="form-control text-dark"
                          formControlName="email"
                          placeholder=""
                          readonly="true"
                          type="email"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="js-form-message mb-6">
                        <label class="labels text-dark required-field">
                          {{ "NomborTelefon" | translate }}
                        </label>
                        <input
                          class="form-control text-dark"
                          formControlName="phone"
                          placeholder=""
                          readonly="true"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>

                  <h4 class="title text-dark">
                    {{ "PilihCaraPembayaran" | translate }}
                  </h4>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div
                        class="card bg-transparent mt-0"
                        (click)="selectPaymentMethod('fpx')"
                        [ngClass]="{
                          'card-selected':
                            paymentdetailFormGroup.value.payment_method == 'fpx'
                        }"
                      >
                        <div class="card-body">
                          <div class="card-image">
                            <img
                              src="../../../assets/img/fpx_logo.png"
                              alt="FPX"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12"></div>
                  </div>

                  <h4 class="title text-dark">
                    {{ "PilihPerbankanInternet" | translate }}
                  </h4>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <select
                          class="form-control text-dark"
                          formControlName="bank_selected"
                        >
                          <option value="" selected>
                            {{ "Silapilih" | translate }}
                          </option>
                          <option
                            *ngFor="let banklist of banklists"
                            [value]="banklist.bank_id"
                          >
                            {{ banklist.bank_display_name }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row pt-3">
                    <div class="col text-right">
                      <p
                        class="text-dark"
                        [innerHtml]="'FPXAgreement' | translate"
                      ></p>
                      <p>
                        <a
                          class="font-weight-bold"
                          style="color: #1d8cf8"
                          href="https://www.mepsfpx.com.my/FPXMain/termsAndConditions.jsp"
                          target="_blank"
                          >{{ "FPXTermAndCondition" | translate }}</a
                        >
                      </p>
                    </div>
                  </div>

                  <div class="pt-3 pb-3 text-right">
                    <button
                      class="btn btn-info"
                      (click)="submitPayment()"
                      [disabled]="!paymentdetailFormGroup.valid"
                    >
                      {{ "Seterusnya" | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
