<div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <!-- <div class="overlay"></div> -->
      <video autoplay="autoplay" loop="loop" muted="muted" oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- Basic Info -->
  <div class="basic-info">
    <div class="container p-3">
      <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
          <h2 class="title">Waktu Operasi</h2>
          <p class="text-justify">
            dari 9.00 PAGI - 4.30 PETANG kecuali Isnin, Hari Raya Puasa, Hari
            Raya Haji, dan cuti umum yang ditetapkan oleh Planetarium Negara
          </p>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
          <h2 class="title">Lokasi</h2>
          <div class="row">
            <div class="col-3"></div>
            <div class="col">
              <a href="https://goo.gl/maps/LPr4y8fK8Pvvoy2Y8">
                <img
                  src="../../../assets/icon/google-maps.svg"
                  alt="Google Maps"
                />
              </a>
            </div>
            <div class="col">
              <a
                href="https://www.waze.com/ul?place=ChIJ2yat5MVJzDERUIHFb1rkGGw&ll=3.13955440%2C101.68868380&navigate=yes"
              >
                <img src="../../../assets/icon/waze.svg" alt="Waze" />
              </a>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
          <h2 class="title">Mengenai Kami</h2>
          <p class="text-justify">
            Planetarium Negara berstruktur kubah biru yang terletak di atas
            bukit di Taman Tasik Jalan Perdana, Kuala Lumpur. Ia berkeluasa
            sekitar 120,000 kaki persegi (11,000m<sup>2</sup>)
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="page-content">
    <div class="container p-3">
      <ng-marquee speed="drowsy">
        <h4 class="title text-dark">
          Pengumuman: Waktu Operasi dari 9.00 pagi - 4.30 petang
        </h4>
      </ng-marquee>

      <div class="row">
        <div class="col">
          <carousel [noPause]="false" showIndicators="false">
            <slide>
              <img
                src="assets/img/facility/galeri-pameran-3.jpg"
                style="display: block; width: 100%; height: 420px"
              />
              <!-- <div class="carousel-caption d-none d-md-block">
                <h1 class="title text-white">Selamat datang ke ePlanetarium, Malaysia</h1>
                <p class="font-weight-bold text-white">Jelajah angkasa lepas dan alam semesta di sini.</p>
              </div> -->
            </slide>
            <slide>
              <img
                src="assets/img/facility/teatret-1.jpg"
                style="display: block; width: 100%; height: 420px"
              />
              <!-- <div class="carousel-caption d-none d-md-block">
                <h1 class="title text-white">Pameran Angkasa</h1>
                <p class="font-weight-bold text-white">Roket, bintang, cakerawala dan sebagainya ada di sini.</p>
              </div> -->
            </slide>
            <slide>
              <img
                src="assets/img/background/facility-4.jpg"
                style="display: block; width: 100%; height: 420px"
              />
              <!-- <div class="carousel-caption d-none d-md-block">
                <h1 class="title text-white">Terokai Angkasa tanpa pergi ke angkasa</h1>
                <p class="font-weight-bold text-white">Gambar, video, dan sebagainya sedia untuk dipamerkan kepada anda.</p>
              </div> -->
            </slide>
          </carousel>
        </div>
      </div>

      <!-- <alert [type]="'warning'">
        <p class="text-dark">
          Pengumuman: Waktu Operasi dari 9.00 pagi - 4.30 petang
        </p></alert
      > -->

      <h2 class="title text-center">Apa Yang Menarik</h2>
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="card" style="height: 350px">
            <img
              class="card-img-top"
              src="../../../assets/home/peneroka-angkasa.jpg"
            />
            <div class="card-body text-center">
              <h2 class="card-title title text-uppercase">
                Penerokaan Angkasa
              </h2>
              <!-- <p class="card-text text-justify">
                Planetarium Negara berstruktur kubah biru yang terletak di atas
                bukit di Taman Tasik Jalan Perdana, Kuala Lumpur. Ia berkeluasa
                sekitar 120,000 kaki persegi (11,000m<sup>2</sup>)
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="card" style="height: 350px">
            <img
              class="card-img-top"
              src="../../../assets/home/mikrosatelit.jpeg"
            />
            <div class="card-body text-center">
              <h2 class="card-title title text-uppercase">Mikrosatelit</h2>
              <!-- <p class="card-text text-justify">
                Planetarium Negara berstruktur kubah biru yang terletak di atas
                bukit di Taman Tasik Jalan Perdana, Kuala Lumpur. Ia berkeluasa
                sekitar 120,000 kaki persegi (11,000m<sup>2</sup>)
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="card" style="height: 350px">
            <img
              class="card-img-top"
              src="../../../assets/home/merdeka-sundial.jpg"
            />
            <div class="card-body text-center">
              <h2 class="card-title title text-uppercase">Matahari Sundial</h2>
              <!-- <p class="card-text text-justify">
                Planetarium Negara berstruktur kubah biru yang terletak di atas
                bukit di Taman Tasik Jalan Perdana, Kuala Lumpur. Ia berkeluasa
                sekitar 120,000 kaki persegi (11,000m<sup>2</sup>)
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="card" style="height: 350px">
            <img
              class="card-img-top"
              src="../../../assets/home/stonehenge.jpeg"
            />
            <div class="card-body text-center">
              <h2 class="card-title title text-uppercase">Stonehenge</h2>
              <!-- <p class="card-text text-justify">
                Planetarium Negara berstruktur kubah biru yang terletak di atas
                bukit di Taman Tasik Jalan Perdana, Kuala Lumpur. Ia berkeluasa
                sekitar 120,000 kaki persegi (11,000m<sup>2</sup>)
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Subfooter -->
  <div class="page-subfooter">
    <div class="container" style="height: auto">
      <div class="row pb-3">
        <div class="col-md-4 col-sm-12">
          <h4 class="title text-center">Jumlah Pengunjung</h4>
          <div class="row">
            <div class="col">
              <h6>Semasa</h6>
            </div>
            <div class="col-auto text-right">
              <tm-ng-odometer
                [number]="totalnow"
                [config]="{ theme: 'train-station' }"
              ></tm-ng-odometer>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6>Hari ini</h6>
            </div>
            <div class="col-auto text-right">
              <tm-ng-odometer
                [number]="totaltoday"
                [config]="{ theme: 'train-station' }"
              ></tm-ng-odometer>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6>Minggu Ini</h6>
            </div>
            <div class="col-auto text-right">
              <tm-ng-odometer
                [number]="totalweek"
                [config]="{ theme: 'train-station' }"
              ></tm-ng-odometer>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6>Bulan Ini</h6>
            </div>
            <div class="col-auto text-right">
              <tm-ng-odometer
                [number]="totalmonth"
                [config]="{ theme: 'train-station' }"
              ></tm-ng-odometer>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6>Tahun Ini</h6>
            </div>
            <div class="col-auto text-right">
              <tm-ng-odometer
                [number]="totalyear"
                [config]="{ theme: 'train-station' }"
              ></tm-ng-odometer>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6>Keseluruhan</h6>
            </div>
            <div class="col-auto text-right">
              <tm-ng-odometer
                [number]="totalall"
                [config]="{ theme: 'train-station' }"
              ></tm-ng-odometer>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-12">
          <h4 class="title text-center">Nilai perkhidmatan kami</h4>
          <div class="row">
            <div class="col p-0">
              <bar-rating
                style="display: flex; justify-content: center"
                [(rate)]="rate"
                [max]="5"
                [theme]="'smiley'"
              ></bar-rating>
            </div>
            <div class="col p-0">
              <div style="height: auto">
                <textarea
                  class="form-control bg-white text-dark"
                  rows="5"
                  placeholder="Tuliskan komen anda (jika ada)"
                ></textarea>
              </div>
              <div class="p-3 text-center">
                <button type="button" class="btn btn-info">Hantar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
