<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/exhibit/minin.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Pameran</h1>
          <h2 class="description">
            Pameran-pameran terbaru yang bakal menggagumkan anda.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="section related-products bg-white">
    <div class="container pb-3">
      <h2 class="title text-dark text-center">Peta Lakaran Planetarium</h2>
      <div class="row pb-3">
        <div class="col">
          <p class="text-dark text-justify" style="font-size: 1rem">
            Pameran ini memberikan peluang kepada pelawat meneroka bahan pameran
            interaktif dan mencipta sendiri pengalaman pembelajaran yang unik.
            Ia menggalakkan interaksi di kalangan pelawat pada semua peringkat
            usia.
          </p>
        </div>
      </div>
      <div class="row pb-3">
        <img
          src="../../../assets/img/planetarium-map.jpg"
          usemap="#image-map"
          width="1140"
          height="950"
        />

        <map name="image-map">
          <area
            target="_self"
            alt="Zone A"
            title="Zone A"
            href="/#/exhibit/lists"
            coords="83,250,440,730"
            shape="rect"
          />
          <area
            target="_self"
            alt="Zone B"
            title="Zone B"
            href="/#/exhibit/lists"
            coords="560,430,440,330"
            shape="rect"
          />
          <area
            target="_self"
            alt="Zone C"
            title="Zone C"
            href="/#/exhibit/lists"
            coords="560,320,440,250"
            shape="rect"
          />
          <area
            target="_self"
            alt="Zone D"
            title="Zone D"
            href="/#/exhibit/lists"
            coords="50,50,485,250"
            shape="rect"
          />
          <area
            target="_self"
            alt="Zone E"
            title="Zone E"
            href="/#/exhibit/lists"
            coords="690,50,930,250"
            shape="rect"
          />
          <area
            target="_self"
            alt="Zone F"
            title="Zone F"
            href="/#/exhibit/lists"
            coords="690,670,880,570"
            shape="rect"
          />
        </map>
      </div>
    </div>
  </div>
</div>
