<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Showings Database</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-film text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-neutral" (click)="openDefaultModal(modalDefault)"> New </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-default">
                    <h4 class="m-0 text-white">Schedule</h4>
                </div>
                <div class="dataTables_wrapper py-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="datatable_length">
                                <label>
                                    Show
                                    <select name="datatable_length" aria-controls="datatable"
                                        class="form-control form-control-sm" (change)="entriesChange($event)">
                                        <option value="10" [selected]="entries == 10">10</option>
                                        <option value="25" [selected]="entries == 25">25</option>
                                        <option value="50" [selected]="entries == 50">50</option>
                                        <option value="-1" [selected]="entries == -1">All</option>
                                    </select>
                                    entries
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="datatable_filter" class="dataTables_filter">
                                <label>
                                    <input type="search" class="form-control form-control-sm"
                                        placeholder="Search records" aria-controls="datatable"
                                        (keyup)="filterTable($event)" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined"
                        [rows]="temp" (activate)="onActivate($event)">
                        <ngx-datatable-column name="Title"></ngx-datatable-column>
                        <ngx-datatable-column name="Language"></ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                              <span>Duration (Minute)</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              {{row.duration_m}}
                            </ng-template>
                        </ngx-datatable-column>
                        <!--<ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                              <span>Created Date</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              {{row.created_date}}
                            </ng-template>
                        </ngx-datatable-column>-->
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                              <span>Status</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              {{row.status}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column>
                            <ng-template ngx-datatable-header-template>
                              <span></span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <button type="button" class="btn btn-primary btn-sm" (click)="openDefaultModal(modalPoster)">Poster</button>
                                <button type="button" class="btn btn-primary btn-sm" (click)="openDefaultModal(modalVideo)">Video</button>
                                <button type="button" class="btn btn-primary btn-sm" (click)="openDefaultModal(modalEdit)">Edit</button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalDefault>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white" id="modal-title-default">
            Add New Show
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            <span aria-hidden="true" class="text-white"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">Title</label>
                    <input class="form-control form-control-sm" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label class="form-control-label">Genre</label>
                    <input class="form-control form-control-sm" placeholder="Genre">
                </div>
                <div class="form-group">
                    <label class="form-control-label">Durasi (Minit)</label>
                    <input class="form-control form-control-sm" placeholder="Durasi">
                </div>
                <div class="form-group">
                    <label class="form-control-label">Diskripsi</label>
                    <input class="form-control form-control-sm" placeholder="Diskripsi">
                </div>
                <div class="form-group">
                    <label class="form-control-label">Jenis Tayangan</label>
                    <input class="form-control form-control-sm" placeholder="Jenis tayangan">
                </div>
            </div>
            <div class="col">
                <div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                      <label class="custom-file-label" for="customFileLang">Upload Poster</label>
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                      <label class="custom-file-label" for="customFileLang">Upload Video</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-toggle">
                        <input type="checkbox" checked="">
                        <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class=" btn btn-primary" type="button" (click)="showNotification()">
            Save changes
        </button>

        <button class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            Close
        </button>
    </div>
</ng-template>

<ng-template #modalEdit>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white" id="modal-title-default">
            Edit Show
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            <span aria-hidden="true" class="text-white"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">Title</label>
                    <input class="form-control form-control-sm" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label class="form-control-label">Genre</label>
                    <input class="form-control form-control-sm" placeholder="Genre">
                </div>
                <div class="form-group">
                    <label class="form-control-label">Durasi (Minit)</label>
                    <input class="form-control form-control-sm" placeholder="Durasi">
                </div>
                <div class="form-group">
                    <label class="form-control-label">Diskripsi</label>
                    <input class="form-control form-control-sm" placeholder="Diskripsi">
                </div>
                <div class="form-group">
                    <label class="form-control-label">Jenis Tayangan</label>
                    <input class="form-control form-control-sm" placeholder="Jenis tayangan">
                </div>
            </div>
            <div class="col">
                <div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                      <label class="custom-file-label" for="customFileLang">Upload Poster</label>
                    </div>
                </div>
                <div class="mt-2 mb-2">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                      <label class="custom-file-label" for="customFileLang">Upload Video</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-toggle">
                        <input type="checkbox" checked="">
                        <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class=" btn btn-primary" type="button" (click)="showNotification()">
            Save changes
        </button>

        <button class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            Close
        </button>
    </div>
</ng-template>

<ng-template #modalPoster>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white" id="modal-title-default">
            Poster
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            <span aria-hidden="true" class="text-white"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <img src="assets/img/poster.png" style="width: 100%">
    </div>

    <div class="modal-footer">
        <button class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            Close
        </button>
    </div>
</ng-template>

<ng-template #modalVideo>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white" id="modal-title-default">
            Video
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            <span aria-hidden="true" class="text-white"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div style="width: 100%">
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/DnSmFC-JgvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            Close
        </button>
    </div>
</ng-template>