<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Senarai Permohonan</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-invoice text-dark"></i>
                </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <a
            class="btn btn-sm btn-neutral"
            (click)="openModal(createFacility, 'create', '')"
          >
            Tambah
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Senarai Permohonan</h3>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Papar
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5" [selected]="tableEntries == 5">5</option>
                    <option value="10" [selected]="tableEntries == 10">
                      10
                    </option>
                    <option value="15" [selected]="tableEntries == 15">
                      15
                    </option>
                    <option value="-1" [selected]="tableEntries == -1">
                      Semua
                    </option>
                  </select>
                  rekod
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Cari rekod"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="tableTemp"
            (activate)="onActivate($event)"
            [scrollbarH]="true"
          >
            <!-- <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Tajuk</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.title }}
              </ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Fasiliti</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.facility_id.name_ms }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Nama Organisasi</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.organisation_name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Tarikh Tempah</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.booking_date | date: "mediumDate" }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Masa Tempah</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ getBookingDay(row.booking_days) }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Status</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ getStatus(row.status) }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Tindakan</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button
                  class="btn btn-sm btn-primary"
                  (click)="openModal(editFacility, 'update', row)"
                >
                  Sunting
                </button>
                <button
                  class="btn btn-sm btn-warning"
                  *ngIf="row.status == 'FB01'"
                  (click)="verify(row)"
                >
                  Pengesahan
                </button>
                <button
                  class="btn btn-sm btn-warning"
                  (click)="openModal(createRefund, 'refund', row)"
                  *ngIf="row.status == 'FB05'"
                >
                  Bayaran Balik
                </button>
                <button class="btn btn-sm btn-danger" (click)="delete(row)">
                  Buang
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createFacility>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Tambah
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="facilityFormGroup">
      <!-- <div class="form-group">
        <label class="form-control-label">Tajuk</label>
        <input
          class="form-control"
          formControlName="title"
          placeholder="Tajuk"
          type="text"
        />
      </div> -->
      <div class="form-group">
        <label class="form-control-label">Nama Pemohon</label>
        <select
          class="form-control"
          formControlName="user_id"
          placeholder="Sila pilih"
        >
          <option selected hidden value="">Sila pilih</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.full_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label required-field">Fasiliti</label>
        <select
          class="form-control"
          formControlName="facility_id"
          placeholder="Sila pilih"
          (change)="changeRadioEquipment()"
        >
          <option selected hidden value="">Sila pilih</option>
          <option *ngFor="let facility of facilities" [value]="facility.id">
            {{ facility.name_ms }}
          </option>
        </select>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label class="form-control-label required-field">Tarikh</label>
            <input
              class="form-control"
              formControlName="booking_date"
              placeholder="Sila pilih"
              type="date"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label class="form-control-label required-field">Waktu</label>
            <select
              class="form-control"
              formControlName="booking_days"
              (change)="changeRadioEquipment()"
            >
              <option selected hidden value="">Sila pilih</option>
              <option
                *ngFor="let bookingday of bookingdays"
                [value]="bookingday.value"
              >
                {{ bookingday.display_name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label required-field">Bilangan Orang</label>
        <input
          class="form-control"
          formControlName="number_of_people"
          placeholder="contoh: 30"
          type="number"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label required-field"
          >Perlukan peralatan?</label
        ><br />
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioEquipmentWITH"
            name="want_equipment"
            formControlName="want_equipment"
            class="custom-control-input"
            value="WITH"
            (change)="changeRadioEquipment()"
          />
          <label class="custom-control-label" for="radioEquipmentWITH"
            >Dengan peralatan</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioEquipmentWOUT"
            name="want_equipment"
            formControlName="want_equipment"
            class="custom-control-input"
            value="WOUT"
            (change)="changeRadioEquipment()"
          />
          <label class="custom-control-label" for="radioEquipmentWOUT"
            >Tanpa peralatan</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioEquipmentNA"
            name="want_equipment"
            formControlName="want_equipment"
            class="custom-control-input"
            value="NA"
            (change)="changeRadioEquipment()"
          />
          <label class="custom-control-label" for="radioEquipmentNA"
            >Tiada</label
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label class="form-control-label required-field"
              >Kategori Organisasi</label
            >
            <select
              class="form-control"
              formControlName="organisation_category"
              placeholder="Sila pilih"
            >
              <option selected hidden value="">Sila pilih</option>
              <option
                *ngFor="let organisationcategory of organisationcategories"
                [value]="organisationcategory.value"
              >
                {{ organisationcategory.display_name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label class="form-control-label required-field"
              >Nama Organisasi</label
            >
            <input
              class="form-control"
              formControlName="organisation_name"
              placeholder="Nama Organisasi"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label">Jumlah Harga (RM)</label>
        <input
          class="form-control"
          formControlName="total_price"
          placeholder="contoh: 500.00"
          type="number"
          readonly
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">PIC</label>
        <select
          class="form-control"
          formControlName="pic_id"
          placeholder="Sila pilih"
        >
          <option selected hidden value="">Sila pilih</option>
          <option *ngFor="let pic of pics" [value]="pic.id">
            {{ pic.full_name }}
          </option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label class="form-control-label">Status</label>
        <select
          class="form-control"
          formControlName="status"
          placeholder="Sila pilih"
        >
          <option value="">Sila pilih</option>
          <option *ngFor="let status of statuses" [value]="status.value">
            {{ status.display_name }}
          </option>
        </select>
      </div> -->
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      type="button"
      [disabled]="!facilityFormGroup.valid"
      (click)="create()"
    >
      Simpan
    </button>

    <button
      class="btn btn-outline-primary ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Tutup
    </button>
  </div>
</ng-template>

<ng-template #editFacility>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Ubah Suai
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="facilityFormGroup">
      <!-- <div class="form-group">
        <label class="form-control-label">Tajuk</label>
        <input
          class="form-control"
          formControlName="title"
          placeholder="Tajuk"
          type="text"
        />
      </div> -->
      <div class="form-group">
        <label class="form-control-label">Nama Pemohon</label>
        <select
          class="form-control"
          formControlName="user_id"
          placeholder="Sila pilih"
        >
          <option selected hidden value="">Sila pilih</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.full_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label required-field">Fasiliti</label>
        <select
          class="form-control"
          formControlName="facility_id"
          placeholder="Sila pilih"
          (change)="changeRadioEquipment()"
          disabled
        >
          <option selected hidden value="">Sila pilih</option>
          <option *ngFor="let facility of facilities" [value]="facility.id">
            {{ facility.name_ms }}
          </option>
        </select>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label class="form-control-label required-field">Tarikh</label>
            <input
              class="form-control"
              formControlName="booking_date"
              placeholder="Sila pilih"
              type="date"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label class="form-control-label required-field">Waktu</label>
            <select
              class="form-control"
              formControlName="booking_days"
              (change)="changeRadioEquipment()"
            >
              <option selected hidden value="">Sila pilih</option>
              <option
                *ngFor="let bookingday of bookingdays"
                [value]="bookingday.value"
              >
                {{ bookingday.display_name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label required-field">Bilangan Orang</label>
        <input
          class="form-control"
          formControlName="number_of_people"
          placeholder="contoh: 30"
          type="number"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label required-field"
          >Perlukan peralatan?</label
        ><br />
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioEquipmentWITH"
            name="want_equipment"
            formControlName="want_equipment"
            class="custom-control-input"
            value="WITH"
            (change)="changeRadioEquipment()"
          />
          <label class="custom-control-label" for="radioEquipmentWITH"
            >Dengan peralatan</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioEquipmentWOUT"
            name="want_equipment"
            formControlName="want_equipment"
            class="custom-control-input"
            value="WOUT"
            (change)="changeRadioEquipment()"
          />
          <label class="custom-control-label" for="radioEquipmentWOUT"
            >Tanpa peralatan</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioEquipmentNA"
            name="want_equipment"
            formControlName="want_equipment"
            class="custom-control-input"
            value="NA"
            (change)="changeRadioEquipment()"
          />
          <label class="custom-control-label" for="radioEquipmentNA"
            >Tiada</label
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label class="form-control-label required-field"
              >Kategori Organisasi</label
            >
            <select
              class="form-control"
              formControlName="organisation_category"
              placeholder="Sila pilih"
            >
              <option selected hidden value="">Sila pilih</option>
              <option
                *ngFor="let organisationcategory of organisationcategories"
                [value]="organisationcategory.value"
              >
                {{ organisationcategory.display_name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label class="form-control-label required-field"
              >Nama Organisasi</label
            >
            <input
              class="form-control"
              formControlName="organisation_name"
              placeholder="Nama Organisasi"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label">Jumlah Harga (RM)</label>
        <input
          class="form-control"
          formControlName="total_price"
          placeholder="contoh: 500.00"
          type="number"
          readonly
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">PIC</label>
        <select
          class="form-control"
          formControlName="pic_id"
          placeholder="Sila pilih"
        >
          <option selected hidden value="">Sila pilih</option>
          <option *ngFor="let pic of pics" [value]="pic.id">
            {{ pic.full_name }}
          </option>
        </select>
      </div>
      <!-- <div class="form-group">
        <label class="form-control-label">Status</label>
        <select
          class="form-control"
          formControlName="status"
          placeholder="Sila pilih"
        >
          <option value="">Sila pilih</option>
          <option *ngFor="let status of statuses" [value]="status.value">
            {{ status.display_name }}
          </option>
        </select>
      </div> -->
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      type="button"
      [disabled]="!facilityFormGroup.valid"
      (click)="update()"
    >
      Simpan
    </button>

    <button
      class="btn btn-outline-primary ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Tutup
    </button>
  </div>
</ng-template>

<ng-template #createRefund>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Bayaran Balik
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="refundFormGroup">
      <div class="form-group">
        <label class="form-control-label mr-3">Jenis Bayaran Balik</label>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioTicket"
            name="refund_type"
            formControlName="refund_type"
            class="custom-control-input"
            value="T"
          />
          <label class="custom-control-label" for="radioTicket">Tiket</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="radioMoney"
            name="refund_type"
            formControlName="refund_type"
            class="custom-control-input"
            value="M"
          />
          <label class="custom-control-label" for="radioMoney">Duit</label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label">Deskripsi Pelanggan</label>
        <textarea
          class="form-control"
          formControlName="description"
          placeholder="Deskripsi Pelanggan"
          rows="5"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Jumlah (RM)</label>
        <input
          type="number"
          class="form-control"
          formControlName="amount"
          placeholder="Jumlah (RM)"
          readonly
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Nama Bank</label>
        <select class="form-control" formControlName="bank_id">
          <option value="" selected>Sila pilih</option>
          <option *ngFor="let banklist of banklists" [value]="banklist.id">
            {{ banklist.bank_name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label">No. Akaun Bank</label>
        <input
          type="text"
          class="form-control"
          formControlName="acc_number"
          placeholder="No. Akaun Bank"
        />
      </div>
      <div class="form-group">
        <label class="form-control-label">Nota Petugas</label>
        <textarea
          class="form-control"
          formControlName="remarks"
          placeholder="Nota Petugas"
          rows="5"
        ></textarea>
      </div>
      <div class="form-group">
        <label class="form-control-label">Pelanggan</label>
        <select class="form-control" formControlName="user" disabled>
          <option value="" selected>Sila pilih</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.full_name }}
          </option>
        </select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="button" (click)="refund()">
      Simpan
    </button>

    <button
      class="btn btn-outline-primary ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Tutup
    </button>
  </div>
</ng-template>
