<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Profil Saya</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-user text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a
            *ngIf="!editEnabled"
            class="btn btn-default text-white btn-icon btn-3"
            (click)="toggleEdit()"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-user-edit"></i
            ></span>
            <span class="btn-inner--text">Kemaskini profil</span>
          </a>
          <a
            *ngIf="editEnabled"
            class="btn btn-secondary text-white btn-icon btn-3"
            (click)="toggleEdit()"
          >
            <span class="btn-inner--icon text-dark"
              ><i class="fas fa-arrow-left"></i
            ></span>
            <span class="btn-inner--text text-dark">Kembali</span>
          </a>
          <a
            *ngIf="editEnabled"
            class="btn btn-success text-white btn-icon btn-3"
            (click)="confirm()"
          >
            <span class="btn-inner--icon"><i class="fas fa-save"></i></span>
            <span class="btn-inner--text">Simpan</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row align-items-center">
            <div class="col">
              <h3 *ngIf="!editEnabled" class="mb-0 text-white">Profil Saya</h3>
              <h3 *ngIf="editEnabled" class="mb-0 text-white">Kemaskini Profil Saya</h3>
            </div>
          </div>
        </div>

        <div class="card-body">
          <form [formGroup]="userFormGroup" *ngIf="!editEnabled">
            <h6 class="heading-small text-muted mb-4">Maklumat Pengguna</h6>

            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label"> Nama Penuh </label>

                    <input
                      class="form-control"
                      formControlName="full_name"
                      placeholder="Nama Penuh"
                      type="text"
                    />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label"> Alamat Emel </label>

                    <input
                      class="form-control"
                      formControlName="email"
                      placeholder="Alamat Emel"
                      type="email"
                    />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label"> Nombor Telefon </label>

                    <input
                      class="form-control"
                      formControlName="phone"
                      placeholder="Nombor Telefon"
                      type="tel"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label mr-3"> Jantina </label>

                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioLelaki"
                        name="gender_type"
                        class="custom-control-input"
                        value="ML"
                        formControlName="gender_type"
                      />
                      <label class="custom-control-label" for="radioLelaki"
                        >Lelaki</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioPerempuan"
                        name="gender_type"
                        class="custom-control-input"
                        value="FM"
                        formControlName="gender_type"
                      />
                      <label class="custom-control-label" for="radioPerempuan"
                        >Perempuan</label
                      >
                    </div>
                  </div>
                </div>

                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label mr-3"> Bangsa </label>

                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioMelayu"
                        name="race_type"
                        class="custom-control-input"
                        value="ML"
                        formControlName="race_type"
                      />
                      <label class="custom-control-label" for="radioMelayu"
                        >Melayu</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioIndia"
                        name="race_type"
                        class="custom-control-input"
                        value="ID"
                        formControlName="race_type"
                      />
                      <label class="custom-control-label" for="radioIndia"
                        >India</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioCina"
                        name="race_type"
                        class="custom-control-input"
                        value="CN"
                        formControlName="race_type"
                      />
                      <label class="custom-control-label" for="radioCina"
                        >Cina</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioLainlain"
                        name="race_type"
                        class="custom-control-input"
                        value="OT"
                        formControlName="race_type"
                      />
                      <label class="custom-control-label" for="radioLainlain"
                        >Lain-lain</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4">Maklumat Perhubungan</h6>

            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="form-control-label"> Alamat </label>

                        <input
                          class="form-control"
                          formControlName="address_1"
                          placeholder=""
                          type="text"
                        />
                        <input
                          class="form-control mt-3"
                          formControlName="address_2"
                          placeholder=""
                          type="text"
                        />
                        <input
                          class="form-control mt-3"
                          formControlName="address_3"
                          placeholder=""
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Poskod</label>
                        <input
                          class="form-control"
                          formControlName="postcode"
                          placeholder="Poskod"
                          type="number"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Bandar</label>
                        <input
                          class="form-control"
                          formControlName="city"
                          placeholder="Bandar"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Negeri</label>
                        <select class="form-control" formControlName="state">
                          <option value="">Sila pilih</option>
                          <option value="01">Johor</option>
                          <option value="02">Kedah</option>
                          <option value="03">Kelantan</option>
                          <option value="04">Melaka</option>
                          <option value="05">Negeri Sembilan</option>
                          <option value="06">Pahang</option>
                          <option value="07">Pulau Pinang</option>
                          <option value="08">Perak</option>
                          <option value="09">Perlis</option>
                          <option value="10">Selangor</option>
                          <option value="11">Terengganu</option>
                          <option value="12">Sabah</option>
                          <option value="13">Sarawak</option>
                          <option value="14">
                            Wilayah Persekutuan Kuala Lumpur
                          </option>
                          <option value="15">Wilayah Persekutuan Labuan</option>
                          <option value="16">
                            Wilayah Persekutuan Putrajaya
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Negara</label>
                        <input
                          class="form-control"
                          formControlName="country"
                          placeholder="Negara"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <form [formGroup]="userFormGroup" *ngIf="editEnabled">
            <h6 class="heading-small text-muted mb-4">Maklumat Pengguna</h6>

            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label"> Nama Penuh </label>

                    <input
                      class="form-control"
                      formControlName="full_name"
                      placeholder="Nama Penuh"
                      type="text"
                    />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label"> Alamat Emel </label>

                    <input
                      class="form-control"
                      formControlName="email"
                      placeholder="Alamat Emel"
                      type="email"
                    />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label"> Nombor Telefon </label>

                    <input
                      class="form-control"
                      formControlName="phone"
                      placeholder="Nombor Telefon"
                      type="tel"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label mr-3"> Jantina </label>

                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioLelaki"
                        name="gender_type"
                        class="custom-control-input"
                        value="ML"
                        formControlName="gender_type"
                      />
                      <label class="custom-control-label" for="radioLelaki"
                        >Lelaki</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioPerempuan"
                        name="gender_type"
                        class="custom-control-input"
                        value="FM"
                        formControlName="gender_type"
                      />
                      <label class="custom-control-label" for="radioPerempuan"
                        >Perempuan</label
                      >
                    </div>
                  </div>
                </div>

                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label mr-3"> Bangsa </label>

                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioMelayu"
                        name="race_type"
                        class="custom-control-input"
                        value="ML"
                        formControlName="race_type"
                      />
                      <label class="custom-control-label" for="radioMelayu"
                        >Melayu</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioIndia"
                        name="race_type"
                        class="custom-control-input"
                        value="ID"
                        formControlName="race_type"
                      />
                      <label class="custom-control-label" for="radioIndia"
                        >India</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioCina"
                        name="race_type"
                        class="custom-control-input"
                        value="CN"
                        formControlName="race_type"
                      />
                      <label class="custom-control-label" for="radioCina"
                        >Cina</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="radioLainlain"
                        name="race_type"
                        class="custom-control-input"
                        value="OT"
                        formControlName="race_type"
                      />
                      <label class="custom-control-label" for="radioLainlain"
                        >Lain-lain</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <h6 class="heading-small text-muted mb-4">Maklumat Perhubungan</h6>

            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label class="form-control-label"> Alamat </label>

                        <input
                          class="form-control"
                          formControlName="address_1"
                          placeholder=""
                          type="text"
                        />
                        <input
                          class="form-control mt-3"
                          formControlName="address_2"
                          placeholder=""
                          type="text"
                        />
                        <input
                          class="form-control mt-3"
                          formControlName="address_3"
                          placeholder=""
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Poskod</label>
                        <input
                          class="form-control"
                          formControlName="postcode"
                          placeholder="Poskod"
                          type="number"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Bandar</label>
                        <input
                          class="form-control"
                          formControlName="city"
                          placeholder="Bandar"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Negeri</label>
                        <select class="form-control" formControlName="state">
                          <option value="">Sila pilih</option>
                          <option value="01">Johor</option>
                          <option value="02">Kedah</option>
                          <option value="03">Kelantan</option>
                          <option value="04">Melaka</option>
                          <option value="05">Negeri Sembilan</option>
                          <option value="06">Pahang</option>
                          <option value="07">Pulau Pinang</option>
                          <option value="08">Perak</option>
                          <option value="09">Perlis</option>
                          <option value="10">Selangor</option>
                          <option value="11">Terengganu</option>
                          <option value="12">Sabah</option>
                          <option value="13">Sarawak</option>
                          <option value="14">
                            Wilayah Persekutuan Kuala Lumpur
                          </option>
                          <option value="15">Wilayah Persekutuan Labuan</option>
                          <option value="16">
                            Wilayah Persekutuan Putrajaya
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label">Negara</label>
                        <input
                          class="form-control"
                          formControlName="country"
                          placeholder="Negara"
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
