<div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <!-- <div class="overlay"></div> -->
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- <div class="page-header page-header-small header-filter">
            <div
              class="page-header-image rellax"
              data-parallax="true"
              style="background-image: url('assets/img/exhibit/minin.jpg')"
            ></div>
            <div class="content-center">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h1 class="title">Mengenai Kami</h1>
                </div>
              </div>
            </div>
          </div> -->
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Piagam Pelanggan</h2>
        <div class="row pb-3">
          <div class="col">
            <ol>
              <li>
                <p>
                  Memberi khidmat rujukan yang cekap, berkesan dan terkini
                  kepada orang awam dan pelajar.
                </p>
              </li>
              <li>
                <p>
                  Menyediakan pameran dan program mengenai astronomi dan sains
                  angkasa yang berkualiti serta interaktif bagi memenuhi
                  keperluan semasa mengikut jadual yang ditetapkan.
                </p>
              </li>
              <li>
                <p>
                  Maklumbalas bagi aduan mengenai perkhidmatan dan kemudahan
                  akan dijawab dalam tempoh 3 hari bekerja selepas dilaporkan.
                </p>
              </li>
              <li>
                <p>
                  Menyediakan kemudahan asas dan persekitaran pameran yang
                  bersih dan selesa.
                </p>
              </li>
              <li>
                <p>
                  Memastikan permohonan lawatan berpandu ke Planetarium Negara
                  dijawab mengikut tempoh yang ditetapkan sama ada melalui e-mel
                  atau surat.
                </p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
