<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
                class="page-header-image rellax"
                data-parallax="true"
                style="background-image: url('assets/img/publication/publication.jpeg')"
              ></div>
              <div class="content-center">
                <div class="row">
                  <div class="col-md-6 ml-auto mr-auto text-center">
                    <h1 class="title">Perpustakaan Maya</h1>
                    <h2 class="description">Alami perpustakaan secara maya.</h2>
                  </div>
                </div>
              </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Buku</h2>
        <div class="row">
          <div class="col">
            <p class="text-dark text-justify" style="font-size: 1rem">
              Meliputi monograf terbitan dalam negara dan luar negara. Monograf
              bermaksud buku yang meliputi semua bidang perkara seperti Karya
              Am, Falsafah, Agama, Sains Sosial, Bahasa, Sains Jati, Teknologi,
              Sains Gunaan, Kesenian, Kesusasteraan, Geografi dan Sejarah.
            </p>
          </div>
        </div>
        <div class="row pb-5" *ngFor="let vl_buku of vl_bukus">
          <div class="col-md-1 col-sm-12"></div>
          <div class="col-md-4 col-sm-12">
            <div class="card bg-transparent">
              <div class="card-image"><img [src]="vl_buku.image_link" /></div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <h2 class="title text-dark">{{ vl_buku.title }}</h2>
            <p class="text-dark">Call Number: {{ vl_buku.call_number }}</p>
            <p class="text-dark">Penulis: {{ vl_buku.author }}</p>
            <p class="text-dark">
              Penulis Tambahan: {{ vl_buku.author_added }}
            </p>
            <p class="text-dark">ISBN: {{ vl_buku.isbn }}</p>
            <p class="text-dark">ISSN: {{ vl_buku.issn }}</p>
            <p class="text-dark">Tahun: {{ vl_buku.year }}</p>
            <p class="text-dark">Penerbit: {{ vl_buku.publisher_name }}</p>
            <p class="text-dark">Deskripsi: {{ vl_buku.description }}</p>
            <p class="text-dark">Nota: {{ vl_buku.notes }}</p>

            <div class="row">
              <div class="col text-right">
                <a [href]="vl_buku.pdf_link" download class="btn btn-danger"
                  >Muat Turun PDF</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-1 col-sm-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>
