<div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <!-- <div class="overlay"></div> -->
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- <div class="page-header page-header-small header-filter">
            <div
              class="page-header-image rellax"
              data-parallax="true"
              style="background-image: url('assets/img/exhibit/minin.jpg')"
            ></div>
            <div class="content-center">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h1 class="title">Mengenai Kami</h1>
                </div>
              </div>
            </div>
          </div> -->
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Notis Hakcipta</h2>
        <div class="row pb-3">
          <p class="text-dark text-justify pb-3">
            Hak cipta laman web rasmi Planetarium Negara dan kandungannya yang
            termasuk maklumat, teks, grafik, fail suara, fail video, dan
            susunannya serta bahan-bahannya ialah kepunyaan Planetarium Negara,
            Kuala Lumpur kecuali dinyatakan sebaliknya.
          </p>

          <p class="text-dark text-justify pb-3">
            Tiada mana-mana bahagian laman web ini boleh diubah, disalin, di
            edar, dihantar semula, disiarkan, dipamerkan, diterbitkan,
            dilesenkan, dipindah, dijual atau diuruskan bagi tujuan komersial
            dalam apa bentuk sekalipun tanpa mendapat kebenaran secara bertulis
            yang jelas terlebih dahulu dan dengan izin daripada Pengarah
            Planetarium Negara, Kuala Lumpur.
          </p>

          <p class="text-dark text-justify">
            Produk-produk lain, logo dan syarikat atau organisasi yang tercatat
            di dalam laman web ini adalah kepunyaan syarikat atau organisasi
            tersebut.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
