<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Exhibition Management</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-cogs text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-default">
                    <h4 class="m-0 text-white">Add new exhibition</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Title
                                </label>
                                <input class="form-control" placeholder="Enter show title">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Person in Charge
                                </label>
                                <input class="form-control" placeholder="Enter person in charge">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Description
                                </label>
                                <textarea class="form-control" placeholder="Enter description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Banner
                                </label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" lang="en">
                                    <label class="custom-file-label">Select banner file</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="form-control-label">
                                    Video
                                </label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" lang="en">
                                    <label class="custom-file-label">Select video file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" (click)="openAfterAdd()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>