.table td {
  padding: 0.1rem;
}

.box {
  width: auto;
  height: 50px;
  border: solid 15px purple;
  border-color: purple transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}
