<div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <!-- <div class="overlay"></div> -->
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- <div class="page-header page-header-small header-filter">
        <div
          class="page-header-image rellax"
          data-parallax="true"
          style="background-image: url('assets/img/exhibit/minin.jpg')"
        ></div>
        <div class="content-center">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h1 class="title">Mengenai Kami</h1>
            </div>
          </div>
        </div>
      </div> -->
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Soalan Lazim (FAQ)</h2>
        <div class="row pb-3">
          <div class="col">
            <accordion [isAnimated]="true">
              <accordion-group [panelClass]="customClass">
                <button
                  class="btn btn-link btn-block clearfix"
                  accordion-heading
                  type="button"
                >
                  <div class="pull-left float-left">
                    Apakah tujuan Planetarium Negara ditubuhkan?
                  </div>
                </button>
                <p class="text-dark text-justify">
                  This content is straight in the template.
                </p>
              </accordion-group>
              <accordion-group [panelClass]="customClass">
                <button
                  class="btn btn-link btn-block clearfix"
                  accordion-heading
                  type="button"
                >
                  <div class="pull-left float-left">
                    Apa yang ada di Planetarium Negara?
                  </div>
                </button>
                <p class="text-dark text-justify">
                  This content is straight in the template.
                </p>
              </accordion-group>
              <accordion-group [panelClass]="customClass">
                <button
                  class="btn btn-link btn-block clearfix"
                  accordion-heading
                  type="button"
                >
                  <div class="pull-left float-left">
                    Bolehkah saya bawa rombongan sekolah ke Planetarium Negara?
                  </div>
                </button>
                <p class="text-dark text-justify">
                  This content is straight in the template.
                </p>
              </accordion-group>
              <accordion-group [panelClass]="customClass">
                <button
                  class="btn btn-link btn-block clearfix"
                  accordion-heading
                  type="button"
                >
                  <div class="pull-left float-left">
                    Apakah laman sosial media ada dimiliki oleh Planetarium
                    Negara?
                  </div>
                </button>
                <p class="text-dark text-justify">
                  This content is straight in the template.
                </p>
              </accordion-group>
            </accordion>
          </div>
          <!-- <div class="col-md-12 ml-auto">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      aria-controls="collapseOne"
                      class="btn btn-link w-100 text-left"
                      id="collapseOne"
                      type="button"
                      aria-expanded="false"
                    >
                      How do I order?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div
                  aria-labelledby="headingOne"
                  class="collapse"
                  data-parent="#accordionExample"
                  id="collapseOne"
                  aria-expanded="false"
                  aria-hidden="true"
                  style="display: none"
                >
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee
                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them
                    accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button
                      aria-controls="collapseTwo"
                      class="btn btn-link w-100 text-left collapsed"
                      id="collapseTwo"
                      type="button"
                      aria-expanded="false"
                    >
                      How can i make the payment?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div
                  aria-labelledby="headingTwo"
                  data-parent="#accordionExample"
                  id="collapseTwo"
                  class="collapse"
                  aria-expanded="false"
                  aria-hidden="true"
                  style="display: none"
                >
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee
                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them
                    accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      aria-controls="collapseThree"
                      class="btn btn-link w-100 text-left collapsed"
                      id="collapseThree"
                      type="button"
                      aria-expanded="false"
                    >
                      How much time does it take to receive the order?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div
                  aria-labelledby="headingThree"
                  data-parent="#accordionExample"
                  id="collapseThree"
                  class="collapse"
                  aria-expanded="false"
                  aria-hidden="true"
                  style="display: none"
                >
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee
                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them
                    accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button
                      aria-controls="collapseFour"
                      class="btn btn-link w-100 text-left"
                      id="collapseFour"
                      type="button"
                      aria-expanded="false"
                    >
                      Can I resell the products?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div
                  aria-labelledby="headingFour"
                  data-parent="#accordionExample"
                  id="collapseFour"
                  class="collapse"
                  aria-expanded="false"
                  aria-hidden="true"
                  style="display: none"
                >
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee
                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them
                    accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFifth">
                  <h5 class="mb-0">
                    <button
                      aria-controls="collapseFifth"
                      class="btn btn-link w-100 text-left"
                      id="collapseFifth"
                      type="button"
                      aria-expanded="false"
                    >
                      Where do I find the shipping details?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div
                  aria-labelledby="headingFifth"
                  data-parent="#accordionExample"
                  id="collapseFifth"
                  class="collapse"
                  aria-expanded="false"
                  aria-hidden="true"
                  style="display: none"
                >
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee
                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them
                    accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
