<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Tentang Kami</h2>
        <div class="row pb-5">
          <div class="col">
            <p class="text-dark text-justify" style="font-size: 1rem">
              Kutubkhanah Mini Planetarium Negara telah dibuka kepada orang
              ramai pada 2 Jun 2018, bersamaan dengan 17 Ramadhan 1439H. Koleksi
              buku di Kutubkhanah Mini ini terdiri daripada sebahagian besarnya
              subjek astronomi dan sains angkasa selain subjek-subjek umum yang
              lain seperti karya am, falsafah, sains kemasyarakatan dan
              sebagainya. Buku-buku tersebut telah disusun dan dikatalog agar
              memudahkan orang ramai untuk membuat carian dan rujukan.
            </p>

            <p class="text-dark text-justify pt-3" style="font-size: 1rem">
              Kutubkhanah Mini di Planetarium Negara turut menyokong program
              <b>KLBACA!</b> yang mulai disambut pada 23 April 2020, dimana ibu
              kota <b>Kuala Lumpur</b> telah dipilih sebagai bandaraya ke-20
              bagi sambutan ini.
            </p>

            <p class="text-dark text-justify pt-3" style="font-size: 1rem">
              Kutubkhanah Mini berusaha meningkatkan koleksi sumber bahan
              digital agar dapat dicapai oleh semua lapisan masyarakat.
            </p>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col-md-8 col-sm-12 ml-auto mr-auto">
            <div class="card">
              <div class="card-image">
                <img
                  src="../../../assets/img/waktu-operasi-kutubkhanah-mini.jpg"
                  style="width: 100%"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col-md-6 col-sm-12">
            <h2 class="title text-dark">Waktu Operasi</h2>
            <h4 class="title text-dark">Selasa – Ahad:</h4>
            <p class="text-dark">9:00 AM – 4:45 PM</p>
            <h4 class="title text-dark">Isnin & Hari Cuti Umum:</h4>
            <p class="text-dark">Tutup</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <table class="table table-bordered">
              <tr>
                <td>1<sup>st</sup> Februari</td>
                <td class="font-weight-bold">Hari Wilayah Persekutuan</td>
              </tr>
              <tr>
                <td>1<sup>st</sup> Mei</td>
                <td class="font-weight-bold">Hari Pekerja</td>
              </tr>
              <tr>
                <td>31<sup>st</sup> Ogos</td>
                <td class="font-weight-bold">Hari Kebangsaan</td>
              </tr>
              <tr>
                <td>16<sup>th</sup> September</td>
                <td class="font-weight-bold">Hari Malaysia</td>
              </tr>
              <tr>
                <td colspan="2" class="text-center font-weight-bold">
                  Hari Keputeraan Agong
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-center font-weight-bold">
                  Hari Raya Aidilfitri
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-center font-weight-bold">
                  Hari Raya Aidiladha
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
