<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/show/nasa.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Kembara Simulasi</h1>
          <h2 class="description">
            Alamilah pengalaman sebagai Angkasawan di dalam Space Pod menuju ke
            USS.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised">
    <div class="section team-4 bg-white">
      <div>
        <div class="row">
          <!-- <div class="col-md-2 col-sm-12"></div> -->
          <div class="col-md-12 col-sm-12">
            <!-- <alert [type]="'info'"> -->
            <!-- <div class="row">
              <div class="col">
                <h4 class="title m-0 text-dark">Arahan Keselamatan</h4>
                <small class="text-danger">Sila baca terlebih dahulu</small>
              </div>
              <div class="col col-auto">
                <button
                  class="btn btn-default btn-sm"
                  (click)="openSafetyModal(modalSafety)"
                >
                  Tekan untuk baca
                </button>
              </div>
            </div> -->
            <!-- </alert> -->
            <mat-horizontal-stepper [linear]="true" #stepper>
              <mat-step [stepControl]="zeroFormGroup">
                <ng-template matStepLabel>Arahan Keselamatan</ng-template>
                <form [formGroup]="zeroFormGroup">
                  <div class="container">
                    <div class="row">
                      <div class="col ml-auto mr-auto">
                        <p class="text-justify text-dark">
                          Kembara Simulasi merupakan sebuah simulator kokpit dua
                          tempat duduk yang memberikan pengalaman penerokaan dan
                          penerbangan ke angkasa lepas kepada penumpang. Sebagai
                          langkah keselamatan pihak Planetarium Negara telah
                          menggariskan beberapa peraturan yang perlu dipatuhi
                          bagi memastikan penumpang dalam keadaan selamat dan
                          berupaya untuk duduk dalam keadaan tegak di sepanjang
                          masa. Langkah-langkah keselamatan adalah seperti
                          berikut:
                        </p>

                        <ol>
                          <li>
                            Had ketinggian minimum penumpang ialah 1.2 meter.
                          </li>
                          <li>
                            Jumlah berat maksimum kedua-dua penumpang pada
                            satu-satu masa yang dibenarkan ialah 226 kilogram
                          </li>
                          <li>
                            Penumpang yang menghidapi penyakit-penyakit
                            berbahaya seperti berikut adalah tidak dibenarkan:

                            <ul>
                              <li>Penyakit jantung</li>
                              <li>Tekanan darah tinggi (Hipertensi)</li>
                              <li>Sakit Belakang/Leher/Fizikal lain</li>
                              <li>
                                Gejala alahan ubatan atau dibawah pengaruh
                                alkohol
                              </li>
                              <li>Gejala kinetosis (mabuk gerakan)</li>
                              <li>
                                Gejala Nyctophobia (Fobia Gelap) dan
                                Claustrophobia (Fobia Ruang Sempit)
                              </li>
                            </ul>
                          </li>

                          <li>
                            Wanita mengandung dan warga emas melebihi 70 tahun
                            tidak digalakkan untuk menaiki Kembara Simulasi ini.
                          </li>
                          <li>
                            Penumpang perlu memastikan semua barangan yang tidak
                            terikat seperti pen, duit syiling, telefon bimbit
                            dan lain-lain yang boleh tertanggal semasa kembara
                            simulasi ini beroperasi hendaklah dikeluarkan.
                          </li>
                          <li>
                            Penumpang perlu dalam kedudukan tegak dan tidak
                            panik sekiranya Kembara Simulasi ini diberhentikan
                            secara mengejut oleh pengendali semasa keadaan
                            kecemasan.
                          </li>
                        </ol>

                        <!-- <p class="text-justify text-dark">
                          Kembara Simulasi ini akan membawa 2 orang dalam satu
                          masa untuk merasai Gerakan 360 darjah pusingan dan
                          keadaan tegak. Sebagai langkah keselamatan kami perlu
                          menghadkan pengguna kembara simulasi berdasarkan berat
                          dan saiz badan. Anda juga mesti berupaya duduk tegak
                          di sepanjang masa.
                        </p>

                        <ul>
                          <li>
                            Bagi tujuan keselamatan pengguna hendaklah
                            berketinggian lebih dari
                            <b>1.2m</b>.
                          </li>
                          <li>
                            Jumlah berat badan maksimum yang dibenarkan
                            <b>226kg</b>.
                          </li>
                          <li>
                            Pengguna dengan keadaan berikut tidak digalakkan
                            mencuba alat ini:
                          </li>
                          <ol type="i">
                            <li>Sakit Jantung/Tekanan Darah Tinggi</li>
                            <li>Sakit Belakang/Leher/ Fizikal Lain</li>
                            <li>Mengandung</li>
                            <li>
                              Alahan ubat/ Bawah pengaruh dadah atau alkohol
                            </li>
                            <li>Mabuk Gerakan/Klaustrofobia</li>
                          </ol>
                        </ul>

                        <p class="text-justify text-dark">
                          Semua barangan yang tidak terikat seperti pen, duit
                          syiling, telefon bimbit, i-pod dan lain-lain yang
                          boleh tertanggal semasa menaiki Space Pod ini
                          hendaklah dikeluarkan.
                        </p> -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="col text-center">
                        <div class="form-check">
                          <label class="form-check-label text-dark">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="accept"
                            />
                            Saya setuju dengan pernyataan di atas.
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pt-3 text-center">
                    <button
                      type="button"
                      class="btn btn-default"
                      matStepperNext
                      [disabled]="!zeroFormGroup.valid"
                    >
                      Seterusnya
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Pilih Tarikh & Masa</ng-template>
                  <div class="row pb-3">
                    <div class="col-md-4 col-sm-12"></div>
                    <div class="col-md-4 col-sm-12">
                      <alert [type]="'danger'">
                        <b
                          >Nota: Tiket online perlu ditempah sehari lebih awal
                          untuk memudahkan urusan Planetarium.</b
                        >
                      </alert>
                      <div class="form-group">
                        <label>Tarikh</label>
                        <input
                          type="text"
                          placeholder="Tarikh"
                          class="form-control"
                          formControlName="date"
                          bsDatepicker
                          [minDate]="today"
                          [maxDate]="threemonth"
                          [daysDisabled]="[1]"
                          [bsConfig]="{
                            isAnimated: true,
                            containerClass: 'theme-dark-blue',
                            dateInputFormat: 'YYYY-MM-DD'
                          }"
                          (bsValueChange)="changeDate($event)"
                        />
                      </div>
                      <div class="form-group">
                        <label>Masa</label><br />
                        <div *ngIf="times.length == 0">
                          <p class="text-danger">
                            Sila pilih tarikh terlebih dahulu!
                          </p>
                        </div>
                        <div class="row">
                          <div
                            class="col-md-4 col-sm-12 text-center"
                            *ngFor="let time of times"
                          >
                            <div class="form-check form-check-radio">
                              <label class="form-check-label">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  name="time"
                                  [value]="time.time + '_' + time.id"
                                  formControlName="time"
                                />
                                {{ time.time }}
                                <span class="form-check-sign"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12"></div>
                  </div>

                  <div class="p-3 text-center">
                    <button
                      type="button"
                      class="btn btn-warning"
                      matStepperPrevious
                    >
                      Kembali
                    </button>
                    <button
                      type="button"
                      class="btn btn-default"
                      (click)="checkExistBooking(stepper)"
                      [disabled]="!firstFormGroup.valid"
                    >
                      Seterusnya
                    </button>
                    <!-- matStepperNext -->
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>Tempahan Tiket</ng-template>
                <form [formGroup]="secondFormGroup">
                  <div class="table-responsive">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col" class="text-dark">Warganegara</th>
                          <th scope="col">
                            <bSwitch
                              switch-off-text="Tidak"
                              switch-on-text="Ya"
                              formControlName="citizen"
                              (changeState)="citizenChange()"
                            ></bSwitch>
                          </th>
                        </tr>
                      </thead>
                      <thead>
                        <tr>
                          <th scope="col" class="text-dark">Jenis Tiket</th>
                          <th scope="col" class="text-dark">Kuantiti</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" class="text-dark">
                            Dewasa<br /><small
                              *ngIf="secondFormGroup.value.citizen"
                              >(RM 12.00/Tiket)</small
                            ><small *ngIf="!secondFormGroup.value.citizen"
                              >(RM 24.00/Tiket)</small
                            >
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="adult"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row" class="text-dark">
                            Kanak-kanak bawah 12 tahun<br /><small
                              *ngIf="secondFormGroup.value.citizen"
                              >(RM 8.00/Tiket)</small
                            ><small *ngIf="!secondFormGroup.value.citizen"
                              >(RM 16.00/Tiket)</small
                            >
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="children"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr>
                        <!-- <tr>
                          <th scope="row" class="text-dark">
                            Warga emas<br /><small>(Percuma)</small>
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="senior"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr> -->
                        <!-- <tr>
                          <th scope="row" class="text-dark">
                            OKU<br /><small>(Percuma)</small>
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="oku"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr> -->
                        <tr>
                          <th scope="row" class="text-dark">Jumlah</th>
                          <td class="text-dark">
                            RM {{ secondFormGroup.value.total | number }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row" *ngIf="totalticket > 2">
                      <div class="col">
                        <alert [type]="'danger'">
                          <b
                            >Nota: Harap maaf. Kembara simulasi hanya boleh
                            dinaiki seramai 2 orang dalam 1 masa.</b
                          >
                        </alert>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-warning"
                      matStepperPrevious
                    >
                      Kembali
                    </button>
                    <button
                      type="button"
                      class="btn btn-default"
                      matStepperNext
                      [disabled]="totalticket > 2 || totalticket == 0"
                    >
                      Seterusnya
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Pengesahan</ng-template>
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <th scope="row" class="text-dark">Tarikh</th>
                        <td class="text-dark text-right">
                          {{ firstFormGroup.value.date | date }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-dark">Masa</th>
                        <td class="text-dark text-right">
                          {{ firstFormGroup.value.time.split("_", 1) }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-dark">Jumlah Tiket</th>
                        <td class="text-dark text-right">
                          {{
                            secondFormGroup.value.adult +
                              secondFormGroup.value.children
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-dark">
                          Jumlah Harga Tiket
                        </th>
                        <td class="text-dark text-right">
                          RM {{ secondFormGroup.value.total }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row">
                  <div class="col">
                    <alert [type]="'danger'">
                      <b
                        >Nota: Sila berada 10 minit lebih awal sebelum kembara
                        simulasi bermula. Dan pastikan waktu yang anda pilih,
                        tidak bertembung dengan waktu tayangan. Terima kasih.</b
                      >
                    </alert>
                  </div>
                </div>
                <div class="text-center">
                  <button
                    type="button"
                    class="btn btn-warning"
                    matStepperPrevious
                  >
                    Kembali
                  </button>
                  <button
                    type="button"
                    class="btn btn-default"
                    (click)="makePayment()"
                  >
                    Buat Bayaran
                  </button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
          <!-- <div class="col-md-2 col-sm-12"></div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalSafety>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Arahan Keselamatan</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="safetyModal.hide()"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <p class="text-justify">
          Kembara Simulasi ini akan membawa 2 orang dalam satu masa untuk
          merasai Gerakan 360 darjah pusingan dan keadaan tegak. Sebagai langkah
          keselamatan kami perlu menghadkan pengguna kembara simulasi
          berdasarkan berat dan saiz badan. Anda juga mesti berupaya duduk tegak
          di sepanjang masa.
        </p>

        <ul>
          <li>
            Bagi tujuan keselamatan pengguna hendaklah berketinggian lebih dari
            <b>1.2m</b>.
          </li>
          <li>Jumlah berat badan maksimum yang dibenarkan <b>226kg</b>.</li>
          <li>
            Pengguna dengan keadaan berikut tidak digalakkan mencuba alat ini:
          </li>
          <ol type="i">
            <li>Sakit Jantung/Tekanan Darah Tinggi</li>
            <li>Sakit Belakang/Leher/ Fizikal Lain</li>
            <li>Mengandung</li>
            <li>Alahan ubat/ Bawah pengaruh dadah atau alcohol</li>
            <li>Mabuk Gerakan/Klaustrofobia</li>
          </ol>
        </ul>

        <p class="text-justify">
          Semua barangan yang tidak terikat seperti pen, duit syiling, telefon
          bimbit, i-pod dan lain-lain yang boleh tertanggal semasa menaiki Space
          Pod ini hendaklah dikeluarkan.
        </p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="safetyModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>
