<div class="wrapper" [ngClass]="fontSize">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/show/nasa.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Kembara Simulasi</h1>
          <h2 class="description">
            Alamilah pengalaman sebagai Angkasawan di dalam Space Pod menuju ke
            USS.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised">
    <div class="section team-4 bg-white">
      <div>
        <div class="row">
          <!-- <div class="col-md-2 col-sm-12"></div> -->
          <div class="col-md-12 col-sm-12">
            <!-- <alert [type]="'info'"> -->
            <!-- <div class="row">
              <div class="col">
                <h4 class="title m-0 text-dark">Arahan Keselamatan</h4>
                <small class="text-danger">Sila baca terlebih dahulu</small>
              </div>
              <div class="col col-auto">
                <button
                  class="btn btn-default btn-sm"
                  (click)="openSafetyModal(modalSafety)"
                >
                  Tekan untuk baca
                </button>
              </div>
            </div> -->
            <!-- </alert> -->
            <mat-horizontal-stepper [linear]="true" #stepper>
              <mat-step [stepControl]="zeroFormGroup">
                <ng-template matStepLabel>{{
                  "SpacePodStep1Label" | translate
                }}</ng-template>
                <form [formGroup]="zeroFormGroup">
                  <div class="container">
                    <div class="row">
                      <div class="col ml-auto mr-auto">
                        <p class="text-justify text-dark">
                          {{ "SpacePodDescription" | translate }}
                        </p>

                        <ol>
                          <li>
                            {{ "SpacePodStepSafety1" | translate }}
                          </li>
                          <li>
                            {{ "SpacePodStepSafety2" | translate }}
                          </li>
                          <li>
                            {{ "SpacePodStepSafety3" | translate }}

                            <ul>
                              <li>{{ "SpacePodStepSafety3a" | translate }}</li>
                              <li>{{ "SpacePodStepSafety3b" | translate }}</li>
                              <li>{{ "SpacePodStepSafety3c" | translate }}</li>
                              <li>{{ "SpacePodStepSafety3d" | translate }}</li>
                              <li>{{ "SpacePodStepSafety3e" | translate }}</li>
                              <li>{{ "SpacePodStepSafety3f" | translate }}</li>
                            </ul>
                          </li>

                          <li>
                            {{ "SpacePodStepSafety4" | translate }}
                          </li>
                          <li>
                            {{ "SpacePodStepSafety5" | translate }}
                          </li>
                          <li>
                            {{ "SpacePodStepSafety6" | translate }}
                          </li>
                        </ol>

                        <!-- <p class="text-justify text-dark">
                          Kembara Simulasi ini akan membawa 2 orang dalam satu
                          masa untuk merasai Gerakan 360 darjah pusingan dan
                          keadaan tegak. Sebagai langkah keselamatan kami perlu
                          menghadkan pengguna kembara simulasi berdasarkan berat
                          dan saiz badan. Anda juga mesti berupaya duduk tegak
                          di sepanjang masa.
                        </p>

                        <ul>
                          <li>
                            Bagi tujuan keselamatan pengguna hendaklah
                            berketinggian lebih dari
                            <b>1.2m</b>.
                          </li>
                          <li>
                            Jumlah berat badan maksimum yang dibenarkan
                            <b>226kg</b>.
                          </li>
                          <li>
                            Pengguna dengan keadaan berikut tidak digalakkan
                            mencuba alat ini:
                          </li>
                          <ol type="i">
                            <li>Sakit Jantung/Tekanan Darah Tinggi</li>
                            <li>Sakit Belakang/Leher/ Fizikal Lain</li>
                            <li>Mengandung</li>
                            <li>
                              Alahan ubat/ Bawah pengaruh dadah atau alkohol
                            </li>
                            <li>Mabuk Gerakan/Klaustrofobia</li>
                          </ol>
                        </ul>

                        <p class="text-justify text-dark">
                          Semua barangan yang tidak terikat seperti pen, duit
                          syiling, telefon bimbit, i-pod dan lain-lain yang
                          boleh tertanggal semasa menaiki Space Pod ini
                          hendaklah dikeluarkan.
                        </p> -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="col text-center">
                        <div class="form-check">
                          <label class="form-check-label text-dark">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              formControlName="accept"
                            />
                            {{ "SpacePodStep1Agreement" | translate }}
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pt-3 text-center">
                    <button
                      type="button"
                      class="btn btn-default"
                      matStepperNext
                      [disabled]="!zeroFormGroup.valid"
                    >
                      {{ "Seterusnya" | translate }}
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>{{
                    "SpacePodStep2Label" | translate
                  }}</ng-template>
                  <div class="row pb-3">
                    <div class="col-md-7 col-sm-12 mx-auto">
                      <alert [type]="'danger'">
                        <b>{{ "SpacePodStep2Note" | translate }}</b>
                      </alert>
                      <div class="form-group">
                        <label>{{ "Tarikh" | translate }}</label>
                        <input
                          type="text"
                          placeholder="{{ 'Tarikh' | translate }}"
                          class="form-control"
                          formControlName="date"
                          bsDatepicker
                          [minDate]="today"
                          [maxDate]="threemonth"
                          [daysDisabled]="[1]"
                          [bsConfig]="{
                            isAnimated: true,
                            containerClass: 'theme-dark-blue',
                            dateInputFormat: 'YYYY-MM-DD'
                          }"
                          (bsValueChange)="changeDate($event)"
                        />
                      </div>
                      <div class="form-group">
                        <label>{{ "Masa" | translate }}</label
                        ><br />
                        <div *ngIf="times.length == 0">
                          <p class="text-danger">
                            {{ "MasaNota" | translate }}
                          </p>
                        </div>
                        <div
                          class="row d-flex justify-content-center"
                          *ngFor="let bookingtime of bookingtimes"
                        >
                          <div *ngFor="let time of times">
                            <div
                              class="col mx-auto"
                              *ngIf="bookingtime === time.time.substring(0, 2)"
                            >
                              <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                  <input
                                    class="form-check-input"
                                    type="radio"
                                    name="time"
                                    [value]="time.time + '_' + time.id"
                                    formControlName="time"
                                  />
                                  {{ time.time }}
                                  <span class="form-check-sign"></span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="p-3 text-center">
                    <button
                      type="button"
                      class="btn btn-warning"
                      matStepperPrevious
                    >
                      {{ "Kembali" | translate }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-default"
                      (click)="checkExistBooking(stepper)"
                      [disabled]="!firstFormGroup.valid"
                    >
                      {{ "Seterusnya" | translate }}
                    </button>
                    <!-- matStepperNext -->
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>{{
                  "SpacePodStep3Label" | translate
                }}</ng-template>
                <form [formGroup]="secondFormGroup">
                  <div class="row">
                    <div class="col-6 mx-auto">
                      <div class="table-responsive">
                        <table class="table table-borderless">
                          <thead>
                            <tr>
                              <th scope="col" class="text-dark">
                                {{ "Warganegara" | translate }}
                              </th>
                              <th scope="col text-center">
                                <bSwitch
                                  switch-off-text="{{ 'Tidak' | translate }}"
                                  switch-on-text="{{ 'Ya' | translate }}"
                                  formControlName="citizen"
                                  (changeState)="citizenChange()"
                                ></bSwitch>
                              </th>
                            </tr>
                          </thead>
                          <thead>
                            <tr>
                              <th scope="col" class="text-dark">
                                {{ "JenisTiket" | translate }}
                              </th>
                              <th scope="col" class="text-dark">
                                {{ "Kuantiti" | translate }}
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row" class="text-dark">
                                {{ "Dewasa" | translate }}<br /><small
                                  *ngIf="secondFormGroup.value.citizen"
                                  >(RM 12.00/{{ "Tiket" | translate }})</small
                                ><small *ngIf="!secondFormGroup.value.citizen"
                                  >(RM 24.00/{{ "Tiket" | translate }})</small
                                >
                              </th>
                              <td class="text-dark">
                                <ngx-number-spinner
                                  [value]="0"
                                  (change)="calculateTotal()"
                                  [min]="0"
                                  formControlName="adult"
                                >
                                </ngx-number-spinner>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row" class="text-dark">
                                {{ "Kanakkanak" | translate }}<br /><small
                                  *ngIf="secondFormGroup.value.citizen"
                                  >(RM 8.00/{{ "Tiket" | translate }})</small
                                ><small *ngIf="!secondFormGroup.value.citizen"
                                  >(RM 16.00/{{ "Tiket" | translate }})</small
                                >
                              </th>
                              <td class="text-dark">
                                <ngx-number-spinner
                                  [value]="0"
                                  (change)="calculateTotal()"
                                  [min]="0"
                                  formControlName="children"
                                >
                                </ngx-number-spinner>
                              </td>
                            </tr>
                            <!-- <tr>
                          <th scope="row" class="text-dark">
                            Warga emas<br /><small>(Percuma)</small>
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="senior"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr> -->
                            <!-- <tr>
                          <th scope="row" class="text-dark">
                            OKU<br /><small>(Percuma)</small>
                          </th>
                          <td class="text-dark">
                            <ngx-number-spinner
                              [value]="0"
                              (change)="calculateTotal()"
                              [min]="0"
                              formControlName="oku"
                            >
                            </ngx-number-spinner>
                          </td>
                        </tr> -->
                            <tr>
                              <th scope="row" class="text-dark">
                                {{ "Jumlah" | translate }}
                              </th>
                              <td class="text-dark">
                                RM {{ secondFormGroup.value.total | number }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="row" *ngIf="totalticket > 2">
                          <div class="col">
                            <alert [type]="'danger'">
                              <b>{{ "SpacePodStep3Note" | translate }}</b>
                            </alert>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-warning"
                      matStepperPrevious
                    >
                      {{ "Kembali" | translate }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-default"
                      matStepperNext
                      [disabled]="totalticket > 2 || totalticket == 0"
                    >
                      {{ "Seterusnya" | translate }}
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>{{
                  "SpacePodStep4Label" | translate
                }}</ng-template>
                <div class="row">
                  <div class="col-6 mx-auto">
                    <div class="table-responsive">
                      <table class="table table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" class="text-dark">
                              {{ "Tarikh" | translate }}
                            </th>
                            <td class="text-dark text-right">
                              {{ firstFormGroup.value.date | date }}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-dark">
                              {{ "Masa" | translate }}
                            </th>
                            <td class="text-dark text-right">
                              {{ firstFormGroup.value.time.split("_", 1) }}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-dark">
                              {{ "Jumlah" | translate }}
                              {{ "Tiket" | translate }}
                            </th>
                            <td class="text-dark text-right">
                              {{
                                secondFormGroup.value.adult +
                                  secondFormGroup.value.children
                              }}
                            </td>
                          </tr>
                          <tr>
                            <th scope="row" class="text-dark">
                              {{ "JumlahHargaTiket" | translate }}
                            </th>
                            <td class="text-dark text-right">
                              RM {{ secondFormGroup.value.total }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col">
                        <alert [type]="'danger'">
                          <b>{{ "SpacePodStep4Note" | translate }}</b>
                        </alert>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button
                    type="button"
                    class="btn btn-warning"
                    matStepperPrevious
                  >
                    {{ "Kembali" | translate }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-default"
                    (click)="makePayment()"
                  >
                    {{ "TambahKeTroli" | translate }}
                  </button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
          <!-- <div class="col-md-2 col-sm-12"></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
