<div class="header header-4">
  <div class="header-wrapper">
    <div class="page-header header-video header-filter">
      <!-- <div class="overlay"></div> -->
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
      >
        <source
          src="../../../assets/video/planetarium-homepage-video.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container text-center">
        <div class="video-text">
          <h1 class="title">Portal Rasmi Planetarium Negara</h1>
          <h4 class="text-center">
            Kementerian Sains, Teknologi & Inovasi (MOSTI)
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- <div class="page-header page-header-small header-filter">
        <div
          class="page-header-image rellax"
          data-parallax="true"
          style="background-image: url('assets/img/exhibit/minin.jpg')"
        ></div>
        <div class="content-center">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h1 class="title">Mengenai Kami</h1>
            </div>
          </div>
        </div>
      </div> -->
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container">
        <h2 class="title text-center text-dark">Visi & Misi</h2>
        <div class="row pb-3">
          <div class="col-1">
            <h2 class="text-dark title m-0">Misi</h2>
          </div>
          <div class="col-auto">
            <p class="text-dark text-justify">
              Menyediakan prasarana dan perkhidmatan yang berkualiti kepada
              masyarakat berkaitan aktiviti astronomi dan sains angkasa.
            </p>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-1">
            <h2 class="text-dark title m-0">Visi</h2>
          </div>
          <div class="col-auto">
            <p class="text-dark text-justify">
              Pusat pendidikan tidak formal dan pembudayaan sains angkasa
              terunggul di Malaysia.
            </p>
          </div>
        </div>

        <div class="row pb-3">
          <h2 class="text-dark title">Fungsi</h2>
          <ul style="list-style-type: disc">
            <li>
              <p class="text-dark text-justify">
                Memperkasakan peranan Planetarium Negara sebagai sebuah
                organisasi pembudayaan STEM khususnya dalam bidang astronomi dan
                sains angkasa di Malaysia.
              </p>
            </li>
            <li>
              <p class="text-dark text-justify">
                Membudayakan dan meningkatkan kesedaran awam terhadap
                kepentingan bidang astronomi dan sains angkasa melalui tayangan,
                pameran, program dan media sosial.
              </p>
            </li>
            <li>
              <p class="text-dark text-justify">
                Menyediakan kemahiran dalam pengendalian instrumentasi tayangan
                digital astronomi optikal dan radio amatur.
              </p>
            </li>
            <li>
              <p class="text-dark text-justify">
                Memberikan khidmat nasihat, koordinasi dan bimbingan untuk
                pembangunan modal insan dalam bidang astronomi dan sains angkasa
                di Malaysia.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
