<div class="wrapper" [ngClass]="fontSize">
  <div class="page-header page-header-small header-filter">
    <!-- <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/facility/gabriel.jpg')"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Fasiliti</h1>
          <h2 class="description">
            Fasiliti-fasiliti Planetarium yang boleh disewa untuk pelbagai
            kegunaan.
          </h2>
        </div>
      </div>
    </div> -->
    <carousel>
      <slide>
        <img
          src="../../../assets/img/show/show-1.jpg"
          alt="second slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-2.jpg"
          alt="third slide"
          style="display: block; width: 100%"
        />
      </slide>
      <slide>
        <img
          src="../../../assets/img/show/show-3.jpg"
          alt="first slide"
          style="display: block; width: 100%"
        />
      </slide>
    </carousel>
  </div>
  <div class="main main-raised bg-white">
    <div class="section">
      <div class="container pb-5">
        <h2 class="title text-center text-dark">
          Fasiliti Planetarium <share-button button="facebook"></share-button
          ><share-button button="twitter"></share-button
          ><share-button button="whatsapp"></share-button>
        </h2>
        <br />

        <div class="row">
          <div class="col-lg-4">
            <div
              class="card card-blog card-background"
              data-animation="zooming"
            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/fasiliti_1.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Teater Angkasa</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">Teater Angkasa</h3>
                      </a>
                    </div>
                    <div class="col-auto text-right">
                      <button
                        class="btn btn-primary btn-sm"
                        [routerLink]="['/facility/details/', 'TA']"
                      >
                        Lihat
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card card-blog card-background"
              data-animation="zooming"
            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/fasiliti_2.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Galeri Pameran</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">Galeri Pameran</h3>
                      </a>
                    </div>
                    <div class="col-auto text-right">
                      <button
                        class="btn btn-primary btn-sm"
                        [routerLink]="['/facility/details/', 'GP']"
                      >
                        Lihat
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card card-blog card-background"
              data-animation="zooming"
            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/fasiliti_6.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Teatret</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">Bilik Orion</h3>
                      </a>
                    </div>
                    <div class="col-auto text-right">
                      <button
                        class="btn btn-primary btn-sm"
                        [routerLink]="['/facility/details/', 'TT']"
                      >
                        Lihat
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div
              class="card card-blog card-background"
              data-animation="zooming"
            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/1 centaurus.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Bilik Centaurus</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">Bilik Centaurus</h3>
                      </a>
                    </div>
                    <div class="col-auto text-right">
                      <button
                        class="btn btn-primary btn-sm"
                        [routerLink]="['/facility/details/', 'BC']"
                      >
                        Lihat
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card card-blog card-background"
              data-animation="zooming"
            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/fasiliti_7.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Kawasan Rekreasi</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">Kawasan Rekreasi</h3>
                      </a>
                    </div>
                    <div class="col-auto text-right">
                      <button
                        class="btn btn-primary btn-sm"
                        [routerLink]="['/facility/details/', 'KR']"
                      >
                        Lihat
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="card card-blog card-background"
              data-animation="zooming"
            >
              <div
                class="full-background"
                style="
                  background-image: url('assets/img/facility/fasiliti_5.jpg');
                "
              ></div>
              <div class="card-body">
                <div class="content-bottom">
                  <!-- <h6 class="card-category">Stesen Mikrosatelit</h6> -->
                  <div class="row align-items-center">
                    <div class="col">
                      <a>
                        <h3 class="card-title">Stesen Mikrosatelit</h3>
                      </a>
                    </div>
                    <div class="col-auto text-right">
                      <button
                        class="btn btn-primary btn-sm"
                        [routerLink]="['/facility/details/', 'SM']"
                      >
                        Lihat
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDefault [ngClass]="fontSize">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Tempahan</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      <span aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <form class="js-validate">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <label class="labels">
                  Nama penuh <span class="text-danger"> * </span>
                </label>
                <input
                  aria-label="Nurul Aiman"
                  class="form-control"
                  name="firstName"
                  placeholder="Nurul Aiman"
                  required=""
                  type="text"
                />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels">
                    Alamat emel <span class="text-danger"> * </span>
                  </label>
                  <input
                    aria-label="thompson@gmail.com"
                    class="form-control"
                    name="emailAddress"
                    placeholder="thompson@gmail.com"
                    required=""
                    type="email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="js-form-message mb-6">
                  <label class="labels"> No. tel </label>
                  <input
                    aria-label="+6017666162"
                    class="form-control"
                    placeholder="+6017666162"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="js-form-message mb-6">
                  <label class="labels">
                    Bilangan orang <span class="text-danger"> * </span>
                  </label>
                  <input
                    aria-label="Bilangan orang"
                    class="form-control"
                    name="streetAddress"
                    placeholder="Bilangan orang"
                    required=""
                    type="text"
                  />
                </div>
              </div>
            </div>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="button">Buat tempahan</button>

    <button
      class="btn btn-link ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="defaultModal.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>
